workflows/[UDIA] Chatbot de voz con ElevenLabs.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-26T18:04:13.692Z",
    "createdAt": "2025-11-26T18:04:13.692Z",
    "versionId": "fe1d146a-d5bc-4107-8ad1-24682f15e52e",
    "workflowId": "g5gMlhbFgIHVbi5s",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.pregunta }}",
          "options": {}
        },
        "id": "f296c089-cdaf-4367-ba6a-027fdde4f197",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          304,
          0
        ],
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "d033b747-7b1a-4170-bdcc-3fa53b3ae87f",
        "name": "Respond to ElevenLabs",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          720,
          0
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "41dccf24-8adf-4075-b7ea-70871637f209",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          192,
          240
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "lF7UohlhOobJXkZr",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "elevenlabs",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b98aa0b1-82fa-4d34-9dc9-f1a8abeaea74",
        "name": "Listen",
        "type": "n8n-nodes-base.webhook",
        "position": [
          0,
          0
        ],
        "webhookId": "e9f611eb-a8dd-4520-8d24-9f36deaca528",
        "typeVersion": 2
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Listen').item.json.headers['x-forwarded-host'] }}"
        },
        "id": "98ffdec9-b78f-447d-83f8-5aef0fd6336f",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          352,
          240
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "c8c6d070-e0a7-404e-918e-a4d6d86ab357",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "position": [
          512,
          368
        ],
        "typeVersion": 1.1,
        "credentials": {
          "openAiApi": {
            "id": "lF7UohlhOobJXkZr",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "udia_informacion",
          "toolDescription": "Contienes información sobre lo que ofrece UDIA",
          "pineconeIndex": {
            "__rl": true,
            "value": "ragudia",
            "mode": "list",
            "cachedResultName": "ragudia"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          528,
          208
        ],
        "id": "fb0983d1-5bec-4c05-868c-4f7d82196374",
        "name": "Pinecone Vector Store1",
        "credentials": {
          "pineconeApi": {
            "id": "ZjaedD1lFrbmepw0",
            "name": "PineconeApi account"
          }
        }
      }
    ],
    "connections": {
      "Listen": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to ElevenLabs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "fe1d146a-d5bc-4107-8ad1-24682f15e52e",
  "connections": {
    "Listen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-23T09:44:58.902Z",
  "id": "g5gMlhbFgIHVbi5s",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Chatbot de voz con ElevenLabs",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {}
      },
      "id": "f296c089-cdaf-4367-ba6a-027fdde4f197",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        304,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d033b747-7b1a-4170-bdcc-3fa53b3ae87f",
      "name": "Respond to ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        720,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "41dccf24-8adf-4075-b7ea-70871637f209",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        192,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b98aa0b1-82fa-4d34-9dc9-f1a8abeaea74",
      "name": "Listen",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "webhookId": "e9f611eb-a8dd-4520-8d24-9f36deaca528",
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen').item.json.headers['x-forwarded-host'] }}"
      },
      "id": "98ffdec9-b78f-447d-83f8-5aef0fd6336f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        352,
        240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c8c6d070-e0a7-404e-918e-a4d6d86ab357",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        512,
        368
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "udia_informacion",
        "toolDescription": "Contienes información sobre lo que ofrece UDIA",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "fb0983d1-5bec-4c05-868c-4f7d82196374",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ZjaedD1lFrbmepw0",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-23T09:44:58.910Z",
      "createdAt": "2025-10-23T09:44:58.910Z",
      "role": "workflow:owner",
      "workflowId": "g5gMlhbFgIHVbi5s",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-27T18:45:13.000Z",
  "versionId": "fe1d146a-d5bc-4107-8ad1-24682f15e52e"
}