workflows/[UDIA] Transformación de datos.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Add To Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract part of time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format a date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Substract date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage": {
      "main": [
        [
          {
            "node": "Image Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-16T14:30:01.025Z",
  "id": "bOfdJrZpfdBBsD1e",
  "isArchived": false,
  "meta": null,
  "name": "[UDIA] Transformación de datos",
  "nodes": [
    {
      "parameters": {},
      "id": "9310be7b-89e5-44d0-9670-9060bd5e0e4d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        688
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "8459f3e1-28a8-470a-9ec7-037c8c52223b",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -368,
        688
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "weeks",
        "duration": 10,
        "options": {}
      },
      "id": "3ee809bd-da2b-4de7-a274-dd067eb79c11",
      "name": "Add To Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        128,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "part": "hour",
        "outputFieldName": "year",
        "options": {
          "includeInputFields": false
        }
      },
      "id": "217d64b5-6818-40bb-a2bb-1699a1d0f74f",
      "name": "Extract part of time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        128,
        144
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "id": "c7341eb7-6c57-4270-b5c5-d38abc518ebf",
      "name": "Format a date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        128,
        304
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 20,
        "options": {}
      },
      "id": "327643a8-c554-4858-bfbe-90d2ce35d871",
      "name": "Substract date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        128,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "308bc1e5-5b7b-497b-8feb-8bcca5cf7c8f",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "effaf34d-97c1-4209-a1e9-8f756570099d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        128,
        688
      ]
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "id": "b743388b-a6ed-49e7-8559-144d0024aeae",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        128,
        864
      ]
    },
    {
      "parameters": {
        "compare": "allFieldsExcept",
        "fieldsToExclude": "creator",
        "options": {}
      },
      "id": "804707ac-521f-4ecf-a96d-6493ee0e86e7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        128,
        1024
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "id": "0f520464-42dc-454b-81e0-badbbedcf5bd",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        128,
        1168
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link",
              "renameField": true,
              "outputFieldName": "enlace"
            }
          ]
        },
        "options": {}
      },
      "id": "c3a06e73-60ab-47f4-832b-93e86c4706df",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        1168
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/negocios/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "ec5197ee-0d8f-493b-bc34-5482ad38bfce",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -352,
        1328
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "creator"
            }
          ]
        },
        "options": {}
      },
      "id": "8f55e543-1b18-4b94-8e1d-a1e6e345e6e1",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        128,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "f760ffd7-e85e-40e7-98b3-c2d4d60f3c5d",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        128,
        1664
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "fileName": "=data_rss_{{ $runIndex }}.zip",
        "binaryPropertyOutput": "rss"
      },
      "id": "d87c7b02-e558-4074-8a0e-a3b95d7a952c",
      "name": "Compression",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        320,
        1664
      ]
    },
    {
      "parameters": {
        "binaryData": true
      },
      "id": "79ff85f9-5ee5-4fca-8b68-507d58125e52",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        320,
        1824
      ]
    },
    {
      "parameters": {
        "url": "https://wallpapers.com/images/high/waving-logo-of-windows-95-om3nphkrq635dc8u.webp",
        "options": {}
      },
      "id": "e0d035ea-04b6-4ada-b7a4-3d275008a985",
      "name": "GetImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "height": 300,
        "resizeOption": "ignoreAspectRatio",
        "options": {
          "fileName": "",
          "format": "png",
          "quality": 100
        }
      },
      "id": "b3eb6cb5-765a-49b8-a42f-0afc1e9eb921",
      "name": "Image Format",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -176,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "text": "VALENTIN AYESA PARA UDIA",
        "fontSize": 35,
        "fontColor": "#EF0F0F",
        "options": {}
      },
      "id": "6cdad1b4-adc1-4d2d-8a59-581f9a008de0",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -128,
        1808
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "medio"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "349d874b-f8b8-41d9-9041-7e7a234c97a2",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        336,
        1344
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            },
            {
              "fieldName": "medio"
            }
          ]
        },
        "options": {}
      },
      "id": "eef2bea2-69ae-40a1-91b0-4586ba9b2f7f",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        560,
        1344
      ]
    },
    {
      "parameters": {},
      "id": "e09ab128-3890-4908-a4e7-f97e43d5e252",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        128,
        1344
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-16T14:30:01.040Z",
      "createdAt": "2025-10-16T14:30:01.040Z",
      "role": "workflow:owner",
      "workflowId": "bOfdJrZpfdBBsD1e",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T19:10:32.000Z",
  "versionId": "0fcf6c8b-1872-4096-b02e-43eb45dc513b"
}