workflows/Agente Clinica Zenit.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-15T20:57:33.000Z",
    "createdAt": "2026-01-15T20:57:31.594Z",
    "versionId": "a982c504-0f6a-4c44-bf3b-3592a7c97c19",
    "workflowId": "W0oyEPLC9l51Ryjo",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bot",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "66cdf979-67c8-4e16-bed4-030d894f471f",
        "name": "Webhook: Receive User Request (ElevenLabs)",
        "type": "n8n-nodes-base.webhook",
        "position": [
          192,
          624
        ],
        "webhookId": "90d9fd4e-4549-4dd3-acb6-91742b89b939",
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "8fac1e20-b3e0-4a31-b7ec-4a942febdecc",
        "name": "Webhook: Return AI Response (ElevenLabs)",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          736,
          624
        ],
        "typeVersion": 1.4
      },
      {
        "parameters": {},
        "id": "47852edc-3881-4e8d-ba31-dc201204dc83",
        "name": "Reasoning Tool (LangChain)",
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "position": [
          448,
          848
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=# IDENTITY\nEres María, la recepcionista virtual de la Clínica Dental.\nTu trabajo es gestionar citas telefónicas. NO eres un chat de texto; eres una voz.\nTu respuesta debe ser texto plano listo para ser leído por ElevenLabs.\n\n# CRITICAL CONTEXT (Anchor Points)\n- **FECHA Y HORA ACTUAL (NOW):** {{ $now.format('dddd, D [de] MMMM, HH:mm') }}\n- **Caller ID:** {{ $json.body.system_caller_id }}\n- **Historial:** {{ $json.body.call_log }}\n- **Último mensaje:** {{ $json.body.utterance }}\n\n# TOOLS AVAILABLE\n1. `think`: Úsalo SIEMPRE para calcular fechas y planificar.\n2. `get_availability`: Input obligatoio: Fecha ISO (YYYY-MM-DD).\n3. `create_appointment`: Inputs: nombre, telefono, motivo, fecha_iso.\n4. `update_appointment`: Inputs: nombre, telefono, motivo, fecha_iso.\n5. `cancel_appointment`: Inputs: nombre, telefono, fecha_iso.\n\n# REGLAS DE ORO (Lógica de Negocio)\n1. **HORARIO:** Lunes a Sábado, 10:00 - 20:00. Domingos CERRADO.\n2. **ANCLAJE TEMPORAL (CRÍTICO):**\n   - Si el usuario dice \"mañana\", **CALCULA** mentalmente la fecha de (NOW + 1 día).\n   - Si el usuario dice \"el lunes\", calcula la fecha del *próximo* lunes.\n   - NUNCA asumas que \"mañana\" es hoy.\n3. **VERIFICACIÓN OBLIGATORIA:**\n   - **PROHIBIDO** confirmar una cita sin antes recibir \"Available\" de la herramienta `get_availability`.\n   - Si la herramienta dice \"Busy\" (Ocupado), **OFRECE** horas disponibles en el mismo día.\n\n# PROTOCOLO DE CONVERSACIÓN (Paso a Paso)\n\n### PASO 1: ANÁLISIS DE INTENCIÓN\nLee el historial. ¿Qué quiere hacer el usuario?\n- Si quiere NUEVA -> Usa lógica de `create_appointment`.\n- Si quiere CAMBIAR -> Usa lógica de `update_appointment`.\n- Si quiere CANCELAR -> Usa lógica de `cancel_appointment`.\n\n### PASO 2: RECOLECCIÓN DE DATOS\nDependiendo de la intención, necesitas llaves diferentes:\n- **Para AGENDAR o MODIFICAR:** Necesitas 4 llaves: Fecha/Hora, Nombre, Motivo, Teléfono.\n- **Para CANCELAR:** Necesitas 3 llaves: Fecha/Hora de la cita (para localizarla), Nombre y Teléfono. (NO pidas motivo).\n\n### PASO 3: VALIDACIÓN DE TELÉFONO (UX Híbrida)\n- **Caso A (Silencioso):** Si el usuario NO menciona ningún número o dice \"sí, usa este\", asume que es el `Caller ID`.\n  - *Respuesta:* \"Te confirmo en el número desde el que llamas.\" (NO LEAS EL NÚMERO).\n- **Caso B (Explícito):** Si el usuario dicta un número nuevo.\n  - *Respuesta:* \"Confirmo el número: [lee los dígitos separados por espacio: 6 6 5...]. ¿Correcto?\"\n\n### PASO 4: EJECUCIÓN Y RESPUESTA FINAL\nSolo cuando tengas los datos necesarios:\n- **Si es Agendar/Modificar:** Verifica disponibilidad con `get_availability` antes de llamar a `create`/`update`.\n- **Si es Cancelar:** Ejecuta DIRECTAMENTE `cancel_appointment` (no necesitas verificar disponibilidad).\n- Genera la respuesta de voz confirmando la acción.\n\n# GUÍA DE ESTILO DE RESPUESTA (Output)\n- **Sé breve:** Máximo 2 frases.\n- **Español de España:** Natural y profesional.\n- **Sin formato:** NO uses Markdown, ni guiones, ni asteriscos. Solo texto.\n- **Fechas:** Di \"el viernes 12\", nunca digas \"2024 guion 10\".\n\n# EJEMPLOS DE PENSAMIENTO (Internal Logic)\nUser: \"Quiero cita para mañana a las 10.\"\n1. (Think): Hoy es Jueves 15. Mañana es Viernes 16. Hora 10:00.\n2. (Action): `get_availability(\"202X-XX-16\")`.\n3. (Result): Available.\n4. (Speech): \"Tengo libre mañana viernes a las 10. ¿Te lo reservo?\"\n\nUser: \"Cancela mi cita del viernes.\"\n1. (Think): Intención de cancelación. Viernes es día 16. Tengo el nombre y teléfono del contexto.\n2. (Action): `cancel_appointment(nombre=\"Paco\", telefono=\"+34...\", fecha_iso=\"202X-XX-16\")`.\n3. (Speech): \"Entendido Paco, he cancelado tu cita del viernes 16.\"",
          "options": {}
        },
        "id": "4da085a2-7d61-442f-b256-151de9314a00",
        "name": "Voice AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          416,
          624
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId }}",
          "contextWindowLength": 20
        },
        "id": "ec64e18f-6954-4d3c-a3a7-e7508b9e50a9",
        "name": "Redis Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "position": [
          304,
          848
        ],
        "typeVersion": 1.5,
        "credentials": {
          "redis": {
            "id": "UL7ltYo9aztqTnxu",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "content": "## PROMPT CONFIGURATION REQUIRED\n\n1. **[TIMEZONE]** - Set your timezone (e.g., PST, EST, GMT)\n\n2. **[APPOINTMENT_DURATION]** - Default appointment length in minutes (e.g., 30, 45, 60)\n\n3. **[START_TIME] & [END_TIME]** - Business hours (e.g., 8am & 6pm)\n\n4. **[OPERATING_DAYS]** - Days you're open (e.g., Monday through Friday)\n\n5. **[BLOCKED_DAYS]** - Days never available (e.g., Saturday or Sunday)\n\n6. **[MINIMUM_LEAD_TIME]** - Buffer time before appointments in minutes (e.g., 60)\n\n7. **[REQUIRED_FIELDS]** - Data you need to collect (e.g., email, phone, address)\n\n8. **[REQUIRED_FIELDS_NATURAL_LANGUAGE]** - How to ask for the fields (e.g., \"the service address and your email\")\n\n9. **[REQUIRED_FIELDS_LIST]** - List format for critical rules (e.g., \"address, email, phone\")\n\n10. **[SERVICE_TYPE]** - Your service name (e.g., \"Plumbing Service\", \"Consultation\", \"Dental Appointment\")\n\n11. **[PRIMARY_IDENTIFIER]** - What goes after service type in title (e.g., [Address], [Customer Name], [Service Details])\n\n12. **[REQUIRED_NOTES_FIELDS]** - What to include in appointment notes (e.g., \"Problem description from call_log, user's email, user's address, and user's phone number\")\n\n**NOTE:** Keep all {{ }} variables exactly as they are - these dynamically pull data from the ElevenLabs webhook and should NOT be modified.",
          "height": 608,
          "width": 1120,
          "color": 4
        },
        "id": "2312ef45-8508-4b81-a12f-e7cf37c6085e",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## AI MODEL CONFIGURATION\n**Recommended:** Claude 3.5 Sonnet provides best results for voice interactions due to superior reasoning and instruction following.\n\n**Alternative Options:**\n- GPT-4 models can work but may require prompt adjustments\n- Smaller models may struggle with complex scheduling logic\n- Test thoroughly if using non-Claude models\n\n**Note:** The \"think\" tool is critical for maintaining conversation state - do not remove it regardless of model choice.",
          "height": 336,
          "width": 448
        },
        "id": "67a7dc76-9109-4ad9-b34f-9636b8fc8c67",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -400,
          960
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## WEBHOOK SETUP\n1. Replace \"REPLACE ME\" in the webhook path with your desired endpoint\n2. This webhook URL will be provided to ElevenLabs for integration\n3. Ensure webhook is set to POST method\n4. Test with ElevenLabs webhook tester before going live",
          "height": 224,
          "width": 448,
          "color": 3
        },
        "id": "64991c76-a5c6-48d2-92a2-292b14af9c0a",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -400,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## GOOGLE CALENDAR SETUP\n1. Replace all instances of \"REPLACE ME\" in calendar nodes with your Calendar ID\n2. Calendar ID format: xxxxx@group.calendar.google.com or your-email@gmail.com\n3. Ensure calendar has appropriate sharing permissions\n4. Connect your Google account via OAuth2 in credentials",
          "height": 192,
          "width": 512,
          "color": 4
        },
        "id": "5fb27e62-b5ba-45ac-b47d-04c4b4ea10e8",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## REDIS MEMORY SETUP\nRedis memory is necessary for this workflow to function properly. Without memory, the AI must reparse the entire conversation on every turn, causing severe lag and breaking the real-time voice experience.\n\n**Configuration:**\n- Stores 20 messages per session (adjustable in contextWindowLength parameter)\n- Uses session ID from ElevenLabs to maintain conversation continuity\n- Session data persists between calls from the same user\n- Configure Redis connection in credentials before using this workflow",
          "height": 288,
          "width": 512,
          "color": 6
        },
        "id": "f5c4f4af-5afd-423a-9eee-10127b9979f2",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          64,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          128,
          832
        ],
        "id": "abc0626e-3126-4a75-8d30-98252ead7200",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "YHe997AlWBEa1Czy",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "=alvarezvidalpablo@gmail.com",
            "mode": "id"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "useDefaultReminders": "=",
          "updateFields": {}
        },
        "id": "3e4dc9a6-ea57-4832-86c9-6871c99b51a7",
        "name": "update_appointment",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          960,
          848
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "=alvarezvidalpablo@gmail.com",
            "mode": "id"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "id": "2ceb37f1-4755-43c9-9baf-ff0075ac59f2",
        "name": "get_availability",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          640,
          848
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "=alvarezvidalpablo@gmail.com",
            "mode": "id"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "attendees": [],
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "sendUpdates": "all",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "id": "2609a75c-e820-4ad1-b0f9-bffa84817cfb",
        "name": "create_appointment",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          784,
          848
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "cachedResultName": "alvarezvidalpablo@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1136,
          848
        ],
        "id": "81acfe36-482c-4e77-bea7-7b1a44aeaad0",
        "name": "cancel_appointment",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "Voice AI Agent": {
        "main": [
          [
            {
              "node": "Webhook: Return AI Response (ElevenLabs)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Reasoning Tool (LangChain)": {
        "ai_tool": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: Receive User Request (ElevenLabs)": {
        "main": [
          [
            {
              "node": "Voice AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "update_appointment": {
        "ai_tool": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_availability": {
        "ai_tool": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "create_appointment": {
        "ai_tool": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancel_appointment": {
        "ai_tool": [
          [
            {
              "node": "Voice AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version a982c504",
    "description": ""
  },
  "activeVersionId": "a982c504-0f6a-4c44-bf3b-3592a7c97c19",
  "connections": {
    "Voice AI Agent": {
      "main": [
        [
          {
            "node": "Webhook: Return AI Response (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reasoning Tool (LangChain)": {
      "ai_tool": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive User Request (ElevenLabs)": {
      "main": [
        [
          {
            "node": "Voice AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "update_appointment": {
      "ai_tool": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_availability": {
      "ai_tool": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_appointment": {
      "ai_tool": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancel_appointment": {
      "ai_tool": [
        [
          {
            "node": "Voice AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-06T19:33:59.526Z",
  "id": "W0oyEPLC9l51Ryjo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Clinica Zenit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "66cdf979-67c8-4e16-bed4-030d894f471f",
      "name": "Webhook: Receive User Request (ElevenLabs)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        192,
        624
      ],
      "webhookId": "90d9fd4e-4549-4dd3-acb6-91742b89b939",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8fac1e20-b3e0-4a31-b7ec-4a942febdecc",
      "name": "Webhook: Return AI Response (ElevenLabs)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        736,
        624
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {},
      "id": "47852edc-3881-4e8d-ba31-dc201204dc83",
      "name": "Reasoning Tool (LangChain)",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        448,
        848
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# IDENTITY\nEres María, la recepcionista virtual de la Clínica Dental.\nTu trabajo es gestionar citas telefónicas. NO eres un chat de texto; eres una voz.\nTu respuesta debe ser texto plano listo para ser leído por ElevenLabs.\n\n# CRITICAL CONTEXT (Anchor Points)\n- **FECHA Y HORA ACTUAL (NOW):** {{ $now.format('dddd, D [de] MMMM, HH:mm') }}\n- **Caller ID:** {{ $json.body.system_caller_id }}\n- **Historial:** {{ $json.body.call_log }}\n- **Último mensaje:** {{ $json.body.utterance }}\n\n# TOOLS AVAILABLE\n1. `think`: Úsalo SIEMPRE para calcular fechas y planificar.\n2. `get_availability`: Input obligatoio: Fecha ISO (YYYY-MM-DD).\n3. `create_appointment`: Inputs: nombre, telefono, motivo, fecha_iso.\n4. `update_appointment`: Inputs: nombre, telefono, motivo, fecha_iso.\n5. `cancel_appointment`: Inputs: nombre, telefono, fecha_iso.\n\n# REGLAS DE ORO (Lógica de Negocio)\n1. **HORARIO:** Lunes a Sábado, 10:00 - 20:00. Domingos CERRADO.\n2. **ANCLAJE TEMPORAL (CRÍTICO):**\n   - Si el usuario dice \"mañana\", **CALCULA** mentalmente la fecha de (NOW + 1 día).\n   - Si el usuario dice \"el lunes\", calcula la fecha del *próximo* lunes.\n   - NUNCA asumas que \"mañana\" es hoy.\n3. **VERIFICACIÓN OBLIGATORIA:**\n   - **PROHIBIDO** confirmar una cita sin antes recibir \"Available\" de la herramienta `get_availability`.\n   - Si la herramienta dice \"Busy\" (Ocupado), **OFRECE** horas disponibles en el mismo día.\n\n# PROTOCOLO DE CONVERSACIÓN (Paso a Paso)\n\n### PASO 1: ANÁLISIS DE INTENCIÓN\nLee el historial. ¿Qué quiere hacer el usuario?\n- Si quiere NUEVA -> Usa lógica de `create_appointment`.\n- Si quiere CAMBIAR -> Usa lógica de `update_appointment`.\n- Si quiere CANCELAR -> Usa lógica de `cancel_appointment`.\n\n### PASO 2: RECOLECCIÓN DE DATOS\nDependiendo de la intención, necesitas llaves diferentes:\n- **Para AGENDAR o MODIFICAR:** Necesitas 4 llaves: Fecha/Hora, Nombre, Motivo, Teléfono.\n- **Para CANCELAR:** Necesitas 3 llaves: Fecha/Hora de la cita (para localizarla), Nombre y Teléfono. (NO pidas motivo).\n\n### PASO 3: VALIDACIÓN DE TELÉFONO (UX Híbrida)\n- **Caso A (Silencioso):** Si el usuario NO menciona ningún número o dice \"sí, usa este\", asume que es el `Caller ID`.\n  - *Respuesta:* \"Te confirmo en el número desde el que llamas.\" (NO LEAS EL NÚMERO).\n- **Caso B (Explícito):** Si el usuario dicta un número nuevo.\n  - *Respuesta:* \"Confirmo el número: [lee los dígitos separados por espacio: 6 6 5...]. ¿Correcto?\"\n\n### PASO 4: EJECUCIÓN Y RESPUESTA FINAL\nSolo cuando tengas los datos necesarios:\n- **Si es Agendar/Modificar:** Verifica disponibilidad con `get_availability` antes de llamar a `create`/`update`.\n- **Si es Cancelar:** Ejecuta DIRECTAMENTE `cancel_appointment` (no necesitas verificar disponibilidad).\n- Genera la respuesta de voz confirmando la acción.\n\n# GUÍA DE ESTILO DE RESPUESTA (Output)\n- **Sé breve:** Máximo 2 frases.\n- **Español de España:** Natural y profesional.\n- **Sin formato:** NO uses Markdown, ni guiones, ni asteriscos. Solo texto.\n- **Fechas:** Di \"el viernes 12\", nunca digas \"2024 guion 10\".\n\n# EJEMPLOS DE PENSAMIENTO (Internal Logic)\nUser: \"Quiero cita para mañana a las 10.\"\n1. (Think): Hoy es Jueves 15. Mañana es Viernes 16. Hora 10:00.\n2. (Action): `get_availability(\"202X-XX-16\")`.\n3. (Result): Available.\n4. (Speech): \"Tengo libre mañana viernes a las 10. ¿Te lo reservo?\"\n\nUser: \"Cancela mi cita del viernes.\"\n1. (Think): Intención de cancelación. Viernes es día 16. Tengo el nombre y teléfono del contexto.\n2. (Action): `cancel_appointment(nombre=\"Paco\", telefono=\"+34...\", fecha_iso=\"202X-XX-16\")`.\n3. (Speech): \"Entendido Paco, he cancelado tu cita del viernes 16.\"",
        "options": {}
      },
      "id": "4da085a2-7d61-442f-b256-151de9314a00",
      "name": "Voice AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "ec64e18f-6954-4d3c-a3a7-e7508b9e50a9",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "position": [
        304,
        848
      ],
      "typeVersion": 1.5,
      "credentials": {
        "redis": {
          "id": "UL7ltYo9aztqTnxu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## PROMPT CONFIGURATION REQUIRED\n\n1. **[TIMEZONE]** - Set your timezone (e.g., PST, EST, GMT)\n\n2. **[APPOINTMENT_DURATION]** - Default appointment length in minutes (e.g., 30, 45, 60)\n\n3. **[START_TIME] & [END_TIME]** - Business hours (e.g., 8am & 6pm)\n\n4. **[OPERATING_DAYS]** - Days you're open (e.g., Monday through Friday)\n\n5. **[BLOCKED_DAYS]** - Days never available (e.g., Saturday or Sunday)\n\n6. **[MINIMUM_LEAD_TIME]** - Buffer time before appointments in minutes (e.g., 60)\n\n7. **[REQUIRED_FIELDS]** - Data you need to collect (e.g., email, phone, address)\n\n8. **[REQUIRED_FIELDS_NATURAL_LANGUAGE]** - How to ask for the fields (e.g., \"the service address and your email\")\n\n9. **[REQUIRED_FIELDS_LIST]** - List format for critical rules (e.g., \"address, email, phone\")\n\n10. **[SERVICE_TYPE]** - Your service name (e.g., \"Plumbing Service\", \"Consultation\", \"Dental Appointment\")\n\n11. **[PRIMARY_IDENTIFIER]** - What goes after service type in title (e.g., [Address], [Customer Name], [Service Details])\n\n12. **[REQUIRED_NOTES_FIELDS]** - What to include in appointment notes (e.g., \"Problem description from call_log, user's email, user's address, and user's phone number\")\n\n**NOTE:** Keep all {{ }} variables exactly as they are - these dynamically pull data from the ElevenLabs webhook and should NOT be modified.",
        "height": 608,
        "width": 1120,
        "color": 4
      },
      "id": "2312ef45-8508-4b81-a12f-e7cf37c6085e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI MODEL CONFIGURATION\n**Recommended:** Claude 3.5 Sonnet provides best results for voice interactions due to superior reasoning and instruction following.\n\n**Alternative Options:**\n- GPT-4 models can work but may require prompt adjustments\n- Smaller models may struggle with complex scheduling logic\n- Test thoroughly if using non-Claude models\n\n**Note:** The \"think\" tool is critical for maintaining conversation state - do not remove it regardless of model choice.",
        "height": 336,
        "width": 448
      },
      "id": "67a7dc76-9109-4ad9-b34f-9636b8fc8c67",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## WEBHOOK SETUP\n1. Replace \"REPLACE ME\" in the webhook path with your desired endpoint\n2. This webhook URL will be provided to ElevenLabs for integration\n3. Ensure webhook is set to POST method\n4. Test with ElevenLabs webhook tester before going live",
        "height": 224,
        "width": 448,
        "color": 3
      },
      "id": "64991c76-a5c6-48d2-92a2-292b14af9c0a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## GOOGLE CALENDAR SETUP\n1. Replace all instances of \"REPLACE ME\" in calendar nodes with your Calendar ID\n2. Calendar ID format: xxxxx@group.calendar.google.com or your-email@gmail.com\n3. Ensure calendar has appropriate sharing permissions\n4. Connect your Google account via OAuth2 in credentials",
        "height": 192,
        "width": 512,
        "color": 4
      },
      "id": "5fb27e62-b5ba-45ac-b47d-04c4b4ea10e8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## REDIS MEMORY SETUP\nRedis memory is necessary for this workflow to function properly. Without memory, the AI must reparse the entire conversation on every turn, causing severe lag and breaking the real-time voice experience.\n\n**Configuration:**\n- Stores 20 messages per session (adjustable in contextWindowLength parameter)\n- Uses session ID from ElevenLabs to maintain conversation continuity\n- Session data persists between calls from the same user\n- Configure Redis connection in credentials before using this workflow",
        "height": 288,
        "width": 512,
        "color": 6
      },
      "id": "f5c4f4af-5afd-423a-9eee-10127b9979f2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        832
      ],
      "id": "abc0626e-3126-4a75-8d30-98252ead7200",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YHe997AlWBEa1Czy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "=alvarezvidalpablo@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "=",
        "updateFields": {}
      },
      "id": "3e4dc9a6-ea57-4832-86c9-6871c99b51a7",
      "name": "update_appointment",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        960,
        848
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=alvarezvidalpablo@gmail.com",
          "mode": "id"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "2ceb37f1-4755-43c9-9baf-ff0075ac59f2",
      "name": "get_availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        640,
        848
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=alvarezvidalpablo@gmail.com",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "2609a75c-e820-4ad1-b0f9-bffa84817cfb",
      "name": "create_appointment",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        784,
        848
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        848
      ],
      "id": "81acfe36-482c-4e77-bea7-7b1a44aeaad0",
      "name": "cancel_appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-06T19:33:59.533Z",
      "createdAt": "2026-01-06T19:33:59.533Z",
      "role": "workflow:owner",
      "workflowId": "W0oyEPLC9l51Ryjo",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-15T21:01:03.028Z",
  "versionId": "a982c504-0f6a-4c44-bf3b-3592a7c97c19"
}