workflows/Agente Zenit Malo.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-06T19:51:47.000Z",
    "createdAt": "2026-01-06T19:51:44.910Z",
    "versionId": "656119fb-4406-4758-87a9-26eb60935f92",
    "workflowId": "LT5zsI4GUVbu7oGQ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "agendar-cita",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -400
        ],
        "id": "47a6fb23-907d-46d2-b9e6-c82d383236a1",
        "name": "Webhook",
        "webhookId": "3a8d9ef0-6d22-4470-9e6e-77019c801492"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl1hrxyWHKnxxzGI",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl1hrxyWHKnxxzGI"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Nombre": "={{ $('Webhook').item.json.body.nombre_cliente }}",
              "Telefono": "={{ $('Webhook').item.json.body.numero_telefono }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Telefono",
                "displayName": "Telefono",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ID_Cliente",
                "displayName": "ID_Cliente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Citas",
                "displayName": "Citas",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          896,
          -32
        ],
        "id": "44340322-fd44-4de3-a2d7-40b13ca3d08c",
        "name": "crear nuevo cliente",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl1hrxyWHKnxxzGI",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl1hrxyWHKnxxzGI"
          },
          "filterByFormula": "={Telefono} = '{{ $('Webhook').item.json.body.numero_telefono }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          224,
          -400
        ],
        "id": "646888bb-f37d-4ac5-b72d-a28b570781b8",
        "name": "comprobar numero",
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a2b56824-dc23-4324-a9e8-e092dc9414bc",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          -400
        ],
        "id": "256e9cbe-712c-4401-99ee-ba5032f5aa28",
        "name": "existente"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
              "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
              "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
              "Estado": "Confirmada",
              "ID Cliente": "={{ $json.id }}",
              "Clientes": "={{ [ $json[\"id\"] ] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmada",
                    "value": "Confirmada"
                  },
                  {
                    "name": "Cancelada",
                    "value": "Cancelada"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ID Cliente",
                "displayName": "ID Cliente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Clientes",
                "displayName": "Clientes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1344,
          -32
        ],
        "id": "777294e5-4e4a-4b36-8519-2d143063d49a",
        "name": "crear nueva cita",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4f72091c-766e-4f3b-8599-d199246b8e69",
                      "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                      "rightValue": "consultar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "consultar"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                      "rightValue": "crear",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "94ae1004-733d-4743-8422-8c4fa499b970"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "crear"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "947d7f91-9688-4bbe-bf94-cf1b9a5997cc",
                      "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                      "rightValue": "cancelar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelar"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "553dbc50-b3fa-466f-8591-ec49eb51c42a",
                      "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                      "rightValue": "modificar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "modificar"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          672,
          -624
        ],
        "id": "bf15edb5-aa20-4952-ace8-d96301529139",
        "name": "Accion"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
              "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
              "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
              "Estado": "Confirmada",
              "Cliente": "={{ [ $json[\"id\"] ] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmada",
                    "value": "Confirmada"
                  },
                  {
                    "name": "Cancelada",
                    "value": "Cancelada"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Cliente",
                "displayName": "Cliente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1344,
          -608
        ],
        "id": "20ef5f84-6c66-4e23-950e-edda5ad893a3",
        "name": "crear nueva cita cliente existente",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "filterByFormula": "=AND( {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}', {ID Cliente} = '{{ $json.ID_Cliente }}' )",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1120,
          -416
        ],
        "id": "7a912ea9-8088-4280-89a1-171989f9ac91",
        "name": "buscar cita cliente existente",
        "alwaysOutputData": false,
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "filterByFormula": "=AND( {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}', {ID Cliente} = '{{ $json.ID_Cliente }}' )",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          896,
          -224
        ],
        "id": "a1dd3393-7095-45c6-afdd-b426ee05ea2e",
        "name": "buscar cita cliente existente 2",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Estado": "Cancelada",
              "id": "={{ $json.id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmada",
                    "value": "Confirmada"
                  },
                  {
                    "name": "Cancelada",
                    "value": "Cancelada"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Cliente",
                "displayName": "Cliente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1344,
          -416
        ],
        "id": "8bc49071-f979-4bcd-bad6-786769348d98",
        "name": "cancelar cita",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Estado": "Confirmada",
              "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
              "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
              "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
              "ID Cliente": "={{ $('comprobar numero').item.json.id }}"
            },
            "matchingColumns": [
              "ID Cliente"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Confirmada",
                    "value": "Confirmada"
                  },
                  {
                    "name": "Cancelada",
                    "value": "Cancelada"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ID Cliente",
                "displayName": "ID Cliente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Clientes",
                "displayName": "Clientes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1344,
          -224
        ],
        "id": "0d1a1172-03b7-40eb-bca8-f3a69d1edb8c",
        "name": "modificar cita",
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2774f10c-edba-44bc-a23a-f1a5e1a443fc",
                "name": "texto_voz",
                "value": "=Cita creada para el {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}. Te esperamos.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -608
        ],
        "id": "f7d577fb-2001-4336-b8e6-3cf11ec3ef8f",
        "name": "creada"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8306e55d-6022-4e50-85b9-5f72d21156a6",
                "name": "texto_voz",
                "value": "Cita cancelada correctamente",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -416
        ],
        "id": "ae4c9a02-d7a4-49a3-90ca-10c7d6acfb16",
        "name": "cancelada"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e32a867a-db46-4639-a11e-47bf150df5cb",
                "name": "texto_voz",
                "value": "=Cambio confirmado. Nueva fecha: {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -224
        ],
        "id": "d928ea8c-fbbf-4d28-91b5-a9397548d45c",
        "name": "modificada"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2774f10c-edba-44bc-a23a-f1a5e1a443fc",
                "name": "texto_voz",
                "value": "=Bienvenido a la clínica {{ $('Webhook').item.json.body.nombre_cliente }}!!! Cita creada para el {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}. Te esperamos.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -32
        ],
        "id": "c766094e-3fb2-4cdd-a2a9-713d2b0ff7ea",
        "name": "creada2"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"response\": \"{{ $json.texto_voz }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1792,
          -512
        ],
        "id": "8f7cf4b9-3be8-4dc0-a572-908072d13dc8",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bf8d3a65-41cf-4ba1-a61c-d1be063e783b",
                "name": "texto_voz",
                "value": "==Lo siento, para el servicio de {{ $('Webhook').item.json.body.servicio_cita }} ya tengo una reserva confirmada a esa hora. ¿Te vendría bien buscar otro hueco un poco más tarde o prefieres otro día?",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -832
        ],
        "id": "a5023981-a1ca-404d-962a-23790c7d096f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "filterByFormula": "=AND(\n  {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}',\n  {Hora} = '{{ $('Webhook').item.json.body.hora_solicitada }}',\n  {Servicio} = '{{ $('Webhook').item.json.body.servicio_cita }}',\n  {Estado} = 'Confirmada'\n)",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1120,
          -992
        ],
        "id": "0ea24068-fcc6-47d5-bc94-1069067c1ec0",
        "name": "comprobar disponibilidad3",
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef3f3127-26ea-48a7-92a0-4a06da4f512f",
                "leftValue": "={{ $json.id }}",
                "rightValue": "Confirmada",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1344,
          -992
        ],
        "id": "43a77f1e-ff19-4171-b906-c4525b93d988",
        "name": "If1",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bf8d3a65-41cf-4ba1-a61c-d1be063e783b",
                "name": "texto_voz",
                "value": "=Si, la cita está disponible. ¿Quieres agendar tu cita ahora?",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -1040
        ],
        "id": "ae860579-1fe8-4582-9d27-a4a456a5881a",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appNLaeIrGsIc395P",
            "mode": "list",
            "cachedResultName": "Clinica dental",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
          },
          "table": {
            "__rl": true,
            "value": "tbl08JdusGZNIaCUH",
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
          },
          "filterByFormula": "=AND(\n  {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}',\n  {Hora} = '{{ $('Webhook').item.json.body.hora_solicitada }}',\n  {Servicio} = '{{ $('Webhook').item.json.body.servicio_cita }}',\n  {Estado} = 'Confirmada'\n)",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          912,
          -640
        ],
        "id": "f2b2747f-6f4e-40c9-987c-8c583ed5b8a7",
        "name": "comprobar disponibilidad4",
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "l787fY54TR1NiFZ3",
            "name": "AIRTABLE INTELITE"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef3f3127-26ea-48a7-92a0-4a06da4f512f",
                "leftValue": "={{ $json.id }}",
                "rightValue": "Confirmada",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1120,
          -688
        ],
        "id": "c9f7ee98-97a6-4eec-a167-7ed3cb0c4e1f",
        "name": "If",
        "alwaysOutputData": false
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "comprobar numero",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "comprobar numero": {
        "main": [
          [
            {
              "node": "existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existente": {
        "main": [
          [
            {
              "node": "Accion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "crear nuevo cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear nuevo cliente": {
        "main": [
          [
            {
              "node": "crear nueva cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Accion": {
        "main": [
          [
            {
              "node": "comprobar disponibilidad3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "comprobar disponibilidad4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "buscar cita cliente existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "buscar cita cliente existente 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscar cita cliente existente": {
        "main": [
          [
            {
              "node": "cancelar cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscar cita cliente existente 2": {
        "main": [
          [
            {
              "node": "modificar cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear nueva cita cliente existente": {
        "main": [
          [
            {
              "node": "creada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cancelar cita": {
        "main": [
          [
            {
              "node": "cancelada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "modificar cita": {
        "main": [
          [
            {
              "node": "modificada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear nueva cita": {
        "main": [
          [
            {
              "node": "creada2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "creada": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cancelada": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "modificada": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "creada2": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "comprobar disponibilidad3": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "comprobar disponibilidad4": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "crear nueva cita cliente existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 656119fb",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "656119fb-4406-4758-87a9-26eb60935f92",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "comprobar numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comprobar numero": {
      "main": [
        [
          {
            "node": "existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existente": {
      "main": [
        [
          {
            "node": "Accion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear nuevo cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear nuevo cliente": {
      "main": [
        [
          {
            "node": "crear nueva cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accion": {
      "main": [
        [
          {
            "node": "comprobar disponibilidad3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "comprobar disponibilidad4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar cita cliente existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar cita cliente existente 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar cita cliente existente": {
      "main": [
        [
          {
            "node": "cancelar cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar cita cliente existente 2": {
      "main": [
        [
          {
            "node": "modificar cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear nueva cita cliente existente": {
      "main": [
        [
          {
            "node": "creada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelar cita": {
      "main": [
        [
          {
            "node": "cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modificar cita": {
      "main": [
        [
          {
            "node": "modificada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear nueva cita": {
      "main": [
        [
          {
            "node": "creada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creada": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelada": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modificada": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creada2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comprobar disponibilidad3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comprobar disponibilidad4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear nueva cita cliente existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-03T18:40:42.566Z",
  "id": "LT5zsI4GUVbu7oGQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Zenit Malo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-cita",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -400
      ],
      "id": "47a6fb23-907d-46d2-b9e6-c82d383236a1",
      "name": "Webhook",
      "webhookId": "3a8d9ef0-6d22-4470-9e6e-77019c801492"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl1hrxyWHKnxxzGI",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl1hrxyWHKnxxzGI"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.nombre_cliente }}",
            "Telefono": "={{ $('Webhook').item.json.body.numero_telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID_Cliente",
              "displayName": "ID_Cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Citas",
              "displayName": "Citas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        -32
      ],
      "id": "44340322-fd44-4de3-a2d7-40b13ca3d08c",
      "name": "crear nuevo cliente",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl1hrxyWHKnxxzGI",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl1hrxyWHKnxxzGI"
        },
        "filterByFormula": "={Telefono} = '{{ $('Webhook').item.json.body.numero_telefono }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        -400
      ],
      "id": "646888bb-f37d-4ac5-b72d-a28b570781b8",
      "name": "comprobar numero",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2b56824-dc23-4324-a9e8-e092dc9414bc",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -400
      ],
      "id": "256e9cbe-712c-4401-99ee-ba5032f5aa28",
      "name": "existente"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
            "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
            "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
            "Estado": "Confirmada",
            "ID Cliente": "={{ $json.id }}",
            "Clientes": "={{ [ $json[\"id\"] ] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clientes",
              "displayName": "Clientes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        -32
      ],
      "id": "777294e5-4e4a-4b36-8519-2d143063d49a",
      "name": "crear nueva cita",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f72091c-766e-4f3b-8599-d199246b8e69",
                    "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "consultar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                    "rightValue": "crear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94ae1004-733d-4743-8422-8c4fa499b970"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "947d7f91-9688-4bbe-bf94-cf1b9a5997cc",
                    "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "553dbc50-b3fa-466f-8591-ec49eb51c42a",
                    "leftValue": "={{ $('Webhook').item.json.body.accion }}",
                    "rightValue": "modificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "modificar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -624
      ],
      "id": "bf15edb5-aa20-4952-ace8-d96301529139",
      "name": "Accion"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
            "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
            "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
            "Estado": "Confirmada",
            "Cliente": "={{ [\"$('comprobar numero').item.json.id\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        -608
      ],
      "id": "20ef5f84-6c66-4e23-950e-edda5ad893a3",
      "name": "crear nueva cita cliente existente",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "filterByFormula": "=AND( {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}', {ID Cliente} = '{{ $json.ID_Cliente }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        -416
      ],
      "id": "7a912ea9-8088-4280-89a1-171989f9ac91",
      "name": "buscar cita cliente existente",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "filterByFormula": "=AND( {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}', {ID Cliente} = '{{ $json.ID_Cliente }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        -224
      ],
      "id": "a1dd3393-7095-45c6-afdd-b426ee05ea2e",
      "name": "buscar cita cliente existente 2",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Cancelada",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        -416
      ],
      "id": "8bc49071-f979-4bcd-bad6-786769348d98",
      "name": "cancelar cita",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Confirmada",
            "Hora": "={{ $('Webhook').item.json.body.hora_solicitada }}",
            "Fecha": "={{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}",
            "Servicio": "={{ $('Webhook').item.json.body.servicio_cita }}",
            "ID Cliente": "={{ $('comprobar numero').item.json.id }}"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clientes",
              "displayName": "Clientes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        -224
      ],
      "id": "0d1a1172-03b7-40eb-bca8-f3a69d1edb8c",
      "name": "modificar cita",
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2774f10c-edba-44bc-a23a-f1a5e1a443fc",
              "name": "texto_voz",
              "value": "=Cita creada para el {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}. Te esperamos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -608
      ],
      "id": "f7d577fb-2001-4336-b8e6-3cf11ec3ef8f",
      "name": "creada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8306e55d-6022-4e50-85b9-5f72d21156a6",
              "name": "texto_voz",
              "value": "Cita cancelada correctamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -416
      ],
      "id": "ae4c9a02-d7a4-49a3-90ca-10c7d6acfb16",
      "name": "cancelada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e32a867a-db46-4639-a11e-47bf150df5cb",
              "name": "texto_voz",
              "value": "=Cambio confirmado. Nueva fecha: {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -224
      ],
      "id": "d928ea8c-fbbf-4d28-91b5-a9397548d45c",
      "name": "modificada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2774f10c-edba-44bc-a23a-f1a5e1a443fc",
              "name": "texto_voz",
              "value": "=Bienvenido a la clínica {{ $('Webhook').item.json.body.nombre_cliente }}!!! Cita creada para el {{ $('Webhook').item.json.body.fecha_solicitada }} a las {{ $('Webhook').item.json.body.hora_solicitada }}. Te esperamos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -32
      ],
      "id": "c766094e-3fb2-4cdd-a2a9-713d2b0ff7ea",
      "name": "creada2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.texto_voz }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        -512
      ],
      "id": "8f7cf4b9-3be8-4dc0-a572-908072d13dc8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf8d3a65-41cf-4ba1-a61c-d1be063e783b",
              "name": "texto_voz",
              "value": "==Lo siento, para el servicio de {{ $('Webhook').item.json.body.servicio_cita }} ya tengo una reserva confirmada a esa hora. ¿Te vendría bien buscar otro hueco un poco más tarde o prefieres otro día?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -832
      ],
      "id": "a5023981-a1ca-404d-962a-23790c7d096f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "filterByFormula": "=AND(\n  {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}',\n  {Hora} = '{{ $('Webhook').item.json.body.hora_solicitada }}',\n  {Servicio} = '{{ $('Webhook').item.json.body.servicio_cita }}',\n  {Estado} = 'Confirmada'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        -992
      ],
      "id": "0ea24068-fcc6-47d5-bc94-1069067c1ec0",
      "name": "comprobar disponibilidad3",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef3f3127-26ea-48a7-92a0-4a06da4f512f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "Confirmada",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -992
      ],
      "id": "43a77f1e-ff19-4171-b906-c4525b93d988",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf8d3a65-41cf-4ba1-a61c-d1be063e783b",
              "name": "texto_voz",
              "value": "=Si, la cita está disponible. ¿Quieres agendar tu cita ahora?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -1040
      ],
      "id": "ae860579-1fe8-4582-9d27-a4a456a5881a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNLaeIrGsIc395P",
          "mode": "list",
          "cachedResultName": "Clinica dental",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JdusGZNIaCUH",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appNLaeIrGsIc395P/tbl08JdusGZNIaCUH"
        },
        "filterByFormula": "=AND(\n  {Fecha} = '{{ DateTime.fromISO($('Webhook').item.json.body.fecha_solicitada).toFormat('dd-MM-yyyy') }}',\n  {Hora} = '{{ $('Webhook').item.json.body.hora_solicitada }}',\n  {Servicio} = '{{ $('Webhook').item.json.body.servicio_cita }}',\n  {Estado} = 'Confirmada'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        912,
        -640
      ],
      "id": "f2b2747f-6f4e-40c9-987c-8c583ed5b8a7",
      "name": "comprobar disponibilidad4",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l787fY54TR1NiFZ3",
          "name": "AIRTABLE INTELITE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef3f3127-26ea-48a7-92a0-4a06da4f512f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "Confirmada",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -688
      ],
      "id": "c9f7ee98-97a6-4eec-a167-7ed3cb0c4e1f",
      "name": "If",
      "alwaysOutputData": false
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.u5h0lw.easypanel.host",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "188",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47",
            "x-forwarded-host": "n8n-n8n.u5h0lw.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95c649fc8578",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "accion": "crear",
            "nombre_cliente": "Marc Balaguer Maciá",
            "fecha_solicitada": "2026-02-17",
            "hora_solicitada": "13:30",
            "numero_telefono": "610082255",
            "servicio_cita": "Limpieza"
          },
          "webhookUrl": "https://n8n-n8n.u5h0lw.easypanel.host/webhook/agendar-cita",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-03T18:40:42.589Z",
      "createdAt": "2026-01-03T18:40:42.589Z",
      "role": "workflow:owner",
      "workflowId": "LT5zsI4GUVbu7oGQ",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-24T17:01:39.897Z",
  "versionId": "07e9d2da-a0da-4653-9cb0-01006787da65"
}