workflows/Automatización Post Linkedin.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger - Diario 16:00": {
      "main": [
        [
          {
            "node": "RSS Read - TechCrunch AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - TechCrunch AI": {
      "main": [
        [
          {
            "node": "Code - Normalizador de Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalizador de Feeds": {
      "main": [
        [
          {
            "node": "OpenAI - Filtro Relevancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Filtro Relevancia": {
      "main": [
        [
          {
            "node": "Code - Parsear Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parsear Decision": {
      "main": [
        [
          {
            "node": "If - Es Relevante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Es Relevante": {
      "main": [
        [
          {
            "node": "OpenAI - Generador de Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generador de Post": {
      "main": [
        [
          {
            "node": "Code - Limpiar Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Limpiar Post": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Director de Arte": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OpenAI - Director de Arte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-15T18:15:00.304Z",
  "id": "Z37aeV58s6dYK5VO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Automatización Post Linkedin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -272
      ],
      "id": "c172f77e-d2ff-4e80-a0ab-0cf240338a24",
      "name": "Schedule Trigger - Diario 16:00"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -64,
        -272
      ],
      "id": "66ce980f-15e3-4fcf-80ba-d810feab35ea",
      "name": "RSS Read - TechCrunch AI"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalización de datos para Intelite AI\n// Mapeamos los datos del RSS a nuestro esquema interno\n\n// Intentamos limpiar el resumen de etiquetas HTML si existen\nconst summaryRaw = $json.contentSnippet || $json.content || \"\";\nconst summaryClean = summaryRaw.replace(/<[^>]*>?/gm, '');\n\nreturn {\n  source_name: \"TechCrunch AI\",\n  article_title: $json.title,\n  article_url: $json.link,\n  article_summary: summaryClean.substring(0, 500) + \"...\", // Limitamos longitud\n  pub_date: $json.pubDate || $json.isoDate,\n  // Guardamos el ID único (guid) para usarlo luego en la deduplicación\n  article_guid: $json.guid || $json.link\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -272
      ],
      "id": "25b122c0-8bfb-4d18-adde-16d703911066",
      "name": "Code - Normalizador de Feeds"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Actúa como el Editor Jefe de 'Intelite AI', una consultora de tecnología Enterprise. Tu trabajo es filtrar noticias. Analiza el título y resumen proporcionados.\n\nCriterios de Aprobación:\n1. Relevancia para negocios, infraestructura tecnológica, o avances científicos significativos.\n2. Seriedad y credibilidad.\n3. Noticias que puedan generar debate.\n\nCriterios de Rechazo:\n1. Noticias sobre gadgets de consumo triviales (ej. nuevos auriculares).\n2. Rumores sin confirmar.\n3. Contenido excesivamente técnico sin aplicación práctica visible.\n\nOutput: Responde ÚNICAMENTE con un objeto JSON sin bloques de código markdown: { \"is_relevant\": true/false, \"reason\": \"breve explicación\", \"category\": \"Investigación/Negocio/Regulación\" }"
            },
            {
              "content": "=Input: {{ $json.article_title }} - {{ $json.article_summary }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        384,
        -272
      ],
      "id": "e2105c32-183a-45d1-9f8c-717bd7c2619f",
      "name": "OpenAI - Filtro Relevancia",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82d2d0b8-48b0-4705-9b55-92c462ef09ce",
              "leftValue": "={{ $json.relevance_decision.is_relevant_string }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        -48
      ],
      "id": "934126a5-2e1b-45dd-bc77-f91fe17995dd",
      "name": "If - Es Relevante"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// INTELITE AI - PARSEADOR V7 (BÚSQUEDA PROFUNDA)\n// Este script busca recursivamente cualquier string que parezca un JSON válido con la clave \"is_relevant\"\n// No importa qué tan anidada esté la respuesta de OpenAI.\n\n// --- FUNCIÓN DE BÚSQUEDA RECURSIVA ---\nfunction findDecisionJson(obj) {\n    if (!obj) return null;\n\n    // 1. Si encontramos un Texto, comprobamos si contiene nuestra \"pepita de oro\"\n    if (typeof obj === 'string') {\n        // Buscamos si tiene la clave clave \"is_relevant\"\n        if (obj.includes('is_relevant')) {\n            try {\n                // Intentamos extraer el JSON\n                const match = obj.match(/\\{[\\s\\S]*\\}/);\n                if (match) {\n                    const parsed = JSON.parse(match[0]);\n                    // Verificamos que sea el objeto correcto\n                    if (parsed.hasOwnProperty('is_relevant')) {\n                        return parsed;\n                    }\n                }\n            } catch (e) {\n                // Si falla el parseo, seguimos buscando\n            }\n        }\n        return null;\n    }\n\n    // 2. Si es un Array o un Objeto, buceamos dentro (Recursión)\n    if (typeof obj === 'object') {\n        for (const key in obj) {\n            if (obj.hasOwnProperty(key)) {\n                const result = findDecisionJson(obj[key]);\n                if (result) return result; // ¡Encontrado! Devolvemos y paramos.\n            }\n        }\n    }\n\n    return null;\n}\n\n// --- EJECUCIÓN ---\n\n// Buscamos en todo el objeto $json entrante\nconst decisionFound = findDecisionJson($json) || {};\n\n// Lógica de seguridad por si no encuentra nada\nconst decisionFinal = {\n    is_relevant: decisionFound.is_relevant === true, // Forzamos booleano\n    reason: decisionFound.reason || \"ERROR: No se pudo encontrar la decisión en la respuesta de OpenAI\",\n    category: decisionFound.category || \"N/A\"\n};\n\n// Generamos el String para el nodo IF\nconst decisionString = decisionFinal.is_relevant ? \"true\" : \"false\";\n\n// Recuperamos datos originales de la noticia\nlet originalData = {};\ntry {\n    originalData = $('Code - Normalizador de Feeds').all()[$itemIndex].json;\n} catch (e) {\n    originalData = { error: \"Datos originales perdidos\" };\n}\n\nreturn {\n    ...originalData,\n    relevance_decision: {\n        ...decisionFinal,\n        is_relevant_string: decisionString\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -272
      ],
      "id": "21a5daa2-d699-46e3-93fc-41251f58be41",
      "name": "Code - Parsear Decision",
      "executeOnce": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres el Editor Jefe de Contenidos en Intelite AI. Tu misión es demostrar que la empresa está al pulso de la actualidad en Inteligencia Artificial, generando conversación y valor real.\n\nTU OBJETIVO:\nEscribir un post de LinkedIn sobre la noticia proporcionada. El post debe ser accesible para cualquier profesional (no solo técnicos), informativo y debe invitar a la reflexión o al debate.\n\nINSTRUCCIONES DE VARIEDAD (Elige dinámicamente el mejor enfoque según la noticia):\nNo uses siempre la misma estructura. Analiza la noticia y adopta uno de estos ángulos:\n1. El Analista: Explica por qué esta noticia es importante y cambia el panorama actual.\n2. El Escéptico: Cuestiona el \"hype\" o plantea preguntas difíciles sobre las implicaciones éticas/sociales.\n3. El Visionario: Reflexiona sobre cómo esto afectará a la sociedad o las empresas en unos años.\n4. El Educador: Traduce un avance complejo a un lenguaje sencillo y explica su utilidad real.\n\nREGLAS DE ESTILO (Innegociables):\n- IDIOMA: Español de España, tono profesional pero cercano.\n- GANCHO: La primera frase debe captar la atención inmediatamente. PROHIBIDO empezar con \"¡Noticias emocionantes!\", \"En el mundo de hoy...\" o preguntas retóricas obvias.\n- FORMATO: Párrafos cortos (1-2 frases) muy fáciles de leer. Usa espacios en blanco.\n- CIERRE: Termina con una pregunta abierta genuina que invite al lector a dejar un comentario.\n- HASHTAGS: Incluye solo 3-5 hashtags relevantes al final.\n- FIRMA: No firmes el post, es para la página de empresa.\n\nIMPORTANTE: No menciones qué ángulo has elegido, simplemente escribe el post directamente."
            },
            {
              "content": "=Título: {{ $json.article_title }}\nResumen: {{ $json.article_summary }}\nFuente: {{ $json.source_name }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -16,
        -48
      ],
      "id": "4a98408d-257b-4590-83cb-9eff8a3868ca",
      "name": "OpenAI - Generador de Post",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Obtenemos el borrador del post que acaba de escribir la IA\nconst rawContent = $json.message?.content || $json.content || \"\";\n\n// 2. Limpieza: Quitamos comillas al inicio/final si las hay (\" \")\nconst cleanPost = rawContent.replace(/^\"|\"$/g, '').trim();\n\n// 3. Recuperamos los datos originales (Título, URL, Fuente)\n// Buscamos en el nodo 'If - Es Relevante' usando el índice actual ($itemIndex)\n// para asegurarnos de que el Post 1 se une con el Título 1.\nlet originalData = {};\ntry {\n     originalData = $('If - Es Relevante').all()[$itemIndex]?.json || {};\n} catch(e) {\n     console.log(\"Advertencia: No se pudieron recuperar datos originales\");\n}\n\n// 4. Salida Final: Datos originales + El Post limpio\nreturn {\n    ...originalData,\n    generated_post: cleanPost\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -48
      ],
      "id": "c2134fe2-db73-46fc-a6b9-c9cd54143bfb",
      "name": "Code - Limpiar Post"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Actúa como un Director de Arte experto en estilo \"Tech Corporate\".\nTu tarea es leer un post de LinkedIn y extraer su concepto central para crear un prompt de DALL-E 3.\n\nESTÉTICA OBLIGATORIA (Incluye siempre al final):\n\"isometric 3D style, corporate memphis but sophisticated, color palette: deep navy blue, cyan neon accents and white, clean minimal background, unreal engine 5 render, high quality, no text, no letters, geometrical shapes, connecting nodes.\"\n\nTU TAREA:\n1. Lee el 'Post Redactado'.\n2. Identifica la metáfora principal o el tema central del texto.\n3. Crea un concepto visual ABSTRACTO que represente esa idea.\n4. Output: SOLO el prompt en inglés con la estética."
            },
            {
              "content": "=Post Redactado: {{ $('OpenAI - Generador de Post').item.json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        848,
        -48
      ],
      "id": "9cc90162-43ed-4419-a6b4-1e7e83e38991",
      "name": "OpenAI - Director de Arte",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -48
      ],
      "id": "66df0c55-cca9-4fe5-b4fc-f00af0e60eee",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        -48
      ],
      "id": "0aee5d99-8a4d-4985-b105-212df4df7991",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "YHe997AlWBEa1Czy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appDVOmlNDqPNGoin",
          "mode": "list",
          "cachedResultName": "Content_Pipeline",
          "cachedResultUrl": "https://airtable.com/appDVOmlNDqPNGoin"
        },
        "table": {
          "__rl": true,
          "value": "tblPtdeKyknU8RpyV",
          "mode": "list",
          "cachedResultName": "Content_Pipeline",
          "cachedResultUrl": "https://airtable.com/appDVOmlNDqPNGoin/tblPtdeKyknU8RpyV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Generated Image": "=",
            "Headline": "=",
            "Generated Copy": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated Copy",
              "displayName": "Generated Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated Image",
              "displayName": "Generated Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related Task",
              "displayName": "Related Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1552,
        -224
      ],
      "id": "80e7b270-95cd-4491-940b-c6f3c5cac17e",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fQnfugN6uw-bbFW1rzVZmQfQZ8n20gR8LnfZc13-VeA",
          "mode": "list",
          "cachedResultName": "Post Automaticos Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fQnfugN6uw-bbFW1rzVZmQfQZ8n20gR8LnfZc13-VeA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fQnfugN6uw-bbFW1rzVZmQfQZ8n20gR8LnfZc13-VeA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Headline": "={{ $('Code - Limpiar Post').item.json.article_title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate Copy",
              "displayName": "Generate Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate Image",
              "displayName": "Generate Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -48
      ],
      "id": "b92fbaab-41c9-41cd-b76a-6debb212e097",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "OpenAI - Filtro Relevancia": [
      {
        "json": {
          "output": [
            {
              "id": "msg_06e19076d6b642e20069406c4e4534819684346c143be8f6fb",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en una elección de palabras y la medición cultural sin implicaciones directas en negocios o avances tecnológicos significativos.\", \"category\": \"N/A\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0aaf05078a6d6c890069406c4ffe1c819395ab6d536dc60880",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en un producto de consumo específico (una IA para hábitos) que no tiene una aplicación práctica significativa en el ámbito empresarial o tecnológico.\" , \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_01463f3083f84e3a0069406c5268fc8194b8efc5f183c7ddbb",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La noticia implica un incremento en la producción de chips H200 de Nvidia, lo cual es relevante para la infraestructura tecnológica y la demanda del mercado, especialmente en el contexto chino.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_00163cb79ec184bb0069406c5532f48193b84bf0b3d6e52ef4",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en una startup de consumo que desarrolla tecnología para video, pero no presenta un impacto significativo en el ámbito empresarial o tecnológico en general.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0021f47c31f3a1260069406c57b07c8194b9b5c8cd1cc59ff0",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"Se trata de un error de un chatbot y no aporta información relevante para negocios o tecnología empresarial.\", \"category\": \"N/A\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_04a8ba17cf6e46460069406c591a908197be4d567f4681b355",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"Analiza el impacto de la construcción de centros de datos en proyectos de infraestructura, lo que tiene relevancia para la planificación de inversiones en tecnología y desarrollo urbano.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_00fab348cf34e67c0069406c5b8e048194aea13e5466e84537",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"El artículo trata sobre un experimento en torno a la percepción de sesgo de género en un algoritmo de redes sociales, lo que no tiene un impacto significativo en negocios o infraestructura tecnológica.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_02f3e4cd3a4173af0069406c5df3848190908c72489b15cd28",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La orden ejecutiva de Trump sobre IA puede afectar significativamente la estructura regulatoria para startups tecnológicas, lo cual es crítico para la infraestructura de negocios en el sector.\", \"category\": \"Regulación\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0a13d75b1e6a1a030069406c60b6cc8194ac2c9590e20d5757",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en un gadget de consumo y una función de un servicio que no tiene un impacto significativo en el ámbito empresarial ni en la infraestructura tecnológica.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0b27d89043cb54280069406c640684819799c49a5b2801c491",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"El contenido se centra en actualizaciones de un chatbot de consumo, sin aplicación práctica significativa para negocios o infraestructura tecnológica.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_07b81d35267d75560069406c675cac8197bfa19bd12bdfe9e6",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La noticia trata sobre un avance significativo en la investigación de IA por parte de Google, lo que puede impactar en el desarrollo de aplicaciones empresariales y la infraestructura tecnológica.\", \"category\": \"Investigación\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_06c29274abefe07e0069406c68f7d88193b6f0b6f2013cc018",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La noticia aborda la aplicación de robots humanoides en entornos industriales, lo que podría transformar la automatización en fábricas y almacenes.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_050fd8ce2522e36d0069406c6a990c8193876787868205f037",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"El caso de copyright entre Disney y Google podría impactar la regulación de la propiedad intelectual en la tecnología, lo cual es crucial para las empresas. \", \"category\": \"Regulación\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_050c158608e33cf50069406c6c26b081968a6d5b8f80226a74",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en una característica de consumo de Google relacionada con la moda, que no tiene impacto significativo en negocios o infraestructura tecnológica.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0526fa21dd6bb36b0069406c6ecc5881979261147c2578043b",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"El lanzamiento de GPT-5.2 representa un avance significativo en IA, con implicaciones para el desarrollo profesional y empresarial, además de su impacto en la competencia con Google.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0398fc8e69177d6f0069406c70f0488196b605c50a075c2a96",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La herramienta de Google puede mejorar la eficiencia en la creación de aplicaciones web, lo que es relevante para los negocios y la infraestructura tecnológica.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_05e9f1be95c66d790069406c72953c81958ce1640d307d2e01",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La noticia destaca un avance significativo en la creación de un modelo mundial que puede tener aplicaciones en múltiples sectores, incluido video y robótica, lo cual es relevante para negocios de tecnología y avances científicos.\", \"category\": \"Investigación\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0b5201bbf1c8e3590069406c7467148197b80885717a31b29c",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"La colaboración entre Disney y OpenAI para generar contenido AI puede tener un impacto significativo en la industria del entretenimiento y la creación de medios digitales.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0b4134b7323cd9340069406c75e6b4819383013cfebe3012c1",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": true, \"reason\": \"Reconocimiento a figuras clave en el desarrollo de la inteligencia artificial, relevante para negocios y avances tecnológicos.\", \"category\": \"Negocio\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "output": [
            {
              "id": "msg_0e928e74d3615c780069406c7793508196bb3ae75a12f596cd",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{ \"is_relevant\": false, \"reason\": \"La noticia se centra en un navegador para consumidores con un costo de suscripción, lo cual no es significativo para la infraestructura tecnológica o avances empresariales.\", \"category\": \"Consumo\" }"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 19
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T18:15:00.313Z",
      "createdAt": "2025-12-15T18:15:00.313Z",
      "role": "workflow:owner",
      "workflowId": "Z37aeV58s6dYK5VO",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-16T10:40:00.307Z",
  "versionId": "569885ea-6ea3-4d53-bad7-9f5e489c5604"
}