workflows/Book Event MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-30T09:19:34.377Z",
    "createdAt": "2026-03-30T09:19:34.377Z",
    "versionId": "a7a00b40-400c-436e-b6b0-91775747e6e5",
    "workflowId": "U3T3hBNLvK1rayDt",
    "nodes": [
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "start": "={{ $json.fecha }}T{{ $json.hora }}",
          "end": "={{ DateTime.fromISO($json.fecha + 'T' + $json.hora).plus({ minutes: $json.categoria == 'plexr' ? 60 : 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "={{ `PROFESIONAL: ${$json.profesional}\\nSERVICIO: ${$json.servicio}\\nHORA: ${$json.hora}\\nCLIENTE: ${$json.nombre_completo}\\nTELEFONO: ${$json.telefono}` }}\n",
            "summary": "={{ '[' + $json.profesional + '] ' + $json.servicio + ' | ' + $json.nombre_completo }}"
          }
        },
        "id": "2791174f-d3b9-4156-b1cb-2ff0bd478254",
        "name": "Crear Cita",
        "position": [
          256,
          352
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "cachedResultName": "Clínica Estética Rosa Mora",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
            "mode": "list",
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
          },
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
            "mode": "list",
            "value": 21844311
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Estado": "Confirmada",
              "Fecha": "={{ $('When Executed by Another Workflow').item.json.fecha }}",
              "Hora Fin": "={{ $json.end.dateTime.substring(11, 19) }}",
              "Hora Inicio": "={{ $json.start.dateTime.substring(11, 19) }}",
              "ID Cita": "={{ $json.id }}",
              "Nombre Completo": "={{ $('When Executed by Another Workflow').item.json.nombre_completo }}",
              "Profesional": "={{ $('When Executed by Another Workflow').item.json.profesional }}",
              "Servicio": "={{ $('When Executed by Another Workflow').item.json.servicio }}",
              "Telefono": "={{ $('When Executed by Another Workflow').item.json.telefono }}",
              "Categoria": "={{ $('When Executed by Another Workflow').item.json.categoria }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Nombre Completo",
                "displayName": "Nombre Completo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hora Inicio",
                "displayName": "Hora Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Hora Fin",
                "displayName": "Hora Fin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Profesional",
                "displayName": "Profesional",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefono",
                "displayName": "Telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ID Cita",
                "displayName": "ID Cita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Categoria",
                "displayName": "Categoria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "fd34a97e-24b1-46d9-94aa-6e206b84a2f4",
        "name": "Cita Confirmada",
        "position": [
          480,
          352
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "dra_rosa_asistida"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-bloqueos",
        "name": "IF Dra Rosa Asistida",
        "position": [
          704,
          352
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com",
            "mode": "id"
          },
          "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
          "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "={{ `PROFESIONAL: ${$('When Executed by Another Workflow').item.json.asistente_asignada}\\nBLOQUEO: true\\nREF_EVENTO: ${$('Crear Cita').item.json.id}` }}",
            "summary": "={{ `PROFESIONAL: ${$('When Executed by Another Workflow').item.json.asistente_asignada}\nBLOQUEO: true\nREF_EVENTO: ${$('Crear Cita').item.json.id}` }}"
          }
        },
        "id": "block-Noa",
        "name": "Bloquear Asistente",
        "position": [
          928,
          272
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "nombre_completo"
              },
              {
                "name": "fecha"
              },
              {
                "name": "hora"
              },
              {
                "name": "telefono"
              },
              {
                "name": "servicio"
              },
              {
                "name": "profesional"
              },
              {
                "name": "categoria"
              },
              {
                "name": "asistente_asignada"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          32,
          352
        ],
        "id": "ac2555b3-6a67-488b-9a8c-34407fe939f7",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b5137e8c-187c-46be-9f38-a27f772c9cf1",
                "name": "Mensaje",
                "value": "Perfecto, la cita ha sido confirmada.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          480
        ],
        "id": "98258d03-56c0-436a-87f0-86b326a56a77",
        "name": "Respuesta1"
      }
    ],
    "connections": {
      "Cita Confirmada": {
        "main": [
          [
            {
              "index": 0,
              "node": "IF Dra Rosa Asistida",
              "type": "main"
            }
          ]
        ]
      },
      "Crear Cita": {
        "main": [
          [
            {
              "index": 0,
              "node": "Cita Confirmada",
              "type": "main"
            }
          ]
        ]
      },
      "IF Dra Rosa Asistida": {
        "main": [
          [
            {
              "index": 0,
              "node": "Bloquear Asistente",
              "type": "main"
            }
          ],
          [
            {
              "node": "Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Crear Cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bloquear Asistente": {
        "main": [
          [
            {
              "node": "Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "a7a00b40-400c-436e-b6b0-91775747e6e5",
  "connections": {
    "Cita Confirmada": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Dra Rosa Asistida",
            "type": "main"
          }
        ]
      ]
    },
    "Crear Cita": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cita Confirmada",
            "type": "main"
          }
        ]
      ]
    },
    "IF Dra Rosa Asistida": {
      "main": [
        [
          {
            "index": 0,
            "node": "Bloquear Asistente",
            "type": "main"
          }
        ],
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Crear Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Asistente": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:23:42.628Z",
  "id": "U3T3hBNLvK1rayDt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Book Event MCP",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "start": "={{ $json.fecha }}T{{ $json.hora }}",
        "end": "={{ DateTime.fromISO($json.fecha + 'T' + $json.hora).plus({ minutes: $json.categoria == 'plexr' ? 60 : 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "={{ `PROFESIONAL: ${$json.profesional}\\nSERVICIO: ${$json.servicio}\\nHORA: ${$json.hora}\\nCLIENTE: ${$json.nombre_completo}\\nTELEFONO: ${$json.telefono}` }}\n",
          "summary": "={{ '[' + $json.profesional + '] ' + $json.servicio + ' | ' + $json.nombre_completo }}"
        }
      },
      "id": "2791174f-d3b9-4156-b1cb-2ff0bd478254",
      "name": "Crear Cita",
      "position": [
        256,
        352
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "cachedResultName": "Clínica Estética Rosa Mora",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
          "mode": "list",
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
        },
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
          "mode": "list",
          "value": 21844311
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Confirmada",
            "Fecha": "={{ $('When Executed by Another Workflow').item.json.fecha }}",
            "Hora Fin": "={{ $json.end.dateTime.substring(11, 19) }}",
            "Hora Inicio": "={{ $json.start.dateTime.substring(11, 19) }}",
            "ID Cita": "={{ $json.id }}",
            "Nombre Completo": "={{ $('When Executed by Another Workflow').item.json.nombre_completo }}",
            "Profesional": "={{ $('When Executed by Another Workflow').item.json.profesional }}",
            "Servicio": "={{ $('When Executed by Another Workflow').item.json.servicio }}",
            "Telefono": "={{ $('When Executed by Another Workflow').item.json.telefono }}",
            "Categoria": "={{ $('When Executed by Another Workflow').item.json.categoria }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Inicio",
              "displayName": "Hora Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora Fin",
              "displayName": "Hora Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profesional",
              "displayName": "Profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Cita",
              "displayName": "ID Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fd34a97e-24b1-46d9-94aa-6e206b84a2f4",
      "name": "Cita Confirmada",
      "position": [
        480,
        352
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "dra_rosa_asistida"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-bloqueos",
      "name": "IF Dra Rosa Asistida",
      "position": [
        704,
        352
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
        "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "={{ `PROFESIONAL: ${$('When Executed by Another Workflow').item.json.asistente_asignada}\\nBLOQUEO: true\\nREF_EVENTO: ${$('Crear Cita').item.json.id}` }}",
          "summary": "={{ `PROFESIONAL: ${$('When Executed by Another Workflow').item.json.asistente_asignada}\nBLOQUEO: true\nREF_EVENTO: ${$('Crear Cita').item.json.id}` }}"
        }
      },
      "id": "block-Noa",
      "name": "Bloquear Asistente",
      "position": [
        928,
        272
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre_completo"
            },
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "telefono"
            },
            {
              "name": "servicio"
            },
            {
              "name": "profesional"
            },
            {
              "name": "categoria"
            },
            {
              "name": "asistente_asignada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        352
      ],
      "id": "ac2555b3-6a67-488b-9a8c-34407fe939f7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5137e8c-187c-46be-9f38-a27f772c9cf1",
              "name": "Mensaje",
              "value": "Perfecto, la cita ha sido confirmada.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        480
      ],
      "id": "98258d03-56c0-436a-87f0-86b326a56a77",
      "name": "Respuesta1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:23:42.645Z",
      "createdAt": "2026-01-21T09:23:42.645Z",
      "role": "workflow:owner",
      "workflowId": "U3T3hBNLvK1rayDt",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-30T09:19:34.375Z",
  "versionId": "a7a00b40-400c-436e-b6b0-91775747e6e5"
}