workflows/Book Event MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T11:12:09.000Z",
    "createdAt": "2026-03-21T11:12:07.875Z",
    "versionId": "6a11e569-3714-4852-989d-4550c5eb91cd",
    "workflowId": "U3T3hBNLvK1rayDt",
    "nodes": [
      {
        "parameters": {},
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "name": "When Executed by Another Workflow",
        "position": [
          128,
          544
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "start": "={{ $json.fecha }}T{{ $json.hora }}",
          "end": "={{ DateTime.fromISO($json.fecha + 'T' + $json.hora).plus({ minutes: $json.categoria == 'plexr' ? 60 : 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "=PROFESIONAL: {{ $json.profesional }}\\nSERVICIO: {{ $json.servicio }}\\nHORA: {{ $json.hora }}\\nCLIENTE: {{ $json.nombre_completo }}\\nTELEFONO: {{ $json.telefono }}",
            "summary": "={{ '[' + $json.profesional + '] ' + $json.servicio + ' | ' + $json.nombre_completo }}"
          }
        },
        "id": "2791174f-d3b9-4156-b1cb-2ff0bd478254",
        "name": "Crear Cita",
        "position": [
          352,
          544
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "cachedResultName": "Clínica Estética Rosa Mora",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
            "mode": "list",
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
          },
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
            "mode": "list",
            "value": 21844311
          },
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Nombre Completo",
                "id": "Nombre Completo",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Fecha",
                "id": "Fecha",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Hora Inicio",
                "id": "Hora Inicio",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Hora Fin",
                "id": "Hora Fin",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Servicio",
                "id": "Servicio",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Estado",
                "id": "Estado",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Profesional",
                "id": "Profesional",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Telefono",
                "id": "Telefono",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "ID Cita",
                "id": "ID Cita",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Categoria",
                "id": "Categoria",
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "Categoria": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
              "Estado": "Confirmada",
              "Fecha": "={{ $('When Executed by Another Workflow').item.json.fecha }}",
              "Hora Fin": "={{ $json.end.dateTime.substring(11, 19) }}",
              "Hora Inicio": "={{ $json.start.dateTime.substring(11, 19) }}",
              "ID Cita": "={{ $json.id }}",
              "Nombre Completo": "={{ $('When Executed by Another Workflow').item.json.nombre_completo }}",
              "Profesional": "={{ $('When Executed by Another Workflow').item.json.profesional }}",
              "Servicio": "={{ $('When Executed by Another Workflow').item.json.servicio }}",
              "Telefono": "'={{ $('When Executed by Another Workflow').item.json.telefono }}"
            }
          },
          "options": {}
        },
        "id": "fd34a97e-24b1-46d9-94aa-6e206b84a2f4",
        "name": "Cita Confirmada",
        "position": [
          576,
          544
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "057084b0-f4ed-43f0-838f-4d1633653f46",
        "name": "Respuesta",
        "position": [
          800,
          544
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "dra_rosa_asistida"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "if-bloqueos",
        "name": "IF Dra Rosa Asistida",
        "position": [
          1024,
          544
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c2",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "plexr"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "if-plexr",
        "name": "IF Plexr",
        "position": [
          1248,
          736
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
          "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "=PROFESIONAL: Noa\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
            "summary": "= [BLOQUEO - Noa] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
          }
        },
        "id": "block-Noa",
        "name": "Bloquear Noa",
        "position": [
          1248,
          352
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
          "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "=PROFESIONAL: Rosi\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
            "summary": "= [BLOQUEO - Rosi] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
          }
        },
        "id": "block-Rosi",
        "name": "Bloquear Rosi",
        "position": [
          1248,
          544
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
          "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 60 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
          "additionalFields": {
            "description": "=PROFESIONAL: Dra. Rosa\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
            "summary": "= [BLOQUEO - Dra. Rosa] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
          }
        },
        "id": "block-Dra-Rosa",
        "name": "Bloquear Dra. Rosa",
        "position": [
          1472,
          640
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "Cita Confirmada": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respuesta",
              "type": "main"
            }
          ]
        ]
      },
      "Crear Cita": {
        "main": [
          [
            {
              "index": 0,
              "node": "Cita Confirmada",
              "type": "main"
            }
          ]
        ]
      },
      "IF Dra Rosa Asistida": {
        "main": [
          [
            {
              "index": 0,
              "node": "Bloquear Noa",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Bloquear Rosi",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "IF Plexr",
              "type": "main"
            }
          ]
        ]
      },
      "IF Plexr": {
        "main": [
          [
            {
              "index": 0,
              "node": "Bloquear Dra. Rosa",
              "type": "main"
            }
          ]
        ]
      },
      "Respuesta": {
        "main": [
          [
            {
              "index": 0,
              "node": "IF Dra Rosa Asistida",
              "type": "main"
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "index": 0,
              "node": "Crear Cita",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 6a11e569",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "6a11e569-3714-4852-989d-4550c5eb91cd",
  "connections": {
    "Cita Confirmada": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respuesta",
            "type": "main"
          }
        ]
      ]
    },
    "Crear Cita": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cita Confirmada",
            "type": "main"
          }
        ]
      ]
    },
    "IF Dra Rosa Asistida": {
      "main": [
        [
          {
            "index": 0,
            "node": "Bloquear Noa",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Bloquear Rosi",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "IF Plexr",
            "type": "main"
          }
        ]
      ]
    },
    "IF Plexr": {
      "main": [
        [
          {
            "index": 0,
            "node": "Bloquear Dra. Rosa",
            "type": "main"
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Dra Rosa Asistida",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Crear Cita",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:23:42.628Z",
  "id": "U3T3hBNLvK1rayDt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Book Event MCP",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "name": "When Executed by Another Workflow",
      "position": [
        128,
        544
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "start": "={{ $json.fecha }}T{{ $json.hora }}",
        "end": "={{ DateTime.fromISO($json.fecha + 'T' + $json.hora).plus({ minutes: $json.categoria == 'plexr' ? 60 : 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "=PROFESIONAL: {{ $json.profesional }}\\nSERVICIO: {{ $json.servicio }}\\nHORA: {{ $json.hora }}\\nCLIENTE: {{ $json.nombre_completo }}\\nTELEFONO: {{ $json.telefono }}",
          "summary": "={{ '[' + $json.profesional + '] ' + $json.servicio + ' | ' + $json.nombre_completo }}"
        }
      },
      "id": "2791174f-d3b9-4156-b1cb-2ff0bd478254",
      "name": "Crear Cita",
      "position": [
        352,
        544
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "cachedResultName": "Clínica Estética Rosa Mora",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
          "mode": "list",
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
        },
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
          "mode": "list",
          "value": 21844311
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Confirmada",
            "Fecha": "={{ $('When Executed by Another Workflow').item.json.fecha }}",
            "Hora Fin": "={{ $json.end.dateTime.substring(11, 19) }}",
            "Hora Inicio": "={{ $json.start.dateTime.substring(11, 19) }}",
            "ID Cita": "={{ $json.id }}",
            "Nombre Completo": "={{ $('When Executed by Another Workflow').item.json.nombre_completo }}",
            "Profesional": "={{ $('When Executed by Another Workflow').item.json.profesional }}",
            "Servicio": "={{ $('When Executed by Another Workflow').item.json.servicio }}",
            "Telefono": "='{{ $('When Executed by Another Workflow').item.json.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Inicio",
              "displayName": "Hora Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora Fin",
              "displayName": "Hora Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profesional",
              "displayName": "Profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Cita",
              "displayName": "ID Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fd34a97e-24b1-46d9-94aa-6e206b84a2f4",
      "name": "Cita Confirmada",
      "position": [
        576,
        544
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "057084b0-f4ed-43f0-838f-4d1633653f46",
      "name": "Respuesta",
      "position": [
        800,
        544
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "dra_rosa_asistida"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-bloqueos",
      "name": "IF Dra Rosa Asistida",
      "position": [
        1024,
        544
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.servicio }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "plexr"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-plexr",
      "name": "IF Plexr",
      "position": [
        1248,
        736
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
        "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "=PROFESIONAL: Noa\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
          "summary": "= [BLOQUEO - Noa] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
        }
      },
      "id": "block-Noa",
      "name": "Bloquear Noa",
      "position": [
        1248,
        352
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
        "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 30 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "=PROFESIONAL: Rosi\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
          "summary": "= [BLOQUEO - Rosi] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
        }
      },
      "id": "block-Rosi",
      "name": "Bloquear Rosi",
      "position": [
        1248,
        544
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.fecha }}T{{ $('When Executed by Another Workflow').item.json.hora }}",
        "end": "={{ DateTime.fromISO($('When Executed by Another Workflow').item.json.fecha + 'T' + $('When Executed by Another Workflow').item.json.hora).plus({ minutes: 60 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "description": "=PROFESIONAL: Dra. Rosa\\nBLOQUEO: true\\nREF_EVENTO: {{ $('Crear Cita').item.json.id }}",
          "summary": "= [BLOQUEO - Dra. Rosa] {{ $('When Executed by Another Workflow').item.json.servicio }} | {{ $('When Executed by Another Workflow').item.json.nombre_completo }}"
        }
      },
      "id": "block-Dra-Rosa",
      "name": "Bloquear Dra. Rosa",
      "position": [
        1472,
        640
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "nombre_completo": "Pau Balavera",
          "fecha": "2026-03-26",
          "hora": "17:00:00",
          "telefono": "+34628284083",
          "servicio": "Plexr",
          "profesional": "Rosi"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:23:42.645Z",
      "createdAt": "2026-01-21T09:23:42.645Z",
      "role": "workflow:owner",
      "workflowId": "U3T3hBNLvK1rayDt",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T11:28:01.641Z",
  "versionId": "d5662f0f-a3bb-42bb-8968-83c7b8b983bb"
}