workflows/Cancelar.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T14:44:44.271Z",
  "id": "WF7Aal7ykaOAA5H6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cancelar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "numero"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M",
          "mode": "list",
          "cachedResultName": "AGENDAS CLINICA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "numero",
              "lookupValue": "=1234"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        352
      ],
      "id": "0cbd9da7-22e4-4716-8803-2965bf440b12",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "eventId": "={{ $json[\"id calendar\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        352
      ],
      "id": "ec4d9923-00ee-4d4f-b638-6f89ce8b14ea",
      "name": "Delete an event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5789de4-d94d-47ba-a0dc-de8763f5ca15",
              "name": "hecho",
              "value": "hecho",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        352
      ],
      "id": "30b15a87-d39c-4bc4-b946-84d6a314cff7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M",
          "mode": "list",
          "cachedResultName": "AGENDAS CLINICA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wnTxQsepDevHXiei3_dUZyPHgyBOiNR-ffsJAXhL0M/edit#gid=0"
        },
        "startIndex": "={{ $('Get row(s) in sheet').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        352
      ],
      "id": "a130ea4d-8788-4172-81cb-c1507719280a",
      "name": "Delete rows or columns from sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T14:44:44.277Z",
      "updatedAt": "2025-10-28T14:44:44.277Z",
      "role": "workflow:owner",
      "workflowId": "WF7Aal7ykaOAA5H6",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-29T22:11:57.000Z",
  "versionId": "8985259e-2c51-4ef7-ac64-af3c14ad2870"
}