workflows/Check Availability MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T17:32:28.000Z",
    "createdAt": "2026-03-12T17:32:14.631Z",
    "versionId": "f272fe95-7fdf-4156-96c2-1adf877e88cb",
    "workflowId": "2e9xvr2d0ANtxVMD",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "date"
              },
              {
                "name": "fromTime"
              },
              {
                "name": "servicio"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          320
        ]
      },
      {
        "parameters": {
          "jsCode": "const dateString = $json.date || \"\";\nconst date = new Date(dateString + \"T12:00:00\");\nconst dayOfWeek = date.getDay(); // 0=Dom, 1=Lun, 2=Mar, 3=Mié, 4=Jue, 5=Vie, 6=Sáb\n\n// 1. SEGURIDAD: CONTROL DE FECHA INVÁLIDA\nif (isNaN(dayOfWeek)) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Ha habido un problema entendiendo la fecha de tu cita. ¿Podrías indicarme el día de nuevo?\"\n    }\n  }];\n}\n\n// 2. FINES DE SEMANA (CERRADO PARA TODOS)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"La clínica está cerrada los fines de semana. Atendemos de lunes a viernes. ¿Qué día te viene bien?\"\n    }\n  }];\n}\n\n// 3. NORMALIZAR SERVICIO Y TIEMPOS (A prueba de fallos)\nconst servicio = ($json.servicio || \"\").toString().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim();\n\n// Atrapamos \"plexr\" y errores tipográficos comunes\nconst esPlexr = servicio.includes(\"plexr\") || servicio.includes(\"plexer\");\nconst duracionMin = esPlexr ? 60 : 30;\n\nconst fromTimeStr = $json.fromTime || \"00:00\";\nconst [fh, fm] = fromTimeStr.split(\":\").map(Number);\nconst fromTotal = (fh || 0) * 60 + (fm || 0);\nconst toTotal = fromTotal + duracionMin;\n\nconst toHH = String(Math.floor(toTotal / 60)).padStart(2, \"0\");\nconst toMM = String(toTotal % 60).padStart(2, \"0\");\nconst toTime = `${toHH}:${toMM}:00`;\n\n\n// 4. RUTAS ESTRICTAS POR TIPO DE SERVICIO\n\n// --- RUTA A: PLEXR ---\nif (esPlexr) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"El Plexr solo puede realizarse los martes o jueves de 17:00 a 20:00, ya que requiere la presencia de la Dra. Rosa. ¿Te viene bien alguno de esos días?\"\n      }\n    }];\n  }\n  // 1020 = 17:00 hrs | 1200 = 20:00 hrs (Si es a las 19:00, cambia 1200 por 1140)\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"El Plexr requiere la presencia de la Dra. Rosa, que solo está disponible de 17:00 a 20:00 los martes y jueves. La sesión es de 60 min y debe finalizar antes de las 20:00. ¿Te viene bien en ese horario?\"\n      }\n    }];\n  }\n  // Si todo es correcto, aprueba y TERMINA\n  return [{ json: { status: \"open\", categoria: \"plexr\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// --- RUTA B: DRA. ROSA ---\nconst keywordsDraRosa = [\n  \"botox\", \"neuromodulador\", \"mesoneuromodulador\", \"bruxismo\",\n  \"hilos tensores\", \"hilos\", \"relleno\", \"labio\", \"nariz\", \"ojera\",\n  \"pomulo\", \"retensando\", \"fenol\", \"skin booster\", \"inductor\",\n  \"colageno\", \"esclerosis\", \"varice\", \"microespuma\", \"mesoterapia\",\n  \"exosoma\", \"polinucleotido\", \"valoracion\", \"intralipoterapia\",\n  \"plasma rico\", \"prp\"\n];\nconst esDraRosa = keywordsDraRosa.some(k => servicio.includes(k));\n\nif (esDraRosa) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los tratamientos médicos de la Dra. Rosa solo están disponibles los martes y jueves de 17:00 a 20:00. ¿Te viene bien alguno de esos días?\"\n      }\n    }];\n  }\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"La Dra. Rosa atiende de 17:00 a 20:00 los martes y jueves. ¿Prefieres en ese horario?\"\n      }\n    }];\n  }\n  return [{ json: { status: \"open\", categoria: \"dra_rosa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// --- RUTA C: HORARIO GENERAL (Maderoterapia y Resto) ---\n\n// Validamos el horario general SOLO si no es Plexr ni Dra Rosa\nif (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n  if (fromTotal < 960 || toTotal > 1200) { // 16:00 a 20:00\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00. ¿Prefieres en ese horario o cualquier día de martes a jueves de 12:00 a 20:00?\"\n      }\n    }];\n  }\n} else if (dayOfWeek === 2 || dayOfWeek === 4) {\n  if (fromTotal < 720 || toTotal > 1200) { // 12:00 a 20:00\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los martes y jueves atendemos de 12:00 a 20:00. ¿Prefieres en ese horario?\"\n      }\n    }];\n  }\n}\n\n// Si es maderoterapia facial\nif (servicio.includes(\"maderoterapia facial\")) {\n  return [{ json: { status: \"open\", categoria: \"rosi_only\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// Resto de tratamientos\nreturn [{ json: { status: \"open\", categoria: \"rosi_noa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          320
        ],
        "id": "17833584-a1a9-4ff9-9279-df349ed4381d",
        "name": "Clasificar y Validar"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "condition-domingo",
                "leftValue": "={{ $json.status }}",
                "rightValue": "closed",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          320
        ],
        "id": "98462fda-8dd5-4bea-bb7d-d8547a84cfeb",
        "name": "¿Horario Válido?"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "cachedResultName": "alvarezvidalpablo@gmail.com"
          },
          "timeMin": "={{ $json.date }}T{{ $json.fromTime }}",
          "timeMax": "={{ $json.date }}T{{ $json.toTime }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          944,
          224
        ],
        "id": "a4186a7e-889f-4dbe-8607-352b298dc98c",
        "name": "Consultar Calendario",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst categoria = $('Clasificar y Validar').item.json.categoria;\n\n// Extraer qué profesionales están ocupados en los eventos del calendario\nconst profesionalesOcupados = items\n  .filter(item => item.json.start)\n  .map(item => {\n    const desc = item.json.description || item.json.summary || \"\";\n    const match = desc.match(/PROFESIONAL:\\s*(.+)/i);\n    return match ? match[1].trim() : \"desconocido\";\n  });\n\nconst rosiOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes(\"rosi\"));\nconst noaOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes(\"noa\"));\nconst draRosaOcupada = profesionalesOcupados.some(p =>\n  p.toLowerCase().includes(\"dra. rosa\") || p.toLowerCase().includes(\"dra rosa\")\n);\n\n// --- DRA. ROSA ---\nif (categoria === \"dra_rosa\") {\n  if (draRosaOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"La Dra. Rosa ya tiene una cita en ese horario. ¿Te viene bien otro día o una hora diferente?\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"free\",\n      profesional_asignada: \"Dra. Rosa\",\n      message: \"Horario disponible. Profesional asignada: Dra. Rosa.\"\n    }\n  }];\n}\n\n// --- ROSI ONLY (Maderoterapia Facial) ---\nif (categoria === \"rosi_only\") {\n  if (rosiOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"Rosi ya tiene una cita en ese horario. ¿Te viene bien otra hora?\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"free\",\n      profesional_asignada: \"Rosi\",\n      message: \"Horario disponible. Profesional asignada: Rosi.\"\n    }\n  }];\n}\n\n// --- ROSI O NOA ---\nif (categoria === \"rosi_noa\") {\n  if (!rosiOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Rosi\",\n        message: \"Horario disponible. Profesional asignada: Rosi.\"\n      }\n    }];\n  }\n  if (!noaOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Noa\",\n        message: \"Horario disponible. Profesional asignada: Noa.\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"busy\",\n      message: \"Tanto Rosi como Noa tienen citas en ese horario. ¿Prefieres otra hora?\"\n    }\n  }];\n}\n\n// --- PLEXR ---\nif (categoria === \"plexr\") {\n  if (draRosaOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"La Dra. Rosa ya tiene una cita en ese horario y el Plexr requiere su presencia. ¿Te viene bien otro momento?\"\n      }\n    }];\n  }\n  if (!rosiOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Rosi\",\n        message: \"Horario disponible para Plexr. Profesional asignada: Rosi (con supervisión de Dra. Rosa).\"\n      }\n    }];\n  }\n  if (!noaOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Noa\",\n        message: \"Horario disponible para Plexr. Profesional asignada: Noa (con supervisión de Dra. Rosa).\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"busy\",\n      message: \"No hay disponibilidad para Plexr en ese horario. ¿Prefieres otro momento?\"\n    }\n  }];\n}\n\n// Fallback\nreturn [{\n  json: {\n    status: \"free\",\n    profesional_asignada: \"Rosi\",\n    message: \"Horario disponible.\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          224
        ],
        "id": "833960b5-819d-4e18-b7f5-a18b518a6c5e",
        "name": "Evaluar Disponibilidad"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "533bd177-b54e-4f08-88c6-067fc035b1ef",
                "name": "mensaje",
                "value": "={{ $('Clasificar y Validar').item.json.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          416
        ],
        "id": "101cdfdd-ee33-41e6-9504-7e5e8c02f691",
        "name": "Mensaje Cerrado"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Clasificar y Validar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificar y Validar": {
        "main": [
          [
            {
              "node": "¿Horario Válido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Horario Válido?": {
        "main": [
          [
            {
              "node": "Consultar Calendario",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mensaje Cerrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Calendario": {
        "main": [
          [
            {
              "node": "Evaluar Disponibilidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version f272fe95",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "f272fe95-7fdf-4156-96c2-1adf877e88cb",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Clasificar y Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar y Validar": {
      "main": [
        [
          {
            "node": "¿Horario Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Horario Válido?": {
      "main": [
        [
          {
            "node": "Consultar Calendario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Cerrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Calendario": {
      "main": [
        [
          {
            "node": "Evaluar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:37:17.908Z",
  "id": "2e9xvr2d0ANtxVMD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check Availability MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date"
            },
            {
              "name": "fromTime"
            },
            {
              "name": "servicio"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const dateString = $json.date || \"\";\nconst date = new Date(dateString + \"T12:00:00\");\nconst dayOfWeek = date.getDay(); // 0=Dom, 1=Lun, 2=Mar, 3=Mié, 4=Jue, 5=Vie, 6=Sáb\n\n// 1. SEGURIDAD: CONTROL DE FECHA INVÁLIDA\nif (isNaN(dayOfWeek)) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Ha habido un problema entendiendo la fecha de tu cita. ¿Podrías indicarme el día de nuevo?\"\n    }\n  }];\n}\n\n// 2. FINES DE SEMANA (CERRADO PARA TODOS)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"La clínica está cerrada los fines de semana. Atendemos de lunes a viernes. ¿Qué día te viene bien?\"\n    }\n  }];\n}\n\n// 3. NORMALIZAR SERVICIO Y TIEMPOS (A prueba de fallos)\nconst servicio = ($json.servicio || \"\").toString().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim();\n\n// Atrapamos \"plexr\" y errores tipográficos comunes\nconst esPlexr = servicio.includes(\"plexr\") || servicio.includes(\"plexer\");\nconst duracionMin = esPlexr ? 60 : 30;\n\nconst fromTimeStr = $json.fromTime || \"00:00\";\nconst [fh, fm] = fromTimeStr.split(\":\").map(Number);\nconst fromTotal = (fh || 0) * 60 + (fm || 0);\nconst toTotal = fromTotal + duracionMin;\n\nconst toHH = String(Math.floor(toTotal / 60)).padStart(2, \"0\");\nconst toMM = String(toTotal % 60).padStart(2, \"0\");\nconst toTime = `${toHH}:${toMM}:00`;\n\n\n// 4. RUTAS ESTRICTAS POR TIPO DE SERVICIO\n\n// --- RUTA A: PLEXR ---\nif (esPlexr) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"El Plexr solo puede realizarse los martes o jueves de 17:00 a 20:00, ya que requiere la presencia de la Dra. Rosa. ¿Te viene bien alguno de esos días?\"\n      }\n    }];\n  }\n  // 1020 = 17:00 hrs | 1200 = 20:00 hrs (Si es a las 19:00, cambia 1200 por 1140)\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"El Plexr requiere la presencia de la Dra. Rosa, que solo está disponible de 17:00 a 20:00 los martes y jueves. La sesión es de 60 min y debe finalizar antes de las 20:00. ¿Te viene bien en ese horario?\"\n      }\n    }];\n  }\n  // Si todo es correcto, aprueba y TERMINA\n  return [{ json: { status: \"open\", categoria: \"plexr\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// --- RUTA B: DRA. ROSA ---\nconst keywordsDraRosa = [\n  \"botox\", \"neuromodulador\", \"mesoneuromodulador\", \"bruxismo\",\n  \"hilos tensores\", \"hilos\", \"relleno\", \"labio\", \"nariz\", \"ojera\",\n  \"pomulo\", \"retensando\", \"fenol\", \"skin booster\", \"inductor\",\n  \"colageno\", \"esclerosis\", \"varice\", \"microespuma\", \"mesoterapia\",\n  \"exosoma\", \"polinucleotido\", \"valoracion\", \"intralipoterapia\",\n  \"plasma rico\", \"prp\"\n];\nconst esDraRosa = keywordsDraRosa.some(k => servicio.includes(k));\n\nif (esDraRosa) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los tratamientos médicos de la Dra. Rosa solo están disponibles los martes y jueves de 17:00 a 20:00. ¿Te viene bien alguno de esos días?\"\n      }\n    }];\n  }\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"La Dra. Rosa atiende de 17:00 a 20:00 los martes y jueves. ¿Prefieres en ese horario?\"\n      }\n    }];\n  }\n  return [{ json: { status: \"open\", categoria: \"dra_rosa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// --- RUTA C: HORARIO GENERAL (Maderoterapia y Resto) ---\n\n// Validamos el horario general SOLO si no es Plexr ni Dra Rosa\nif (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n  if (fromTotal < 960 || toTotal > 1200) { // 16:00 a 20:00\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00. ¿Prefieres en ese horario o cualquier día de martes a jueves de 12:00 a 20:00?\"\n      }\n    }];\n  }\n} else if (dayOfWeek === 2 || dayOfWeek === 4) {\n  if (fromTotal < 720 || toTotal > 1200) { // 12:00 a 20:00\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los martes y jueves atendemos de 12:00 a 20:00. ¿Prefieres en ese horario?\"\n      }\n    }];\n  }\n}\n\n// Si es maderoterapia facial\nif (servicio.includes(\"maderoterapia facial\")) {\n  return [{ json: { status: \"open\", categoria: \"rosi_only\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// Resto de tratamientos\nreturn [{ json: { status: \"open\", categoria: \"rosi_noa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        320
      ],
      "id": "17833584-a1a9-4ff9-9279-df349ed4381d",
      "name": "Clasificar y Validar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-domingo",
              "leftValue": "={{ $json.status }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        320
      ],
      "id": "98462fda-8dd5-4bea-bb7d-d8547a84cfeb",
      "name": "¿Horario Válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "timeMin": "={{ $json.date }}T{{ $json.fromTime }}",
        "timeMax": "={{ $json.date }}T{{ $json.toTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        224
      ],
      "id": "a4186a7e-889f-4dbe-8607-352b298dc98c",
      "name": "Consultar Calendario",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst categoria = $('Clasificar y Validar').item.json.categoria;\n\n// Extraer qué profesionales están ocupados en los eventos del calendario\nconst profesionalesOcupados = items\n  .filter(item => item.json.start)\n  .map(item => {\n    const desc = item.json.description || item.json.summary || \"\";\n    const match = desc.match(/PROFESIONAL:\\s*(.+)/i);\n    return match ? match[1].trim() : \"desconocido\";\n  });\n\nconst rosiOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes(\"rosi\"));\nconst noaOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes(\"noa\"));\nconst draRosaOcupada = profesionalesOcupados.some(p =>\n  p.toLowerCase().includes(\"dra. rosa\") || p.toLowerCase().includes(\"dra rosa\")\n);\n\n// --- DRA. ROSA ---\nif (categoria === \"dra_rosa\") {\n  if (draRosaOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"La Dra. Rosa ya tiene una cita en ese horario. ¿Te viene bien otro día o una hora diferente?\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"free\",\n      profesional_asignada: \"Dra. Rosa\",\n      message: \"Horario disponible. Profesional asignada: Dra. Rosa.\"\n    }\n  }];\n}\n\n// --- ROSI ONLY (Maderoterapia Facial) ---\nif (categoria === \"rosi_only\") {\n  if (rosiOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"Rosi ya tiene una cita en ese horario. ¿Te viene bien otra hora?\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"free\",\n      profesional_asignada: \"Rosi\",\n      message: \"Horario disponible. Profesional asignada: Rosi.\"\n    }\n  }];\n}\n\n// --- ROSI O NOA ---\nif (categoria === \"rosi_noa\") {\n  if (!rosiOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Rosi\",\n        message: \"Horario disponible. Profesional asignada: Rosi.\"\n      }\n    }];\n  }\n  if (!noaOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Noa\",\n        message: \"Horario disponible. Profesional asignada: Noa.\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"busy\",\n      message: \"Tanto Rosi como Noa tienen citas en ese horario. ¿Prefieres otra hora?\"\n    }\n  }];\n}\n\n// --- PLEXR ---\nif (categoria === \"plexr\") {\n  if (draRosaOcupada) {\n    return [{\n      json: {\n        status: \"busy\",\n        message: \"La Dra. Rosa ya tiene una cita en ese horario y el Plexr requiere su presencia. ¿Te viene bien otro momento?\"\n      }\n    }];\n  }\n  if (!rosiOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Rosi\",\n        message: \"Horario disponible para Plexr. Profesional asignada: Rosi (con supervisión de Dra. Rosa).\"\n      }\n    }];\n  }\n  if (!noaOcupada) {\n    return [{\n      json: {\n        status: \"free\",\n        profesional_asignada: \"Noa\",\n        message: \"Horario disponible para Plexr. Profesional asignada: Noa (con supervisión de Dra. Rosa).\"\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: \"busy\",\n      message: \"No hay disponibilidad para Plexr en ese horario. ¿Prefieres otro momento?\"\n    }\n  }];\n}\n\n// Fallback\nreturn [{\n  json: {\n    status: \"free\",\n    profesional_asignada: \"Rosi\",\n    message: \"Horario disponible.\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        224
      ],
      "id": "833960b5-819d-4e18-b7f5-a18b518a6c5e",
      "name": "Evaluar Disponibilidad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "533bd177-b54e-4f08-88c6-067fc035b1ef",
              "name": "mensaje",
              "value": "={{ $('Clasificar y Validar').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        416
      ],
      "id": "101cdfdd-ee33-41e6-9504-7e5e8c02f691",
      "name": "Mensaje Cerrado"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:37:17.916Z",
      "createdAt": "2026-01-21T09:37:17.916Z",
      "role": "workflow:owner",
      "workflowId": "2e9xvr2d0ANtxVMD",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-20T11:29:25.843Z",
  "versionId": "f272fe95-7fdf-4156-96c2-1adf877e88cb"
}