workflows/Check Availability MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-30T09:18:41.699Z",
    "createdAt": "2026-03-30T09:18:41.699Z",
    "versionId": "6f6afb2a-00c7-4c49-80fe-25ea11f9f849",
    "workflowId": "2e9xvr2d0ANtxVMD",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "date"
              },
              {
                "name": "fromTime"
              },
              {
                "name": "servicio"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          -160
        ]
      },
      {
        "parameters": {
          "jsCode": "const dateString = $json.date || \"\";\nconst date = new Date(dateString + \"T12:00:00\");\nconst dayOfWeek = date.getDay(); // 0=Dom, 1=Lun, 2=Mar, 3=Mié, 4=Jue, 5=Vie, 6=Sáb\n\n// 1. SEGURIDAD: CONTROL DE FECHA INVÁLIDA\nif (isNaN(dayOfWeek)) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Ha habido un problema entendiendo la fecha de tu cita. ¿Podrías indicarme el día de nuevo?\"\n    }\n  }];\n}\n\n// 1.5 SEGURIDAD: CONTROL DE FECHA PASADA\n// Obtenemos la fecha de hoy en formato YYYY-MM-DD usando la zona horaria de España\nconst todayStr = new Intl.DateTimeFormat('en-CA', { timeZone: 'Europe/Madrid' }).format(new Date());\nif (dateString < todayStr) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Esa fecha no está disponible, se trata de una fecha pasada. ¿Qué día prefieres?\"\n    }\n  }];\n}\n\n// 2. FINES DE SEMANA (CERRADO PARA TODOS)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"La clínica está cerrada los fines de semana. Atendemos de lunes a viernes. ¿Qué día te viene bien?\"\n    }\n  }];\n}\n\n// 3. NORMALIZAR SERVICIO Y TIEMPOS\nconst servicio = ($json.servicio || \"\").toString().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim();\n\nconst esPlexr = servicio.includes(\"plexr\") || servicio.includes(\"plexer\") || servicio.includes(\"periorbital\") || servicio.includes(\"perioral\") || servicio.includes(\"fibromas\") || servicio.includes(\"xantelasmas\");\nconst duracionMin = esPlexr ? 60 : 30;\n\nconst fromTimeStr = $json.fromTime || \"00:00\";\nconst [fh, fm] = fromTimeStr.split(\":\").map(Number);\nconst fromTotal = (fh || 0) * 60 + (fm || 0);\nconst toTotal = fromTotal + duracionMin;\n\nconst toHH = String(Math.floor(toTotal / 60)).padStart(2, \"0\");\nconst toMM = String(toTotal % 60).padStart(2, \"0\");\nconst toTime = `${toHH}:${toMM}:00`;\n\n// RUTA 0: TRATAMIENTOS QUE REQUIEREN NOTIFICACION (no se agendan directamente)\nconst keywordsNotificar = [\"endolifting\", \"lipolaser\"];\nconst esNotificacion = keywordsNotificar.some(k => servicio.includes(k));\nif (esNotificacion) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Este tratamiento requiere una valoración especial. Debes usar la herramienta notify_prp_interest para enviar el caso a la clínica.\"\n    }\n  }];\n}\n\n// RUTA A: PLEXR (disponible cualquier día en horario general, 60 min)\nif (esPlexr) {\n  if (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n    if (fromTotal < 960 || toTotal > 1200) {\n      return [{ json: { status: \"closed\", message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00. La sesión de Plexr dura 60 min.\" } }];\n    }\n  } else if (dayOfWeek === 2 || dayOfWeek === 4) {\n    if (fromTotal < 720 || toTotal > 1200) {\n      return [{ json: { status: \"closed\", message: \"Los martes y jueves atendemos de 12:00 a 20:00. La sesión de Plexr dura 60 min.\" } }];\n    }\n  }\n  return [{ json: { status: \"open\", categoria: \"plexr\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// RUTA B1: DRA. ROSA SOLO (no requiere asistencias continuas, NO bloquea a Noa/Rosi)\nconst keywordsDraRosaSolo = [\n  \"esclerosis\", \"varice\", \"microespuma\", \"valoracion\", \"manos\"\n];\nconst esDraRosaSolo = keywordsDraRosaSolo.some(k => servicio.includes(k));\n\n// RUTA B2: DRA. ROSA ASISTIDA (bloquea a la asistente asignada)\nconst keywordsDraRosaAsistida = [\n  \"botox\", \"neuromodulador\", \"bruxismo\", \"hilos\", \"mesoterapia\", \"relleno\", \"labio\", \n  \"nariz\", \"ojera\", \"pomulo\", \"acido hialuronico\", \"skin booster\", \"inductor\", \n  \"colageno\", \"bioestimulacion\", \"carboxiterapia\", \"agresivo\", \"exosoma\", \"polinucleotido\"\n];\nconst esDraRosaAsistida = keywordsDraRosaAsistida.some(k => servicio.includes(k));\n\nif (esDraRosaSolo || esDraRosaAsistida) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los tratamientos médicos de la Dra. Rosa solo están disponibles los martes y jueves de 17:00 a 20:00.\"\n      }\n    }];\n  }\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"La Dra. Rosa atiende de 17:00 a 20:00 los martes y jueves.\"\n      }\n    }];\n  }\n  const categoriaAsignada = esDraRosaAsistida ? \"dra_rosa_asistida\" : \"dra_rosa_solo\";\n  return [{ json: { status: \"open\", categoria: categoriaAsignada, date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// RUTA C: HORARIO GENERAL (Maderoterapia y Resto para Noa / Rosi)\nif (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n  if (fromTotal < 960 || toTotal > 1200) { \n    return [{ json: { status: \"closed\", message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00.\" } }];\n  }\n} else if (dayOfWeek === 2 || dayOfWeek === 4) {\n  if (fromTotal < 720 || toTotal > 1200) { \n    return [{ json: { status: \"closed\", message: \"Los martes y jueves atendemos de 12:00 a 20:00.\" } }];\n  }\n}\n\nif (servicio.includes(\"maderoterapia facial\")) {\n  return [{ json: { status: \"open\", categoria: \"rosi_only\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\nreturn [{ json: { status: \"open\", categoria: \"rosi_noa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          -160
        ],
        "id": "17833584-a1a9-4ff9-9279-df349ed4381d",
        "name": "Clasificar y Validar"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-domingo",
                "leftValue": "={{ $json.status }}",
                "rightValue": "closed",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          -160
        ],
        "id": "98462fda-8dd5-4bea-bb7d-d8547a84cfeb",
        "name": "¿Horario Válido?"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "cachedResultName": "alvarezvidalpablo@gmail.com"
          },
          "timeMin": "={{ $json.date }}T{{ $json.fromTime }}",
          "timeMax": "={{ $json.date }}T{{ $json.toTime }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          944,
          -352
        ],
        "id": "a4186a7e-889f-4dbe-8607-352b298dc98c",
        "name": "Consultar Calendario",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const todosLosEventos = $input.all().filter(item => item.json.start);\nconst categoria = $(\"Clasificar y Validar\").item.json.categoria;\n\n// Extraer profesional de description o summary, ignorando expresiones n8n sin evaluar\nconst profesionalesOcupados = todosLosEventos.map(item => {\n  const fields = [item.json.description || '', item.json.summary || ''];\n  for (const field of fields) {\n    const match = field.match(/PROFESIONAL:\\s*([A-Za-z\\u00C0-\\u017F. ]+)/i);\n    if (match) return match[1].trim();\n  }\n  return 'desconocido';\n});\n\nconst rosiOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes('rosi'));\nconst noaOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes('noa'));\nconst draRosaOcupada = profesionalesOcupados.some(p =>\n  p.toLowerCase().includes('dra. rosa') || p.toLowerCase().includes('dra rosa')\n);\n\nconst prioRosi = Math.random() < 0.5;\n\nif (categoria === 'dra_rosa_solo') {\n  if (draRosaOcupada) return [{ json: { status: 'busy', message: 'La Dra. Rosa ya tiene una cita en ese horario. \\u00bfTe viene bien otro d\\u00eda o una hora diferente?' } }];\n  return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', categoria: 'dra_rosa_solo', message: 'Horario disponible.' } }];\n}\n\nif (categoria === 'dra_rosa_asistida') {\n  if (draRosaOcupada) {\n    return [{ json: { status: 'busy', message: 'La Dra. Rosa ya tiene una cita en ese horario. \\u00bfTe viene bien otro d\\u00eda o una hora diferente?' } }];\n  }\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Rosi', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Noa', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Noa', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Rosi', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n  }\n  return [{ json: { status: 'busy', message: 'La Dra. Rosa est\\u00e1 disponible pero las asistentes tienen citas en ese horario. \\u00bfPrefieres otra hora?' } }];\n}\n\nif (categoria === 'rosi_only') {\n  if (rosiOcupada) return [{ json: { status: 'busy', message: 'Rosi ya tiene una cita en ese horario. \\u00bfTe viene bien otra hora?' } }];\n  return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_only', message: 'Horario disponible.' } }];\n}\n\nif (categoria === 'rosi_noa') {\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n  }\n  return [{ json: { status: 'busy', message: 'Tanto Rosi como Noa tienen citas en ese horario. \\u00bfPrefieres otra hora?' } }];\n}\n\nif (categoria === 'plexr') {\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  }\n  if (!draRosaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  return [{ json: { status: 'busy', message: 'No hay disponibilidad para Plexr en ese horario. \\u00bfPrefieres otro momento?' } }];\n}\n\nreturn [{ json: { status: 'free', profesional_asignada: prioRosi ? 'Rosi' : 'Noa', categoria: categoria || 'rosi_noa', message: 'Horario disponible.' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          -256
        ],
        "id": "833960b5-819d-4e18-b7f5-a18b518a6c5e",
        "name": "Evaluar Disponibilidad"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "533bd177-b54e-4f08-88c6-067fc035b1ef",
                "name": "mensaje",
                "value": "={{ $('Clasificar y Validar').item.json.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          32
        ],
        "id": "101cdfdd-ee33-41e6-9504-7e5e8c02f691",
        "name": "Mensaje Cerrado"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "cachedResultName": "Rosa Mora - Bloqueos",
            "mode": "id",
            "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
          },
          "timeMin": "={{ $('Clasificar y Validar').item.json.date }}T{{ $('Clasificar y Validar').item.json.fromTime }}",
          "timeMax": "={{ $('Clasificar y Validar').item.json.date }}T{{ $('Clasificar y Validar').item.json.toTime }}",
          "options": {}
        },
        "id": "consultar-bloqueos",
        "name": "Consultar Bloqueos",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          944,
          -160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "mode": "append"
        },
        "id": "merge-calendars",
        "name": "Merge Calendarios",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          1168,
          -256
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Clasificar y Validar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificar y Validar": {
        "main": [
          [
            {
              "node": "¿Horario Válido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Horario Válido?": {
        "main": [
          [
            {
              "node": "Consultar Calendario",
              "type": "main",
              "index": 0
            },
            {
              "node": "Consultar Bloqueos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mensaje Cerrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Calendario": {
        "main": [
          [
            {
              "node": "Merge Calendarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Bloqueos": {
        "main": [
          [
            {
              "node": "Merge Calendarios",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Calendarios": {
        "main": [
          [
            {
              "node": "Evaluar Disponibilidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "6f6afb2a-00c7-4c49-80fe-25ea11f9f849",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Clasificar y Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar y Validar": {
      "main": [
        [
          {
            "node": "¿Horario Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Horario Válido?": {
      "main": [
        [
          {
            "node": "Consultar Calendario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultar Bloqueos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Cerrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Calendario": {
      "main": [
        [
          {
            "node": "Merge Calendarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Bloqueos": {
      "main": [
        [
          {
            "node": "Merge Calendarios",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Calendarios": {
      "main": [
        [
          {
            "node": "Evaluar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:37:17.908Z",
  "id": "2e9xvr2d0ANtxVMD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check Availability MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date"
            },
            {
              "name": "fromTime"
            },
            {
              "name": "servicio"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const dateString = $json.date || \"\";\nconst date = new Date(dateString + \"T12:00:00\");\nconst dayOfWeek = date.getDay(); // 0=Dom, 1=Lun, 2=Mar, 3=Mié, 4=Jue, 5=Vie, 6=Sáb\n\n// 1. SEGURIDAD: CONTROL DE FECHA INVÁLIDA\nif (isNaN(dayOfWeek)) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Ha habido un problema entendiendo la fecha de tu cita. ¿Podrías indicarme el día de nuevo?\"\n    }\n  }];\n}\n\n// 1.5 SEGURIDAD: CONTROL DE FECHA PASADA\n// Obtenemos la fecha de hoy en formato YYYY-MM-DD usando la zona horaria de España\nconst todayStr = new Intl.DateTimeFormat('en-CA', { timeZone: 'Europe/Madrid' }).format(new Date());\nif (dateString < todayStr) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Esa fecha no está disponible, se trata de una fecha pasada. ¿Qué día prefieres?\"\n    }\n  }];\n}\n\n// 2. FINES DE SEMANA (CERRADO PARA TODOS)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"La clínica está cerrada los fines de semana. Atendemos de lunes a viernes. ¿Qué día te viene bien?\"\n    }\n  }];\n}\n\n// 3. NORMALIZAR SERVICIO Y TIEMPOS\nconst servicio = ($json.servicio || \"\").toString().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim();\n\nconst esPlexr = servicio.includes(\"plexr\") || servicio.includes(\"plexer\") || servicio.includes(\"periorbital\") || servicio.includes(\"perioral\") || servicio.includes(\"fibromas\") || servicio.includes(\"xantelasmas\");\nconst duracionMin = esPlexr ? 60 : 30;\n\nconst fromTimeStr = $json.fromTime || \"00:00\";\nconst [fh, fm] = fromTimeStr.split(\":\").map(Number);\nconst fromTotal = (fh || 0) * 60 + (fm || 0);\nconst toTotal = fromTotal + duracionMin;\n\nconst toHH = String(Math.floor(toTotal / 60)).padStart(2, \"0\");\nconst toMM = String(toTotal % 60).padStart(2, \"0\");\nconst toTime = `${toHH}:${toMM}:00`;\n\n// RUTA 0: TRATAMIENTOS QUE REQUIEREN NOTIFICACION (no se agendan directamente)\nconst keywordsNotificar = [\"endolifting\", \"lipolaser\"];\nconst esNotificacion = keywordsNotificar.some(k => servicio.includes(k));\nif (esNotificacion) {\n  return [{\n    json: {\n      status: \"closed\",\n      message: \"Este tratamiento requiere una valoración especial. Debes usar la herramienta notify_prp_interest para enviar el caso a la clínica.\"\n    }\n  }];\n}\n\n// RUTA A: PLEXR (disponible cualquier día en horario general, 60 min)\nif (esPlexr) {\n  if (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n    if (fromTotal < 960 || toTotal > 1200) {\n      return [{ json: { status: \"closed\", message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00. La sesión de Plexr dura 60 min.\" } }];\n    }\n  } else if (dayOfWeek === 2 || dayOfWeek === 4) {\n    if (fromTotal < 720 || toTotal > 1200) {\n      return [{ json: { status: \"closed\", message: \"Los martes y jueves atendemos de 12:00 a 20:00. La sesión de Plexr dura 60 min.\" } }];\n    }\n  }\n  return [{ json: { status: \"open\", categoria: \"plexr\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// RUTA B1: DRA. ROSA SOLO (no requiere asistencias continuas, NO bloquea a Noa/Rosi)\nconst keywordsDraRosaSolo = [\n  \"esclerosis\", \"varice\", \"microespuma\", \"valoracion\", \"manos\"\n];\nconst esDraRosaSolo = keywordsDraRosaSolo.some(k => servicio.includes(k));\n\n// RUTA B2: DRA. ROSA ASISTIDA (bloquea a la asistente asignada)\nconst keywordsDraRosaAsistida = [\n  \"botox\", \"neuromodulador\", \"bruxismo\", \"hilos\", \"mesoterapia\", \"relleno\", \"labio\", \n  \"nariz\", \"ojera\", \"pomulo\", \"acido hialuronico\", \"skin booster\", \"inductor\", \n  \"colageno\", \"bioestimulacion\", \"carboxiterapia\", \"agresivo\", \"exosoma\", \"polinucleotido\"\n];\nconst esDraRosaAsistida = keywordsDraRosaAsistida.some(k => servicio.includes(k));\n\nif (esDraRosaSolo || esDraRosaAsistida) {\n  if (dayOfWeek !== 2 && dayOfWeek !== 4) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"Los tratamientos médicos de la Dra. Rosa solo están disponibles los martes y jueves de 17:00 a 20:00.\"\n      }\n    }];\n  }\n  if (fromTotal < 1020 || toTotal > 1200) {\n    return [{\n      json: {\n        status: \"closed\",\n        message: \"La Dra. Rosa atiende de 17:00 a 20:00 los martes y jueves.\"\n      }\n    }];\n  }\n  const categoriaAsignada = esDraRosaAsistida ? \"dra_rosa_asistida\" : \"dra_rosa_solo\";\n  return [{ json: { status: \"open\", categoria: categoriaAsignada, date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\n// RUTA C: HORARIO GENERAL (Maderoterapia y Resto para Noa / Rosi)\nif (dayOfWeek === 1 || dayOfWeek === 3 || dayOfWeek === 5) {\n  if (fromTotal < 960 || toTotal > 1200) { \n    return [{ json: { status: \"closed\", message: \"Los lunes, miércoles y viernes atendemos de 16:00 a 20:00.\" } }];\n  }\n} else if (dayOfWeek === 2 || dayOfWeek === 4) {\n  if (fromTotal < 720 || toTotal > 1200) { \n    return [{ json: { status: \"closed\", message: \"Los martes y jueves atendemos de 12:00 a 20:00.\" } }];\n  }\n}\n\nif (servicio.includes(\"maderoterapia facial\")) {\n  return [{ json: { status: \"open\", categoria: \"rosi_only\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n}\n\nreturn [{ json: { status: \"open\", categoria: \"rosi_noa\", date: $json.date, fromTime: fromTimeStr, toTime: toTime } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -160
      ],
      "id": "17833584-a1a9-4ff9-9279-df349ed4381d",
      "name": "Clasificar y Validar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-domingo",
              "leftValue": "={{ $json.status }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -160
      ],
      "id": "98462fda-8dd5-4bea-bb7d-d8547a84cfeb",
      "name": "¿Horario Válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "timeMin": "={{ $json.date }}T{{ $json.fromTime }}",
        "timeMax": "={{ $json.date }}T{{ $json.toTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        -352
      ],
      "id": "a4186a7e-889f-4dbe-8607-352b298dc98c",
      "name": "Consultar Calendario",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todosLosEventos = $input.all().filter(item => item.json.start);\nconst categoria = $(\"Clasificar y Validar\").item.json.categoria;\n\n// Extraer profesional de description o summary, ignorando expresiones n8n sin evaluar\nconst profesionalesOcupados = todosLosEventos.map(item => {\n  const fields = [item.json.description || '', item.json.summary || ''];\n  for (const field of fields) {\n    const match = field.match(/PROFESIONAL:\\s*([A-Za-z\\u00C0-\\u017F. ]+)/i);\n    if (match) return match[1].trim();\n  }\n  return 'desconocido';\n});\n\nconst rosiOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes('rosi'));\nconst noaOcupada = profesionalesOcupados.some(p => p.toLowerCase().includes('noa'));\nconst draRosaOcupada = profesionalesOcupados.some(p =>\n  p.toLowerCase().includes('dra. rosa') || p.toLowerCase().includes('dra rosa')\n);\n\nconst prioRosi = Math.random() < 0.5;\n\nif (categoria === 'dra_rosa_solo') {\n  if (draRosaOcupada) return [{ json: { status: 'busy', message: 'La Dra. Rosa ya tiene una cita en ese horario. \\u00bfTe viene bien otro d\\u00eda o una hora diferente?' } }];\n  return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', categoria: 'dra_rosa_solo', message: 'Horario disponible.' } }];\n}\n\nif (categoria === 'dra_rosa_asistida') {\n  if (draRosaOcupada) {\n    return [{ json: { status: 'busy', message: 'La Dra. Rosa ya tiene una cita en ese horario. \\u00bfTe viene bien otro d\\u00eda o una hora diferente?' } }];\n  }\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Rosi', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Noa', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Noa', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', asistente_asignada: 'Rosi', categoria: 'dra_rosa_asistida', message: 'Horario disponible.' } }];\n  }\n  return [{ json: { status: 'busy', message: 'La Dra. Rosa est\\u00e1 disponible pero las asistentes tienen citas en ese horario. \\u00bfPrefieres otra hora?' } }];\n}\n\nif (categoria === 'rosi_only') {\n  if (rosiOcupada) return [{ json: { status: 'busy', message: 'Rosi ya tiene una cita en ese horario. \\u00bfTe viene bien otra hora?' } }];\n  return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_only', message: 'Horario disponible.' } }];\n}\n\nif (categoria === 'rosi_noa') {\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'rosi_noa', message: 'Horario disponible.' } }];\n  }\n  return [{ json: { status: 'busy', message: 'Tanto Rosi como Noa tienen citas en ese horario. \\u00bfPrefieres otra hora?' } }];\n}\n\nif (categoria === 'plexr') {\n  if (prioRosi) {\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  } else {\n    if (!noaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Noa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n    if (!rosiOcupada) return [{ json: { status: 'free', profesional_asignada: 'Rosi', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  }\n  if (!draRosaOcupada) return [{ json: { status: 'free', profesional_asignada: 'Dra. Rosa', categoria: 'plexr', message: 'Horario disponible para Plexr.' } }];\n  return [{ json: { status: 'busy', message: 'No hay disponibilidad para Plexr en ese horario. \\u00bfPrefieres otro momento?' } }];\n}\n\nreturn [{ json: { status: 'free', profesional_asignada: prioRosi ? 'Rosi' : 'Noa', categoria: categoria || 'rosi_noa', message: 'Horario disponible.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -256
      ],
      "id": "833960b5-819d-4e18-b7f5-a18b518a6c5e",
      "name": "Evaluar Disponibilidad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "533bd177-b54e-4f08-88c6-067fc035b1ef",
              "name": "mensaje",
              "value": "={{ $('Clasificar y Validar').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        32
      ],
      "id": "101cdfdd-ee33-41e6-9504-7e5e8c02f691",
      "name": "Mensaje Cerrado"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "cachedResultName": "Rosa Mora - Bloqueos",
          "mode": "id",
          "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
        },
        "timeMin": "={{ $('Clasificar y Validar').item.json.date }}T{{ $('Clasificar y Validar').item.json.fromTime }}",
        "timeMax": "={{ $('Clasificar y Validar').item.json.date }}T{{ $('Clasificar y Validar').item.json.toTime }}",
        "options": {}
      },
      "id": "consultar-bloqueos",
      "name": "Consultar Bloqueos",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-calendars",
      "name": "Merge Calendarios",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1168,
        -256
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:37:17.916Z",
      "createdAt": "2026-01-21T09:37:17.916Z",
      "role": "workflow:owner",
      "workflowId": "2e9xvr2d0ANtxVMD",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-30T09:18:41.696Z",
  "versionId": "6f6afb2a-00c7-4c49-80fe-25ea11f9f849"
}