workflows/Check Availability MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-21T12:27:39.000Z",
    "createdAt": "2026-01-21T12:27:38.329Z",
    "versionId": "1a1ec248-e2b3-42d9-9469-552dec26b111",
    "workflowId": "2e9xvr2d0ANtxVMD",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"fecha\": {\n      \"type\": \"string\",\n      \"description\": \"La fecha que se quiere consultar (YYYY-MM-DD). Ej: 2026-01-23\"\n    },\n    \"hora\": {\n      \"type\": \"string\",\n      \"description\": \"La hora específica que se quiere verificar (HH:MM). Ej: 10:00\"\n    }\n  },\n  \"required\": [\n    \"fecha\",\n    \"hora\"\n  ]\n}"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "cachedResultName": "alvarezvidalpablo@gmail.com"
          },
          "timeMin": "={{ $json.properties.date }}T{{ $json.properties.fromTime }}:00",
          "timeMax": "={{ $json.properties.date }}T{{ $json.properties.toTime }}:00",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          496,
          352
        ],
        "id": "02466197-b03b-4849-83ef-1f8b491d0e7c",
        "name": "Get many events",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// 1. VERIFICACIÓN ROBUSTA DE HUECO LIBRE\n// Comprobamos si la lista está vacía O si el primer elemento NO tiene propiedad 'start'.\n// Esto cubre el caso donde \"Always Output Data\" envía un item vacío.\nif (items.length === 0 || !items[0].json.start) {\n  return [{\n    json: {\n      status: \"free\",\n      message: \"El horario está libre. Puedes reservar.\"\n    }\n  }];\n}\n\n// 2. SI HAY CITAS (HUECO OCUPADO)\n// Usamos \"optional chaining\" (?.) para evitar errores si falta algún dato raro\nconst busySlots = items.map(item => {\n  const start = item.json.start?.dateTime || item.json.start?.date || \"Hora desconocida\";\n  const end = item.json.end?.dateTime || item.json.end?.date || \"Hora desconocida\";\n  \n  return `Ocupado desde ${start} hasta ${end}`;\n}).join(\". \");\n\n// 3. DEVOLVER RESPUESTA\nreturn [{\n  json: {\n    status: \"busy\",\n    message: \"Ese horario no está disponible. Conflictos: \" + busySlots\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          352
        ],
        "id": "9b37c0b2-0c01-4d20-9d44-b6d66e606ecb",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 1a1ec248",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "1a1ec248-e2b3-42d9-9469-552dec26b111",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:37:17.908Z",
  "id": "2e9xvr2d0ANtxVMD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check Availability MCP",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"fecha\": {\n      \"type\": \"string\",\n      \"description\": \"La fecha que se quiere consultar (YYYY-MM-DD). Ej: 2026-01-23\"\n    },\n    \"hora\": {\n      \"type\": \"string\",\n      \"description\": \"La hora específica que se quiere verificar (HH:MM). Ej: 10:00\"\n    }\n  },\n  \"required\": [\n    \"fecha\",\n    \"hora\"\n  ]\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "timeMin": "={{ $json.properties.date }}T{{ $json.properties.fromTime }}:00",
        "timeMax": "={{ $json.properties.date }}T{{ $json.properties.toTime }}:00",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        496,
        352
      ],
      "id": "02466197-b03b-4849-83ef-1f8b491d0e7c",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. VERIFICACIÓN ROBUSTA DE HUECO LIBRE\n// Comprobamos si la lista está vacía O si el primer elemento NO tiene propiedad 'start'.\n// Esto cubre el caso donde \"Always Output Data\" envía un item vacío.\nif (items.length === 0 || !items[0].json.start) {\n  return [{\n    json: {\n      status: \"free\",\n      message: \"El horario está libre. Puedes reservar.\"\n    }\n  }];\n}\n\n// 2. SI HAY CITAS (HUECO OCUPADO)\n// Usamos \"optional chaining\" (?.) para evitar errores si falta algún dato raro\nconst busySlots = items.map(item => {\n  const start = item.json.start?.dateTime || item.json.start?.date || \"Hora desconocida\";\n  const end = item.json.end?.dateTime || item.json.end?.date || \"Hora desconocida\";\n  \n  return `Ocupado desde ${start} hasta ${end}`;\n}).join(\". \");\n\n// 3. DEVOLVER RESPUESTA\nreturn [{\n  json: {\n    status: \"busy\",\n    message: \"Ese horario no está disponible. Conflictos: \" + busySlots\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        352
      ],
      "id": "9b37c0b2-0c01-4d20-9d44-b6d66e606ecb",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "type": "check_availability",
          "properties": {
            "date": "2026-01-29",
            "fromTime": "12:00",
            "toTime": "13:00"
          },
          "required": [
            "date",
            "fromTime",
            "toTime"
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:37:17.916Z",
      "createdAt": "2026-01-21T09:37:17.916Z",
      "role": "workflow:owner",
      "workflowId": "2e9xvr2d0ANtxVMD",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-21T12:27:38.326Z",
  "versionId": "1a1ec248-e2b3-42d9-9469-552dec26b111"
}