workflows/Check Availability.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T11:35:28.561Z",
  "id": "189cu2OMFg2gXho2wayOI",
  "isArchived": false,
  "meta": null,
  "name": "Check Availability",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "afterTime"
            },
            {
              "name": "beforeTime"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c4ed827f-77ff-44ee-95ca-cc26b84d69a5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "nateherk88@gmail.com",
          "mode": "list",
          "cachedResultName": "nateherk88@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.afterTime }}",
        "timeMax": "={{ $json.beforeTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "74d59122-c65c-4e03-98c2-ec4b0a75c537",
      "name": "Get many events",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76162ee2-92f6-4f5c-9376-3381250f0c9c",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "7eb34eaa-7f10-463a-b87c-6473a30087e4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1488c01b-d1e4-4c3c-81a9-7bf579287d71",
              "name": "message",
              "value": "the entire day is available",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "8dc70b35-de3f-4e3a-b01d-3c6e9ee39781",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T11:35:28.573Z",
      "createdAt": "2026-01-23T11:35:28.573Z",
      "role": "workflow:owner",
      "workflowId": "189cu2OMFg2gXho2wayOI",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-23T11:35:20.636Z",
      "createdAt": "2026-01-23T11:35:20.636Z",
      "id": "QlkdKA8azg9mIcDr",
      "name": "Vapi MCP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T11:35:28.000Z",
  "versionId": "536c7e83-21ce-4e2d-b010-b0f140d4eaa0"
}