workflows/Client Lookup MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-23T12:53:32.000Z",
    "createdAt": "2026-01-23T12:53:18.085Z",
    "versionId": "64a88929-e12d-4c85-8597-0e526472e19b",
    "workflowId": "SaTeGE2E5veNmT6n",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b6eeb483-0051-4ac2-bed0-9ea255adf452",
                "name": "Mensaje",
                "value": "Es un nuevo cliente, no está registrado en el CRM",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          448
        ],
        "id": "a97b6614-d48a-467d-bada-f4b1fd9f203c",
        "name": "Cliente_No_Encontrado"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
            "mode": "list",
            "cachedResultName": "Agente de voz Zenit Clinic V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Telefono",
                "lookupValue": "={{ $json.telefono }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          528,
          352
        ],
        "id": "2c91a69d-b4d4-41c4-9bc6-8d7b36e0a5fc",
        "name": "Hoja Clientes",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "002e8464-650e-48f2-8063-654a692043ba",
                "leftValue": "={{ $json['Nombre Completo'] }}",
                "rightValue": "={{ $json.Telefono }}",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          736,
          352
        ],
        "id": "4da14e45-d218-49d4-b9d8-3602911be5d4",
        "name": "¿Existe?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "21f7468c-9858-4ca4-97ef-01a6dc352f4b",
                "name": "Mensaje",
                "value": "=Ya está registrado y se llama, {{ $json['Nombre Completo'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          256
        ],
        "id": "1ccdc1f1-ad1d-45ee-968f-d89cc093be35",
        "name": "Cliente_Encontrado"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Hoja Clientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hoja Clientes": {
        "main": [
          [
            {
              "node": "¿Existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Existe?": {
        "main": [
          [
            {
              "node": "Cliente_Encontrado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cliente_No_Encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 64a88929",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "64a88929-e12d-4c85-8597-0e526472e19b",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Hoja Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hoja Clientes": {
      "main": [
        [
          {
            "node": "¿Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe?": {
      "main": [
        [
          {
            "node": "Cliente_Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cliente_No_Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-20T17:43:02.335Z",
  "id": "SaTeGE2E5veNmT6n",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Client Lookup MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6eeb483-0051-4ac2-bed0-9ea255adf452",
              "name": "Mensaje",
              "value": "Es un nuevo cliente, no está registrado en el CRM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        448
      ],
      "id": "a97b6614-d48a-467d-bada-f4b1fd9f203c",
      "name": "Cliente_No_Encontrado"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
          "mode": "list",
          "cachedResultName": "Agente de voz Zenit Clinic V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        352
      ],
      "id": "2c91a69d-b4d4-41c4-9bc6-8d7b36e0a5fc",
      "name": "Hoja Clientes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "002e8464-650e-48f2-8063-654a692043ba",
              "leftValue": "={{ $json['Nombre Completo'] }}",
              "rightValue": "={{ $json.Telefono }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        352
      ],
      "id": "4da14e45-d218-49d4-b9d8-3602911be5d4",
      "name": "¿Existe?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21f7468c-9858-4ca4-97ef-01a6dc352f4b",
              "name": "Mensaje",
              "value": "=Ya está registrado y se llama, {{ $json['Nombre Completo'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        256
      ],
      "id": "1ccdc1f1-ad1d-45ee-968f-d89cc093be35",
      "name": "Cliente_Encontrado"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-20T17:43:02.343Z",
      "createdAt": "2026-01-20T17:43:02.343Z",
      "role": "workflow:owner",
      "workflowId": "SaTeGE2E5veNmT6n",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T12:53:58.101Z",
  "versionId": "64a88929-e12d-4c85-8597-0e526472e19b"
}