workflows/Clinica Zenit.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Intención": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "Buscar Citas Existentes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Info Servicios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Info Clínica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Saludo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Buscar Borrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Info Clínica": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Info": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Info Servicios": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Servicios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Servicios": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Fallback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Saludo": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Citas Existentes": {
      "main": [
        [
          {
            "node": "Citas agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Horarios Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Consultar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Consultar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citas agendadas": {
      "main": [
        [
          {
            "node": "Agrupar citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar citas": {
      "main": [
        [
          {
            "node": "Generar Horarios Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Borrador": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "Router de Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clasificar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router de Estado": {
      "main": [
        [
          {
            "node": "Guardar Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Teléfono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalizar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Nombre": {
      "main": [
        [
          {
            "node": "Preguntar teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preguntar teléfono": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Teléfono": {
      "main": [
        [
          {
            "node": "Preguntar Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preguntar Servicio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalizar Reserva": {
      "main": [
        [
          {
            "node": "Confirmación Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmación Final": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-16T18:31:31.418Z",
  "id": "ldpmxGxN21gVMi8J",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Clinica Zenit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-dental",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        832
      ],
      "id": "58a28683-7514-487e-ae38-2ee3c1b913f1",
      "name": "Webhook",
      "webhookId": "f9a36954-bf1f-4beb-a571-1789ff0c1d1b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "AGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "abe59512-856a-418f-a281-306ee885b0bc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12030c13-07db-4ac9-a383-444c401b360c",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e44efeff-d5bb-4e65-b74d-5f273925951a",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "CONSULTAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c1d55cc-02b4-4efb-884e-aa175f5b73a9",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "INFO_SERVICIOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e93d0240-cb2d-4384-9115-af725df26066",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "INFO_CLINICA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b7be5f4-87c9-4253-8854-92da4551bc3b",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "SALUDO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        1136
      ],
      "id": "9ddef312-f53c-4880-850a-b3234c264b80",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un clasificador de intenciones para una clínica dental.\n\n**IMPORTANTE** NUNCA incluyas emojis en tus respuestas, SOLO TEXTO.\n\nAnaliza el siguiente mensaje del paciente y clasifica su intención en UNA de estas categorías:\n\nINTENCIONES:\n- AGENDAR: Quiere reservar/pedir/sacar una cita\n- CANCELAR: Quiere cancelar una cita existente\n- CONSULTAR: Quiere ver disponibilidad o confirmar su cita\n- INFO_SERVICIOS: Pregunta sobre tratamientos, precios, servicios\n- INFO_CLINICA: Pregunta sobre ubicación, horarios, contacto\n- SALUDO: Saludos iniciales sin intención clara (Hola, buenas, buenos dias, buenas tardes, hola que tal, etc)\n- OTRO: No encaja en ninguna categoría\n\nMENSAJE DEL PACIENTE: \n{{ $json.mensaje_usuario }}\n\nResponde SOLO con el nombre de la intención en mayúsculas, nada más.\nEjemplo: AGENDAR",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        1152
      ],
      "id": "212d7811-d917-4080-8b92-0b8339fd9020",
      "name": "Clasificar Intención",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"mensaje_usuario\": \"={{ $json.body.mensaje }}\",\n  \"session_id\": \"={{ $json.body.session_id || 'test-session' }}\",\n  \"timestamp\": \"={{ $now.toISO() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        832
      ],
      "id": "abd71c4a-d6d3-4b96-aff7-cd5bf1327cfc",
      "name": "Preparar Datos"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Eres el asistente virtual llamado Juan de Clínica Dental Zenit.\n\nINFORMACIÓN DE LA CLÍNICA:\n\n📍 UBICACIÓN:\n- Dirección: Calle Juan Pablo, 1 \n- Zona/Barrio: Alicante, PAU 5\n\n\n📞 CONTACTO:\n- Teléfono: [+34 664 566 345]\n- WhatsApp: [+34 664 566 345]\n- Email: [email@clinica.com]\n- Web: [www.clinica.com]\n\n🕐 HORARIO DE ATENCIÓN:\n- Lunes a Jueves: 9:00 - 14:00 y 16:00 - 20:00\n- Viernes: 9:00 - 15:00\n- Sábados: Cerrado\n- Domingos y festivos: Cerrado\n\n💳 FORMAS DE PAGO:\n- Efectivo\n- Tarjeta (débito/crédito)\n- Bizum\n- Financiación disponible\n\n🏥 SEGUROS ACEPTADOS:\n- [Asisa, Sanitas, Adeslas, etc.]\n\n\nINSTRUCCIONES:\n- Responde de forma clara, amable y concisa\n- Si preguntan algo que no sabes, di \"Para esa información específica, te recomiendo llamarnos al [teléfono]\"\n- Ofrece siempre la opción de agendar una cita\n- Máximo 3-4 líneas de respuesta",
              "role": "assistant"
            },
            {
              "content": "={{ $('Preparar Datos').item.json.mensaje_usuario }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        1216
      ],
      "id": "97cb894e-95b4-4049-a45b-9458ecfc608f",
      "name": "Responder Info Clínica",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"respuesta\": \" {{ $json.message.content }}\",\n  \"intencion\": \"INFO_CLINICA\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1216
      ],
      "id": "4e73cad9-9496-4eb1-9485-0c650676ffc9",
      "name": "Formatear Respuesta Info"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        928
      ],
      "id": "2be4420f-e8ea-4ec8-ad24-c50c97d5d326",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres el asistente virtual de Clínica Dental Zenit.\n\nSERVICIOS Y PRECIOS:\n\nODONTOLOGÍA GENERAL:\n- Revisión y diagnóstico: Gratuita con tratamiento\n- Limpieza dental (profilaxis): Desde 45€\n- Empastes (obturaciones): Desde 50€\n- Endodoncia (matar nervio): Desde 150€\n- Extracción simple: Desde 60€\n- Extracción compleja (muelas del juicio): Desde 120€\n\nESTÉTICA DENTAL:\n- Blanqueamiento dental LED: Desde 200€\n- Carillas de composite: Desde 150€/diente\n- Carillas de porcelana: Desde 400€/diente\n\nIMPLANTOLOGÍA:\n- Implante dental completo: Desde 800€\n- Corona sobre implante: Desde 600€\n- Incluye: cirugía, implante, pilar y corona\n\nORTODONCIA:\n- Brackets metálicos: Desde 2.500€ (tratamiento completo)\n- Brackets estéticos (zafiro): Desde 3.200€\n- Ortodoncia invisible (Invisalign): Desde 3.800€\n- Valoración inicial: GRATUITA\n\nURGENCIAS:\n- Atención urgencias: Disponible en horario de clínica\n- Precio según tratamiento necesario\n\nFINANCIACIÓN:\n- Hasta 24 meses sin intereses\n- Facilidades de pago personalizadas\n\nINSTRUCCIONES:\n- Responde de forma clara y profesional\n- Los precios son aproximados y orientativos\n- Siempre menciona: \"Para un presupuesto exacto, necesitamos hacer una valoración\"\n- Ofrece agendar una consulta gratuita\n- Máximo 4-5 líneas de respuesta\n- Si preguntan por algo no listado, di \"Te recomiendo que lo consultes directamente con el doctor en una cita\"\n\n**IMPORTANTE** NUNCA incluyas emojis en tus respuestas, SOLO TEXTO.\n\n**NOTA IMPORTANTE** En tus respuestas no debes incluir \"\" ni **\n",
              "role": "assistant"
            },
            {
              "content": "={{ $('Preparar Datos').item.json.mensaje_usuario }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        1024
      ],
      "id": "0871d626-1417-4cbb-8639-4475a60497af",
      "name": "Responder Info Servicios",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f51b264-d3c7-49f2-9f09-3f06291ef76b",
              "name": "Respuesta",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1024
      ],
      "id": "97f85b4c-d2f6-4a32-b4d2-30f0331a605c",
      "name": "Formatear Respuesta Servicios"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"respuesta\": \"Disculpa, no he entendido bien tu consulta. \\n\\nPuedo ayudarte con:\\n\\n✅ Agendar o cancelar una cita\\n✅ Consultar disponibilidad\\n✅ Información sobre nuestros servicios y precios\\n✅ Horarios y ubicación\\n\\n¿Podrías reformular tu pregunta? O si prefieres, llámanos al [+34 XXX XXX XXX]\",\n  \"intencion\": \"OTRO\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1600
      ],
      "id": "5040def8-504a-4915-a0e3-2b78831e7be0",
      "name": "Respuesta Fallback"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"respuesta\": \"¡Hola! 👋 Soy el asistente virtual de Clínica Dental Zenit.\\n\\nEstoy aquí para ayudarte con:\\n\\n✅ Agendar una cita\\n✅ Cancelar o consultar tu cita\\n✅ Información sobre nuestros servicios\\n✅ Horarios y ubicación\\n\\n¿En qué puedo ayudarte hoy?\",\n  \"intencion\": \"SALUDO\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1408
      ],
      "id": "414c81d1-1888-401d-a72b-353054d9021b",
      "name": "Respuesta Saludo"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUzZAYiRKAhvpiY",
          "mode": "list",
          "cachedResultName": "Clínica Dental - Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY"
        },
        "table": {
          "__rl": true,
          "value": "tbl1wAvyOt44rj9im",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY/tbl1wAvyOt44rj9im"
        },
        "filterByFormula": "=AND(\n  IS_AFTER({Fecha}, NOW()),\n  OR(\n    {Estado} = \"Confirmada\",\n    {Estado} = \"Pendiente\"\n  )\n)",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Fecha"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        832
      ],
      "id": "cc95614f-bd17-4044-8975-2dce42c7e6f7",
      "name": "Buscar Citas Existentes",
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=# ROL\nEres el asistente de Clínica Dental Zenit. Eres amable, eficiente y preciso.\n\n# TAREA\nTu tarea es analizar una lista de citas ya agendadas y ofrecer al paciente 3-4 horarios disponibles, basándote en una regla de capacidad máxima.\n\n# INFORMACIÓN FIJA\n* **Horario Clínica:** Lunes a Jueves (9:00-14:00, 16:00-20:00), Viernes (9:00-15:00).\n* **Intervalos de Cita:** Cada 30 minutos (9:00, 9:30, 10:00, etc.).\n\n# DATOS DE ENTRADA\n* **LISTA_DE_CITAS_JSON:** {{ $json.Citas }}\n* **FECHA_ACTUAL (Referencia Maestra):** {{ $now.setZone('Europe/Madrid').toFormat(\"cccc, dd 'de' MMMM 'de' yyyy, HH:mm\") }}\n\n# REGLA DE DISPONIBILIDAD (¡MUY IMPORTANTE!)\nEsta es tu lógica principal:\n1.  **Capacidad Máxima:** Podemos atender a **5 pacientes a la vez** en la misma fecha y hora.\n2.  **Tu Tarea de Conteo:** Debes contar cuántas veces aparece CADA fecha y hora en la `LISTA_DE_CITAS_JSON`.\n3.  **HUECO DISPONIBLE:** Si una hora (ej. \"2025-11-18 10:00\") aparece **0, 1, 2, 3 o 4 veces** en la lista, ese horario **SÍ ESTÁ DISPONIBLE**.\n4.  **HUECO COMPLETO:** Si una hora (ej. \"2025-11-18 10:30\") aparece **5 o más veces** en la lista, ese horario **ESTÁ COMPLETO** y no debes ofrecerlo.\n\n## EJEMPLOS DE LA REGLA\n\n**Ejemplo 1: HUECO DISPONIBLE**\n* **Input (Lista de Citas):** `[\"2025-11-18 09:30\", \"2025-11-18 09:30\", \"2025-11-18 09:30\", \"2025-11-18 09:30\"]`\n* **Análisis:** La hora \"2025-11-18 09:30\" aparece 4 veces. El límite es 5.\n* **Acción:** **SÍ puedes ofrecer** el \"Martes 18/11 a las 09:30\" porque aún queda 1 hueco.\n\n**Ejemplo 2: HUECO COMPLETO**\n* **Input (Lista de Citas):** `[\"2025-11-18 10:00\", \"2025-11-18 10:00\", \"2025-11-18 10:00\", \"2025-11-18 10:00\", \"2025-11-18 10:00\"]`\n* **Análisis:** La hora \"2025-11-18 10:00\" aparece 5 veces. Se ha alcanzado el límite.\n* **Acción:** **NO puedes ofrecer** el \"Martes 18/11 a las 10:00\" porque está completo.\n\n# PASOS A SEGUIR\n**1. ANCLAJE DE FECHA (¡CRÍTICO!):** Tu primera y más importante tarea es leer la variable `FECHA_ACTUAL (Referencia Maestra)`. Esta es tu *única* fuente de verdad. Úsala para saber qué día de la semana es hoy y para calcular todas las fechas futuras. (Por ejemplo, si `FECHA_ACTUAL` dice \"lunes, 17 de noviembre...\", el 18 de noviembre es martes, sin importar nada más).\n\n**2. INTERPRETAR FECHAS RELATIVAS:** Si un paciente pide una fecha relativa (como \"mañana\", \"pasado mañana\", \"el miércoles\" o \"el miércoles que viene\"), DEBES calcular la fecha exacta basándote *únicamente* en la `FECHA_ACTUAL`.\n    * Ejemplo: Si `FECHA_ACTUAL` es **Lunes 17**, \"el miércoles\" es el **Miércoles 19**.\n    * Ejemplo: Si `FECHA_ACTUAL` es **Lunes 17**, \"el miércoles que viene\" se refiere al de la próxima semana, **Miércoles 26**.\n\n**3. ANÁLISIS DE HUECOS:** Analiza la `LISTA_DE_CITAS_JSON` y usa la `REGLA DE DISPONIBILIDAD` para saber qué huecos están completos.\n\n**4. BÚSQUEDA:** Empezando desde la `FECHA_ACTUAL`, busca 3-4 huecos que estén DISPONIBLES (que tengan 4 citas o menos) dentro del horario de la clínica.\n\n**5. FORMATO:** Formatea las opciones que ofreces como: \"Día DD/MM a las HH:MM\". (Ejemplo: \"Martes 18/11 a las 10:30\").\n\n**6. RESPUESTA:** Sé natural, amable y conciso (máximo 4-5 líneas) y SIEMPRE termina preguntando: \"¿Te gustaría agendar en alguno de estos horarios?\""
            },
            {
              "content": "={{ $('Preparar Datos').item.json.mensaje_usuario }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        880,
        832
      ],
      "id": "f4fb7d29-13f6-4058-8e72-38a063737bf0",
      "name": "Generar Horarios Disponibles",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53607a6b-f701-4cad-96f8-25a6b86acbec",
              "name": "Respuesta",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        832
      ],
      "id": "ff642035-f47a-4bf7-bae0-1be2efb86f23",
      "name": "Formatear Respuesta Consultar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a39cee3-541e-409a-a6dd-6bf73eb13c94",
              "name": "Citas",
              "value": "={{ DateTime.fromISO($json.Fecha, { zone: 'utc' }).setZone('Europe/Madrid').toFormat(\"yyyy-MM-dd HH:mm\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        832
      ],
      "id": "be1af4e0-c740-4cc5-90a5-e1c11dc5d90b",
      "name": "Citas agendadas"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Citas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        832
      ],
      "id": "62449062-e6c9-4c26-b558-38de39197357",
      "name": "Agrupar citas"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUzZAYiRKAhvpiY",
          "mode": "list",
          "cachedResultName": "Clínica Dental - Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY"
        },
        "table": {
          "__rl": true,
          "value": "tbl1wAvyOt44rj9im",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY/tbl1wAvyOt44rj9im"
        },
        "filterByFormula": "=AND({Session ID} = \"{{ $('Preparar Datos').item.json.session_id }}\", {Estado} = \"INCOMPLETA\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -816,
        832
      ],
      "id": "d8812e83-9547-4b47-b862-fe80df1653bc",
      "name": "Buscar Borrador",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c23ccab-7f3b-4bdd-a1c2-26a4427797df",
              "leftValue": "={{ $items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        832
      ],
      "id": "a0eed403-16ac-485d-8744-16167427c5e4",
      "name": "Verificar Estado"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields['Nombre paciente'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "9baac60c-c767-4c85-b860-c6ae0eeeafb0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1059550e-16f9-4919-bec3-5596927ac1f1",
                    "leftValue": "={{ $json.fields.Telefono }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3a6cd55-b033-44fb-b3c7-1ac943a689d9",
                    "leftValue": "={{ $json.fields.Servicio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        656,
        432
      ],
      "id": "01f17c02-c163-4c0c-b1e9-fe3813ad2f3e",
      "name": "Router de Estado"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUzZAYiRKAhvpiY",
          "mode": "list",
          "cachedResultName": "Clínica Dental - Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY"
        },
        "table": {
          "__rl": true,
          "value": "tbl1wAvyOt44rj9im",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY/tbl1wAvyOt44rj9im"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre Paciente": "={{ $('Preparar Datos').item.json.mensaje_usuario }}"
          },
          "matchingColumns": [
            "Nombre Paciente"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre Paciente",
              "displayName": "Nombre Paciente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Revisión y limpieza",
                  "value": "Revisión y limpieza"
                },
                {
                  "name": "Empaste",
                  "value": "Empaste"
                },
                {
                  "name": "Endodoncia",
                  "value": "Endodoncia"
                },
                {
                  "name": "Extracción",
                  "value": "Extracción"
                },
                {
                  "name": "Blanqueamiento",
                  "value": "Blanqueamiento"
                },
                {
                  "name": "Ortodoncia",
                  "value": "Ortodoncia"
                },
                {
                  "name": "Implante",
                  "value": "Implante"
                },
                {
                  "name": "Otro",
                  "value": "Otro"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                },
                {
                  "name": "Completada",
                  "value": "Completada"
                },
                {
                  "name": "INCOMPLETA",
                  "value": "INCOMPLETA"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creada",
              "displayName": "Creada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        256
      ],
      "id": "e013b154-415e-484b-8b55-37968cf38195",
      "name": "Guardar Nombre",
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"respuesta\": \"Gracias. ¿Cuál es tu número de teléfono de contacto?\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        256
      ],
      "id": "9c367d06-6adb-4c80-8e0e-1345b54f9c8e",
      "name": "Preguntar teléfono"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUzZAYiRKAhvpiY",
          "mode": "list",
          "cachedResultName": "Clínica Dental - Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY"
        },
        "table": {
          "__rl": true,
          "value": "tbl1wAvyOt44rj9im",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY/tbl1wAvyOt44rj9im"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Teléfono": "={{ $('Preparar Datos').item.json.mensaje_usuario }}"
          },
          "matchingColumns": [
            "Teléfono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre Paciente",
              "displayName": "Nombre Paciente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Revisión y limpieza",
                  "value": "Revisión y limpieza"
                },
                {
                  "name": "Empaste",
                  "value": "Empaste"
                },
                {
                  "name": "Endodoncia",
                  "value": "Endodoncia"
                },
                {
                  "name": "Extracción",
                  "value": "Extracción"
                },
                {
                  "name": "Blanqueamiento",
                  "value": "Blanqueamiento"
                },
                {
                  "name": "Ortodoncia",
                  "value": "Ortodoncia"
                },
                {
                  "name": "Implante",
                  "value": "Implante"
                },
                {
                  "name": "Otro",
                  "value": "Otro"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                },
                {
                  "name": "Completada",
                  "value": "Completada"
                },
                {
                  "name": "INCOMPLETA",
                  "value": "INCOMPLETA"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creada",
              "displayName": "Creada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        448
      ],
      "id": "97692bfc-c631-4206-b497-6055f9c5c7ed",
      "name": "Guardar Teléfono",
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"respuesta\": \"Entendido. ¿Para qué servicio es la cita? (Revisión, Empaste, Endodoncia...)\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        448
      ],
      "id": "978e37fc-9e76-4fdd-813f-ba4ac5e1141b",
      "name": "Preguntar Servicio"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUzZAYiRKAhvpiY",
          "mode": "list",
          "cachedResultName": "Clínica Dental - Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY"
        },
        "table": {
          "__rl": true,
          "value": "tbl1wAvyOt44rj9im",
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://airtable.com/appUzZAYiRKAhvpiY/tbl1wAvyOt44rj9im"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Servicio": "={{ $('Preparar Datos').item.json.mensaje_usuario }}",
            "Estado": "Pendiente"
          },
          "matchingColumns": [
            "Servicio",
            "Estado"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre Paciente",
              "displayName": "Nombre Paciente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Revisión y limpieza",
                  "value": "Revisión y limpieza"
                },
                {
                  "name": "Empaste",
                  "value": "Empaste"
                },
                {
                  "name": "Endodoncia",
                  "value": "Endodoncia"
                },
                {
                  "name": "Extracción",
                  "value": "Extracción"
                },
                {
                  "name": "Blanqueamiento",
                  "value": "Blanqueamiento"
                },
                {
                  "name": "Ortodoncia",
                  "value": "Ortodoncia"
                },
                {
                  "name": "Implante",
                  "value": "Implante"
                },
                {
                  "name": "Otro",
                  "value": "Otro"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                },
                {
                  "name": "Cancelada",
                  "value": "Cancelada"
                },
                {
                  "name": "Completada",
                  "value": "Completada"
                },
                {
                  "name": "INCOMPLETA",
                  "value": "INCOMPLETA"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creada",
              "displayName": "Creada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        640
      ],
      "id": "ee05d456-3180-4168-816c-ea9fda337adc",
      "name": "Finalizar Reserva",
      "credentials": {
        "airtableTokenApi": {
          "id": "OwtNlpzJfBnO2SmU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"respuesta\": \"¡Genial! Tu cita está lista y pre-reservada. Te hemos enviado un WhatsApp al {{ $json.fields.Telefono }} para que confirmes. ¡Gracias!\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        640
      ],
      "id": "530d0e6c-04c9-4287-b26d-5c45256f93b9",
      "name": "Confirmación Final"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-11-16T18:31:31.426Z",
      "createdAt": "2025-11-16T18:31:31.426Z",
      "role": "workflow:owner",
      "workflowId": "ldpmxGxN21gVMi8J",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T11:31:27.000Z",
  "versionId": "da6e56e9-7231-418b-81ef-3cd9efedd069"
}