workflows/Delete Appointment MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-24T11:47:53.000Z",
    "createdAt": "2026-03-24T11:47:14.791Z",
    "versionId": "42348a4f-88ea-4a61-a70c-84050a8e17d1",
    "workflowId": "A9aXDyRXZAy8o0rK",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "eventID"
              },
              {
                "name": "categoria"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "name": "When Executed by Another Workflow",
        "position": [
          272,
          352
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "cachedResultName": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "value": "alvarezvidalpablo@gmail.com"
          },
          "eventId": "={{ $json.eventID }}",
          "options": {}
        },
        "id": "2c424160-c41c-444c-b11e-12a523a3a68b",
        "name": "Delete an event",
        "position": [
          496,
          352
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-asistida",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "dra_rosa_asistida"
              },
              {
                "id": "cond-plexr",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "plexr"
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "check-needs-blocks",
        "name": "¿Tiene Bloqueos?",
        "position": [
          720,
          352
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "cachedResultName": "Rosa Mora - Bloqueos",
            "mode": "id",
            "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
          },
          "timeMin": "={{ new Date(Date.now() - 365*24*60*60*1000).toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 365*24*60*60*1000).toISOString() }}",
          "options": {
            "query": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
          }
        },
        "alwaysOutputData": true,
        "id": "search-blocks",
        "name": "Buscar Bloqueos",
        "position": [
          944,
          224
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const refEventID = $('When Executed by Another Workflow').item.json.eventID;\nconst allEvents = $input.all();\n\nconst bloqueos = allEvents.filter(item => {\n  const desc = item.json.description || '';\n  return desc.includes(refEventID);\n});\n\nif (bloqueos.length === 0) {\n  return [{ json: { resultado: 'sin_bloqueos' } }];\n}\n\nreturn bloqueos.map(item => ({ json: { blockEventId: item.json.id } }));"
        },
        "id": "delete-blocks-code",
        "name": "Eliminar Bloqueos",
        "position": [
          1168,
          224
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "cachedResultName": "Rosa Mora - Bloqueos",
            "mode": "id",
            "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
          },
          "eventId": "={{ $json.blockEventId }}",
          "options": {}
        },
        "id": "delete-each-block",
        "name": "Borrar Evento Bloqueo",
        "position": [
          1392,
          224
        ],
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
            "mode": "list",
            "cachedResultName": "Clínica Estética Agente de Voz",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Citas",
            "mode": "list",
            "value": 21844311
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Estado": "Cancelada",
              "ID Cita": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
            },
            "matchingColumns": [
              "ID Cita"
            ],
            "schema": [
              {
                "id": "Nombre Completo",
                "displayName": "Nombre Completo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Hora Inicio",
                "displayName": "Hora Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Hora Fin",
                "displayName": "Hora Fin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Profesional",
                "displayName": "Profesional",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Telefono",
                "displayName": "Telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ID Cita",
                "displayName": "ID Cita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Categoria",
                "displayName": "Categoria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "1e714457-e080-4c65-9dde-59543fbacd81",
        "name": "Update row in sheet",
        "position": [
          944,
          480
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Borrar Evento Bloqueo": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update row in sheet",
              "type": "main"
            }
          ]
        ]
      },
      "Buscar Bloqueos": {
        "main": [
          [
            {
              "index": 0,
              "node": "Eliminar Bloqueos",
              "type": "main"
            }
          ]
        ]
      },
      "Delete an event": {
        "main": [
          [
            {
              "index": 0,
              "node": "¿Tiene Bloqueos?",
              "type": "main"
            }
          ]
        ]
      },
      "Eliminar Bloqueos": {
        "main": [
          [
            {
              "index": 0,
              "node": "Borrar Evento Bloqueo",
              "type": "main"
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "index": 0,
              "node": "Delete an event",
              "type": "main"
            }
          ]
        ]
      },
      "¿Tiene Bloqueos?": {
        "main": [
          [
            {
              "index": 0,
              "node": "Buscar Bloqueos",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Update row in sheet",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 42348a4f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "42348a4f-88ea-4a61-a70c-84050a8e17d1",
  "connections": {
    "Borrar Evento Bloqueo": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update row in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Buscar Bloqueos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Eliminar Bloqueos",
            "type": "main"
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "index": 0,
            "node": "¿Tiene Bloqueos?",
            "type": "main"
          }
        ]
      ]
    },
    "Eliminar Bloqueos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Borrar Evento Bloqueo",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete an event",
            "type": "main"
          }
        ]
      ]
    },
    "¿Tiene Bloqueos?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Buscar Bloqueos",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Update row in sheet",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T10:10:31.605Z",
  "id": "A9aXDyRXZAy8o0rK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Delete Appointment MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "eventID"
            },
            {
              "name": "categoria"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "name": "When Executed by Another Workflow",
      "position": [
        272,
        352
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "cachedResultName": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "value": "alvarezvidalpablo@gmail.com"
        },
        "eventId": "={{ $json.eventID }}",
        "options": {}
      },
      "id": "2c424160-c41c-444c-b11e-12a523a3a68b",
      "name": "Delete an event",
      "position": [
        496,
        352
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-asistida",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "dra_rosa_asistida"
            },
            {
              "id": "cond-plexr",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "plexr"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-needs-blocks",
      "name": "¿Tiene Bloqueos?",
      "position": [
        720,
        352
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "cachedResultName": "Rosa Mora - Bloqueos",
          "mode": "id",
          "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
        },
        "timeMin": "={{ new Date(Date.now() - 365*24*60*60*1000).toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 365*24*60*60*1000).toISOString() }}",
        "options": {
          "query": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
        }
      },
      "alwaysOutputData": true,
      "id": "search-blocks",
      "name": "Buscar Bloqueos",
      "position": [
        944,
        224
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const refEventID = $('When Executed by Another Workflow').item.json.eventID;\nconst allEvents = $input.all();\n\nconst bloqueos = allEvents.filter(item => {\n  const desc = item.json.description || '';\n  return desc.includes(refEventID);\n});\n\nif (bloqueos.length === 0) {\n  return [{ json: { resultado: 'sin_bloqueos' } }];\n}\n\nreturn bloqueos.map(item => ({ json: { blockEventId: item.json.id } }));"
      },
      "id": "delete-blocks-code",
      "name": "Eliminar Bloqueos",
      "position": [
        1168,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "cachedResultName": "Rosa Mora - Bloqueos",
          "mode": "id",
          "value": "125b6292f6b07bb411ec77dedafeddb8f4977ec7f5bb9fbea357784179aa83a0@group.calendar.google.com"
        },
        "eventId": "={{ $json.blockEventId }}",
        "options": {}
      },
      "id": "delete-each-block",
      "name": "Borrar Evento Bloqueo",
      "position": [
        1392,
        224
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
          "mode": "list",
          "cachedResultName": "Clínica Estética Agente de Voz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Citas",
          "mode": "list",
          "value": 21844311
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Cancelada",
            "ID Cita": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
          },
          "matchingColumns": [
            "ID Cita"
          ],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora Inicio",
              "displayName": "Hora Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora Fin",
              "displayName": "Hora Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profesional",
              "displayName": "Profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Cita",
              "displayName": "ID Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1e714457-e080-4c65-9dde-59543fbacd81",
      "name": "Update row in sheet",
      "position": [
        944,
        480
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T10:10:31.612Z",
      "createdAt": "2026-01-21T10:10:31.612Z",
      "role": "workflow:owner",
      "workflowId": "A9aXDyRXZAy8o0rK",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T11:47:14.790Z",
  "versionId": "42348a4f-88ea-4a61-a70c-84050a8e17d1"
}