workflows/Delete Appointment MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-24T12:01:28.000Z",
    "createdAt": "2026-01-24T12:01:03.664Z",
    "versionId": "1664f9e8-d02d-4463-8825-a1079f0d9fd6",
    "workflowId": "A9aXDyRXZAy8o0rK",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "eventID"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "alvarezvidalpablo@gmail.com",
            "mode": "list",
            "cachedResultName": "alvarezvidalpablo@gmail.com"
          },
          "eventId": "={{ $json.eventID }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          528,
          352
        ],
        "id": "2c424160-c41c-444c-b11e-12a523a3a68b",
        "name": "Delete an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RSjmCgtcmSyhYKoN",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
            "mode": "list",
            "cachedResultName": "Agente de voz Zenit Clinic V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 21844311,
            "mode": "list",
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Estado": "Cancelada",
              "ID Cita": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
            },
            "matchingColumns": [
              "ID Cita"
            ],
            "schema": [
              {
                "id": "Nombre Completo",
                "displayName": "Nombre Completo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Servicio",
                "displayName": "Servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefono",
                "displayName": "Telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ID Cita",
                "displayName": "ID Cita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          352
        ],
        "id": "1e714457-e080-4c65-9dde-59543fbacd81",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Delete an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete an event": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 1664f9e8",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "1664f9e8-d02d-4463-8825-a1079f0d9fd6",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T10:10:31.605Z",
  "id": "A9aXDyRXZAy8o0rK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Delete Appointment MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "eventID"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alvarezvidalpablo@gmail.com",
          "mode": "list",
          "cachedResultName": "alvarezvidalpablo@gmail.com"
        },
        "eventId": "={{ $json.eventID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        528,
        352
      ],
      "id": "2c424160-c41c-444c-b11e-12a523a3a68b",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RSjmCgtcmSyhYKoN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao",
          "mode": "list",
          "cachedResultName": "Agente de voz Zenit Clinic V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 21844311,
          "mode": "list",
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Cancelada",
            "ID Cita": "={{ $('When Executed by Another Workflow').item.json.eventID }}"
          },
          "matchingColumns": [
            "ID Cita"
          ],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Cita",
              "displayName": "ID Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        352
      ],
      "id": "1e714457-e080-4c65-9dde-59543fbacd81",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T10:10:31.612Z",
      "createdAt": "2026-01-21T10:10:31.612Z",
      "role": "workflow:owner",
      "workflowId": "A9aXDyRXZAy8o0rK",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-26T10:49:29.477Z",
  "versionId": "1664f9e8-d02d-4463-8825-a1079f0d9fd6"
}