workflows/Formulario Intelite.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-26T10:55:18.000Z",
    "createdAt": "2025-12-26T10:54:04.970Z",
    "versionId": "0228d72d-22be-43d6-9fa2-3d722cbc344a",
    "workflowId": "0G9ukRQxqYnRiX4e",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "intelite-website-form-client-v1",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "e83f7724-8c4f-4b3b-93dc-a90e57f5d24c",
        "name": "Webhook",
        "webhookId": "03e66e96-be73-40bd-8bb6-9746a729d804"
      },
      {
        "parameters": {
          "sendTo": "inteliteai@gmail.com",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          464,
          -48
        ],
        "id": "37e13747-6e0f-4c9d-bab8-ac639024be8c",
        "name": "Send a message",
        "webhookId": "f760cd2d-6be5-4991-b0ab-550db1014c50",
        "credentials": {
          "gmailOAuth2": {
            "id": "FhGOZ7dk8SKIOH6F",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Recogemos los datos que vienen del Webhook\n// Nota: Dependiendo de tu config del Webhook, los datos pueden estar en \n// items[0].json.body o directamente en items[0].json\nconst inputData = items[0].json.body || items[0].json;\n\nconst name = inputData.name || 'Desconocido';\nconst email = inputData.email || 'No especificado';\nconst message = inputData.message || 'Sin mensaje';\nconst date = new Date().toLocaleString('es-ES', { timeZone: 'Europe/Madrid' });\n\n// 2. Diseñamos el HTML del correo (Estilo Intelite AI)\n// Usamos estilos inline porque Gmail borra las hojas de estilo externas.\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');\n  </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #ECEDF1; font-family: 'Poppins', sans-serif, Arial;\">\n  \n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #ECEDF1; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        \n        <table width=\"600\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #ffffff; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.05);\">\n          \n          <tr>\n            <td style=\"background-color: #006DE7; padding: 30px; text-align: center;\">\n              <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: 600; letter-spacing: -0.5px;\">\n                Nuevo Lead Capturado\n              </h1>\n              <p style=\"color: rgba(255,255,255,0.8); margin: 5px 0 0 0; font-size: 14px;\">\n                Desde Formulario Web - Intelite AI\n              </p>\n            </td>\n            </tr>\n\n          <tr>\n            <td style=\"padding: 40px;\">\n              \n              <p style=\"margin: 0 0 5px 0; color: #9CA3AF; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">Nombre del contacto</p>\n              <p style=\"margin: 0 0 25px 0; color: #111827; font-size: 18px; font-weight: 500;\">\n                ${name}\n              </p>\n\n              <p style=\"margin: 0 0 5px 0; color: #9CA3AF; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">Correo Electrónico</p>\n              <p style=\"margin: 0 0 25px 0; color: #006DE7; font-size: 18px; font-weight: 500; text-decoration: none;\">\n                <a href=\"mailto:${email}\" style=\"color: #006DE7; text-decoration: none;\">${email}</a>\n              </p>\n\n              <p style=\"margin: 0 0 10px 0; color: #9CA3AF; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">Mensaje</p>\n              <div style=\"background-color: #F9FAFB; border-left: 4px solid #006DE7; padding: 20px; border-radius: 8px; color: #374151; line-height: 1.6;\">\n                ${message.replace(/\\n/g, '<br>')}\n              </div>\n\n            </td>\n            </tr>\n\n          <tr>\n            <td style=\"background-color: #F3F4F6; padding: 20px; text-align: center; border-top: 1px solid #E5E7EB;\">\n              <p style=\"color: #6B7280; font-size: 12px; margin: 0;\">\n                Recibido el ${date} <br>\n                <strong>Intelite AI System</strong>\n              </p>\n            </td>\n            </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n`;\n\n// 3. Devolvemos los datos para el siguiente nodo (Gmail)\nreturn [\n  {\n    json: {\n      subject: `🚀 Nuevo Lead: ${name}`,\n      html: emailHtml,\n      replyTo: email\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -64
        ],
        "id": "55e97edf-9628-4e40-8343-85a03764f2a1",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 0228d72d",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "0228d72d-22be-43d6-9fa2-3d722cbc344a",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mensaje para el Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-26T10:48:14.489Z",
  "id": "0G9ukRQxqYnRiX4e",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Formulario Intelite",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intelite-website-form-client-v1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        -704
      ],
      "id": "e83f7724-8c4f-4b3b-93dc-a90e57f5d24c",
      "name": "Webhook",
      "webhookId": "03e66e96-be73-40bd-8bb6-9746a729d804"
    },
    {
      "parameters": {
        "sendTo": "inteliteai@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        -704
      ],
      "id": "37e13747-6e0f-4c9d-bab8-ac639024be8c",
      "name": "Send a message",
      "webhookId": "f760cd2d-6be5-4991-b0ab-550db1014c50",
      "credentials": {
        "gmailOAuth2": {
          "id": "FhGOZ7dk8SKIOH6F",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Recogemos los datos\n// Nota: inputData.company viene del nuevo campo que añadimos al HTML\nconst inputData = items[0].json.body || items[0].json;\n\nconst name = inputData.name || 'Desconocido';\nconst company = inputData.company || 'No indicada'; // <--- NUEVO CAMPO\nconst email = inputData.email || 'No especificado';\nconst message = inputData.message || 'Sin mensaje';\nconst userAgent = inputData.userAgent || '';\nconst date = new Date().toLocaleString('es-ES', { timeZone: 'Europe/Madrid' });\n\n// --- LÓGICA TÉCNICA DE DISPOSITIVO ---\nlet device = \"Escritorio / Desconocido\";\n\nif (/iPhone/i.test(userAgent)) {\n    const iosVersion = userAgent.match(/OS\\s([\\d_]+)/)?.[1]?.replace(/_/g, '.') || \"\";\n    device = `Apple iPhone - iOS ${iosVersion}`;\n} else if (/iPad/i.test(userAgent)) {\n    device = \"Apple iPad\";\n} else if (/Android/i.test(userAgent)) {\n    const match = userAgent.match(/;\\s([^;]+?)\\sBuild\\//);\n    device = match ? `Android: ${match[1].trim()}` : \"Android (Modelo no detectado)\";\n} else if (/Macintosh/i.test(userAgent)) {\n    device = \"Apple Mac / MacBook\";\n} else if (/Windows/i.test(userAgent)) {\n    device = \"PC Windows\";\n} else if (/Linux/i.test(userAgent)) {\n    device = \"Sistema Linux\";\n}\n\n// 2. HTML PROFESIONAL (Actualizado con Empresa)\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');\n  </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #ECEDF1; font-family: 'Poppins', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased;\">\n  \n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #ECEDF1; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        \n        <table width=\"600\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 15px rgba(0,0,0,0.08); border: 1px solid #E5E7EB;\">\n          \n          <tr>\n            <td style=\"background-color: #006DE7; padding: 30px 40px;\">\n              <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600; letter-spacing: -0.5px;\">\n                Nuevo Lead B2B\n              </h1>\n              <p style=\"color: rgba(255,255,255,0.9); margin: 5px 0 0 0; font-size: 13px; font-weight: 400;\">\n                Origen: Formulario Web\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 40px;\">\n              \n              <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom: 30px;\">\n                \n                <tr>\n                  <td width=\"30%\" style=\"padding-bottom: 15px; color: #6B7280; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Nombre</td>\n                  <td width=\"70%\" style=\"padding-bottom: 15px; color: #111827; font-size: 16px; font-weight: 500;\">${name}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"padding-bottom: 15px; color: #6B7280; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Empresa</td>\n                  <td style=\"padding-bottom: 15px; color: #111827; font-size: 16px; font-weight: 500;\">${company}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"padding-bottom: 15px; color: #6B7280; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Email</td>\n                  <td style=\"padding-bottom: 15px; color: #006DE7; font-size: 16px; font-weight: 500;\"><a href=\"mailto:${email}\" style=\"color: #006DE7; text-decoration: none;\">${email}</a></td>\n                </tr>\n              </table>\n\n              <div style=\"background-color: #F8FAFC; border: 1px solid #E2E8F0; border-radius: 8px; padding: 15px; margin-bottom: 30px;\">\n                 <p style=\"margin: 0 0 5px 0; color: #475569; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px;\">Dispositivo / Modelo</p>\n                 <p style=\"margin: 0; font-size: 15px; color: #0F172A; font-family: monospace, sans-serif; font-weight: 600;\">\n                    ${device}\n                 </p>\n                 <p style=\"margin: 8px 0 0 0; font-size: 10px; color: #94A3B8; font-family: monospace; line-height: 1.4; overflow-wrap: break-word;\">\n                    User-Agent: ${userAgent}\n                 </p>\n              </div>\n\n              <p style=\"margin: 0 0 10px 0; color: #6B7280; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Mensaje del cliente</p>\n              <div style=\"background-color: #ffffff; border-left: 3px solid #006DE7; padding: 10px 20px; color: #374151; line-height: 1.6; font-size: 15px;\">\n                ${message.replace(/\\n/g, '<br>')}\n              </div>\n\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background-color: #F9FAFB; padding: 20px 40px; border-top: 1px solid #E5E7EB;\">\n              <table width=\"100%\" border=\"0\">\n                <tr>\n                  <td style=\"color: #9CA3AF; font-size: 11px;\">\n                    Recibido: ${date}\n                  </td>\n                  <td align=\"right\" style=\"color: #9CA3AF; font-size: 11px; font-weight: 600;\">\n                    INTELITE AI\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      // He actualizado el asunto para que veas la empresa directamente en la bandeja de entrada\n      subject: `Nuevo Lead: ${name} (${company})`,\n      html: emailHtml,\n      replyTo: email,\n      deviceModel: device,\n      company: company // Dato extra por si lo usas en nodos siguientes (Airtable/Notion)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -704
      ],
      "id": "55e97edf-9628-4e40-8343-85a03764f2a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.replyTo }}",
        "subject": "Equipo de Intelite AI",
        "emailType": "text",
        "message": "=¡Hola {{ $('Webhook').item.json.body.name }}!\n\nGracias por confiar en Intelite AI. \n\nTu formulario nos ha llegado con éxito.\n\nNos ponemos a trabajar de inmediato en la valoración de tu idea. \n\nEn muy poco tiempo recibirás noticias nuestras con una respuesta detallada.\n\nUn saludo,\n\nEl equipo de Intelite AI.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -704
      ],
      "id": "60955067-b28c-4bfa-b5ac-332e7c1a3883",
      "name": "Mensaje para el Cliente",
      "webhookId": "6025c2b2-b0fe-459c-80be-0f53af098928",
      "credentials": {
        "gmailOAuth2": {
          "id": "FhGOZ7dk8SKIOH6F",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.u5h0lw.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "252",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "79.117.199.208",
            "x-forwarded-host": "n8n-n8n.u5h0lw.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95c649fc8578",
            "x-real-ip": "79.117.199.208"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Pau Balaguer Maciá",
            "company": "Pau SL",
            "email": "paubm25@gmail.com",
            "message": "hola",
            "source": "Website Contact Form",
            "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"
          },
          "webhookUrl": "https://n8n-n8n.u5h0lw.easypanel.host/webhook/intelite-website-form-client-v1",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-26T10:48:14.500Z",
      "createdAt": "2025-12-26T10:48:14.500Z",
      "role": "workflow:owner",
      "workflowId": "0G9ukRQxqYnRiX4e",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-24T17:02:50.571Z",
  "versionId": "95b07fd7-c8bc-448f-869c-8581be7305a8"
}