workflows/Fruteria - Lookup Order.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-03T13:18:30.000Z",
    "createdAt": "2026-03-03T13:18:26.196Z",
    "versionId": "39fc651c-5b90-4ff9-9fe1-e50e6330255a",
    "workflowId": "3HbH05ZdOwpfe5bd",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono"
              }
            ]
          }
        },
        "id": "a1b2c3d4-0004-0001-0001-000000000001",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug",
            "mode": "list",
            "cachedResultName": "Fruteria Silvio",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1068940162,
            "mode": "list",
            "cachedResultName": "Pedidos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit#gid=1068940162"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0002-0001-000000000001",
        "name": "Buscar Pedidos",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          528,
          352
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.ID_Pedido) {\n  return [{ json: { encontrado: 'no' } }];\n}\n\nconst estadosValidos = ['Activo', 'Modificado'];\nconst pedidos = items.filter(i => i.json.ID_Pedido && estadosValidos.includes(i.json.Estado));\n\nif (pedidos.length === 0) {\n  return [{ json: { encontrado: 'no' } }];\n}\n\npedidos.sort((a, b) => new Date(b.json.Fecha_Hora) - new Date(a.json.Fecha_Hora));\n\nconst pedido = pedidos[0].json;\n\nreturn [{\n  json: {\n    encontrado: 'si',\n    id_pedido: pedido.ID_Pedido,\n    fecha: pedido.Fecha_Hora,\n    productos: pedido.Productos,\n    total: pedido.Total_EUR,\n    estado: pedido.Estado\n  }\n}];"
        },
        "id": "a1b2c3d4-0004-0003-0001-000000000001",
        "name": "Filtrar y Ordenar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          736,
          352
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": false,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-1",
                "leftValue": "={{ $json.encontrado }}",
                "rightValue": "si",
                "operator": {
                  "type": "string",
                  "operation": "equal"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0004-0001-000000000001",
        "name": "¿Hay Pedido?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          944,
          352
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "assign-1",
                "name": "Mensaje",
                "value": "=Pedido encontrado. ID: {{ $json.id_pedido }}. Fecha: {{ $json.fecha }}. Productos: {{ $json.productos }}. Total: {{ $json.total }}€",
                "type": "string"
              },
              {
                "id": "assign-2",
                "name": "id_pedido",
                "value": "={{ $json.id_pedido }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0005-0001-000000000001",
        "name": "Pedido_Encontrado",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1152,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "assign-3",
                "name": "Mensaje",
                "value": "No se encontraron pedidos activos para este cliente.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0006-0001-000000000001",
        "name": "Sin_Pedidos_Activos",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1152,
          448
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Buscar Pedidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Pedidos": {
        "main": [
          [
            {
              "node": "Filtrar y Ordenar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar y Ordenar": {
        "main": [
          [
            {
              "node": "¿Hay Pedido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Hay Pedido?": {
        "main": [
          [
            {
              "node": "Pedido_Encontrado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sin_Pedidos_Activos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 39fc651c",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "39fc651c-5b90-4ff9-9fe1-e50e6330255a",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedidos": {
      "main": [
        [
          {
            "node": "Filtrar y Ordenar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y Ordenar": {
      "main": [
        [
          {
            "node": "¿Hay Pedido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Pedido?": {
      "main": [
        [
          {
            "node": "Pedido_Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin_Pedidos_Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T09:23:38.880Z",
  "id": "3HbH05ZdOwpfe5bd",
  "isArchived": false,
  "meta": null,
  "name": "Fruteria - Lookup Order",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug",
          "mode": "list",
          "cachedResultName": "Fruteria Silvio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1068940162,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit#gid=1068940162"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0002-0001-000000000001",
      "name": "Buscar Pedidos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.ID_Pedido) {\n  return [{ json: { encontrado: 'no' } }];\n}\n\nconst estadosValidos = ['Activo', 'Modificado'];\nconst pedidos = items.filter(i => i.json.ID_Pedido && estadosValidos.includes(i.json.Estado));\n\nif (pedidos.length === 0) {\n  return [{ json: { encontrado: 'no' } }];\n}\n\npedidos.sort((a, b) => new Date(b.json.Fecha_Hora) - new Date(a.json.Fecha_Hora));\n\nconst pedido = pedidos[0].json;\n\nreturn [{\n  json: {\n    encontrado: 'si',\n    id_pedido: pedido.ID_Pedido,\n    fecha: pedido.Fecha_Hora,\n    productos: pedido.Productos,\n    total: pedido.Total_EUR,\n    estado: pedido.Estado\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-0003-0001-000000000001",
      "name": "Filtrar y Ordenar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0001-000000000001",
      "name": "¿Hay Pedido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "Mensaje",
              "value": "=Pedido encontrado. ID: {{ $json.id_pedido }}. Fecha: {{ $json.fecha }}. Productos: {{ $json.productos }}. Total: {{ $json.total }}€",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "id_pedido",
              "value": "={{ $json.id_pedido }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0005-0001-000000000001",
      "name": "Pedido_Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-3",
              "name": "Mensaje",
              "value": "No se encontraron pedidos activos para este cliente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0006-0001-000000000001",
      "name": "Sin_Pedidos_Activos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        448
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T09:23:38.884Z",
      "createdAt": "2026-03-03T09:23:38.884Z",
      "role": "workflow:owner",
      "workflowId": "3HbH05ZdOwpfe5bd",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-03T13:18:26.195Z",
  "versionId": "39fc651c-5b90-4ff9-9fe1-e50e6330255a"
}