workflows/Fruteria - Lookup Order.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-04T12:24:42.000Z",
    "createdAt": "2026-03-04T12:24:40.223Z",
    "versionId": "54002663-5439-4f82-b986-608132f0cd77",
    "workflowId": "3HbH05ZdOwpfe5bd",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono"
              }
            ]
          }
        },
        "id": "a1b2c3d4-0004-0001-0001-000000000001",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug",
            "mode": "list",
            "cachedResultName": "Fruteria Silvio",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1068940162,
            "mode": "list",
            "cachedResultName": "Pedidos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit#gid=1068940162"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Telefono",
                "lookupValue": "={{ $json.telefono }}"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0002-0001-000000000001",
        "name": "Buscar Pedidos",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          528,
          352
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.ID_Pedido) {\n  return [{ json: { Mensaje: 'No se encontraron pedidos activos para este cliente.' } }];\n}\n\nconst estadosValidos = ['activo', 'modificado'];\nconst pedidos = items.filter(i =>\n  i.json.ID_Pedido && estadosValidos.includes((i.json.Estado || '').toLowerCase())\n);\n\nif (pedidos.length === 0) {\n  return [{ json: { Mensaje: 'No se encontraron pedidos activos para este cliente.' } }];\n}\n\npedidos.sort((a, b) => new Date(b.json.Fecha_Hora) - new Date(a.json.Fecha_Hora));\n\nif (pedidos.length === 1) {\n  const pedido = pedidos[0].json;\n  return [{\n    json: {\n      Mensaje: `Pedido encontrado. ID: ${pedido.ID_Pedido}. Fecha: ${pedido.Fecha_Hora}. Productos: ${pedido.Productos}. Total: ${pedido.Total_EUR}€`,\n      id_pedido: pedido.ID_Pedido,\n      fecha: pedido.Fecha_Hora,\n      productos: pedido.Productos,\n      total: pedido.Total_EUR,\n      estado: pedido.Estado,\n      total_pedidos: 1\n    }\n  }];\n}\n\n// Multiples pedidos activos\nconst lineas = pedidos.map((p, i) => {\n  const ped = p.json;\n  return `Pedido ${i + 1}: ${ped.Productos} - Total: ${ped.Total_EUR}€ [ID: ${ped.ID_Pedido}]`;\n});\n\nreturn [{\n  json: {\n    Mensaje: `El cliente tiene ${pedidos.length} pedidos activos:\\n${lineas.join('\\n')}`,\n    total_pedidos: pedidos.length,\n    pedidos: pedidos.map(p => ({\n      id_pedido: p.json.ID_Pedido,\n      fecha: p.json.Fecha_Hora,\n      productos: p.json.Productos,\n      total: p.json.Total_EUR,\n      estado: p.json.Estado\n    }))\n  }\n}];"
        },
        "id": "a1b2c3d4-0004-0003-0001-000000000001",
        "name": "Filtrar y Ordenar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          352
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Buscar Pedidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Pedidos": {
        "main": [
          [
            {
              "node": "Filtrar y Ordenar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version 54002663",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "54002663-5439-4f82-b986-608132f0cd77",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedidos": {
      "main": [
        [
          {
            "node": "Filtrar y Ordenar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T09:23:38.880Z",
  "id": "3HbH05ZdOwpfe5bd",
  "isArchived": false,
  "meta": null,
  "name": "Fruteria - Lookup Order",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug",
          "mode": "list",
          "cachedResultName": "Fruteria Silvio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1068940162,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGFgv7fzjSjl25slP9eY1TedlpSiWB2h_UYNuPoqeug/edit#gid=1068940162"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0002-0001-000000000001",
      "name": "Buscar Pedidos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.ID_Pedido) {\n  return [{ json: { Mensaje: 'No se encontraron pedidos activos para este cliente.' } }];\n}\n\nconst estadosValidos = ['activo', 'modificado'];\nconst pedidos = items.filter(i =>\n  i.json.ID_Pedido && estadosValidos.includes((i.json.Estado || '').toLowerCase())\n);\n\nif (pedidos.length === 0) {\n  return [{ json: { Mensaje: 'No se encontraron pedidos activos para este cliente.' } }];\n}\n\npedidos.sort((a, b) => new Date(b.json.Fecha_Hora) - new Date(a.json.Fecha_Hora));\n\nif (pedidos.length === 1) {\n  const pedido = pedidos[0].json;\n  return [{\n    json: {\n      Mensaje: `Pedido encontrado. ID: ${pedido.ID_Pedido}. Fecha: ${pedido.Fecha_Hora}. Productos: ${pedido.Productos}. Total: ${pedido.Total_EUR}€`,\n      id_pedido: pedido.ID_Pedido,\n      fecha: pedido.Fecha_Hora,\n      productos: pedido.Productos,\n      total: pedido.Total_EUR,\n      estado: pedido.Estado,\n      total_pedidos: 1\n    }\n  }];\n}\n\n// Multiples pedidos activos\nconst lineas = pedidos.map((p, i) => {\n  const ped = p.json;\n  return `Pedido ${i + 1}: ${ped.Productos} - Total: ${ped.Total_EUR}€ [ID: ${ped.ID_Pedido}]`;\n});\n\nreturn [{\n  json: {\n    Mensaje: `El cliente tiene ${pedidos.length} pedidos activos:\\n${lineas.join('\\n')}`,\n    total_pedidos: pedidos.length,\n    pedidos: pedidos.map(p => ({\n      id_pedido: p.json.ID_Pedido,\n      fecha: p.json.Fecha_Hora,\n      productos: p.json.Productos,\n      total: p.json.Total_EUR,\n      estado: p.json.Estado\n    }))\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-0003-0001-000000000001",
      "name": "Filtrar y Ordenar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        352
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T09:23:38.884Z",
      "createdAt": "2026-03-03T09:23:38.884Z",
      "role": "workflow:owner",
      "workflowId": "3HbH05ZdOwpfe5bd",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-04T12:24:40.221Z",
  "versionId": "54002663-5439-4f82-b986-608132f0cd77"
}