workflows/Lookup Appointment MCP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-24T12:06:54.000Z",
    "createdAt": "2026-03-24T12:05:11.080Z",
    "versionId": "ce1ef62d-a583-4414-ba7b-40fc828abcf6",
    "workflowId": "QkCgvroGiqPI8pLC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "name": "When Executed by Another Workflow",
        "position": [
          272,
          272
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "cachedResultName": "Agente de voz Zenit Clinic V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
            "mode": "list",
            "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
          },
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Citas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
            "mode": "list",
            "value": 21844311
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Telefono",
                "lookupValue": "={{ $json.telefono }}"
              },
              {
                "lookupColumn": "Estado",
                "lookupValue": "Confirmada"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true,
        "id": "b5612d32-1afd-4889-8cc0-5c94c4360b0f",
        "name": "Buscar Cita",
        "position": [
          496,
          272
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "ceeafeac-6ae8-460b-9007-d7d711c4c87b",
                "leftValue": "={{ $json.Telefono }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "string"
                },
                "rightValue": ""
              }
            ],
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": false,
              "typeValidation": "loose"
            }
          },
          "options": {}
        },
        "id": "992fffab-69c6-4fd8-a14c-2fb73521ca0a",
        "name": "If",
        "position": [
          720,
          272
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "msg-field",
                "name": "Mensaje",
                "type": "string",
                "value": "={{ `Tiene cita confirmada para ${$json.Servicio} a las ${$json['Hora Inicio']} el día ${$json.Fecha}. Categoría: ${$json.Categoria}. ID de la cita: ${$json['ID Cita']}` }}"
              },
              {
                "id": "eventid-field",
                "name": "eventID",
                "type": "string",
                "value": "={{ $json['ID Cita'] }}"
              },
              {
                "id": "categoria-field",
                "name": "categoria",
                "type": "string",
                "value": "={{ $json.Categoria }}"
              },
              {
                "id": "servicio-field",
                "name": "servicio",
                "type": "string",
                "value": "={{ $json.Servicio }}"
              },
              {
                "id": "fecha-field",
                "name": "fecha",
                "type": "string",
                "value": "={{ $json.Fecha }}"
              },
              {
                "id": "hora-field",
                "name": "hora",
                "type": "string",
                "value": "={{ $json['Hora Inicio'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1c9ae7d0-f7a9-4c82-9787-5302e34fc234",
        "name": "Respuesta_Si_Hay",
        "position": [
          944,
          176
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1f4f8a3a-d090-4eb0-9b58-6eb80eeda2b3",
                "name": "Mensaje",
                "type": "string",
                "value": "No hay ninguna cita confirmada con ese número de teléfono."
              }
            ]
          },
          "options": {}
        },
        "id": "7506a4f4-67be-499b-8d91-0719c061fe63",
        "name": "Respuesta_No_Hay",
        "position": [
          944,
          368
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      }
    ],
    "connections": {
      "Buscar Cita": {
        "main": [
          [
            {
              "index": 0,
              "node": "If",
              "type": "main"
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respuesta_Si_Hay",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Respuesta_No_Hay",
              "type": "main"
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "index": 0,
              "node": "Buscar Cita",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": "Version ce1ef62d",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "ce1ef62d-a583-4414-ba7b-40fc828abcf6",
  "connections": {
    "Buscar Cita": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respuesta_Si_Hay",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Respuesta_No_Hay",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Buscar Cita",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-21T09:46:03.551Z",
  "id": "QkCgvroGiqPI8pLC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lookup Appointment MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "name": "When Executed by Another Workflow",
      "position": [
        272,
        272
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Agente de voz Zenit Clinic V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit?usp=drivesdk",
          "mode": "list",
          "value": "1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao"
        },
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Citas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohZFQqevjyuipUWQ0XQFx2SzTALbAFhPXlzm3PdP_Ao/edit#gid=21844311",
          "mode": "list",
          "value": 21844311
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.telefono }}"
            },
            {
              "lookupColumn": "Estado",
              "lookupValue": "Confirmada"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "b5612d32-1afd-4889-8cc0-5c94c4360b0f",
      "name": "Buscar Cita",
      "position": [
        496,
        272
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ceeafeac-6ae8-460b-9007-d7d711c4c87b",
              "leftValue": "={{ $json.Telefono }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          }
        },
        "options": {}
      },
      "id": "992fffab-69c6-4fd8-a14c-2fb73521ca0a",
      "name": "If",
      "position": [
        720,
        272
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-field",
              "name": "Mensaje",
              "type": "string",
              "value": "={{ `Tiene cita confirmada para ${$json.Servicio} a las ${$json['Hora Inicio']} el día ${$json.Fecha}. Categoría: ${$json.Categoria}. ID de la cita: ${$json['ID Cita']}` }}"
            },
            {
              "id": "eventid-field",
              "name": "eventID",
              "type": "string",
              "value": "={{ $json['ID Cita'] }}"
            },
            {
              "id": "categoria-field",
              "name": "categoria",
              "type": "string",
              "value": "={{ $json.Categoria }}"
            },
            {
              "id": "servicio-field",
              "name": "servicio",
              "type": "string",
              "value": "={{ $json.Servicio }}"
            },
            {
              "id": "fecha-field",
              "name": "fecha",
              "type": "string",
              "value": "={{ $json.Fecha }}"
            },
            {
              "id": "hora-field",
              "name": "hora",
              "type": "string",
              "value": "={{ $json['Hora Inicio'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c9ae7d0-f7a9-4c82-9787-5302e34fc234",
      "name": "Respuesta_Si_Hay",
      "position": [
        944,
        176
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f4f8a3a-d090-4eb0-9b58-6eb80eeda2b3",
              "name": "Mensaje",
              "type": "string",
              "value": "No hay ninguna cita confirmada con ese número de teléfono."
            }
          ]
        },
        "options": {}
      },
      "id": "7506a4f4-67be-499b-8d91-0719c061fe63",
      "name": "Respuesta_No_Hay",
      "position": [
        944,
        368
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "5PrcmQWgZy-C8ojFfhpz-",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-21T09:46:03.557Z",
      "createdAt": "2026-01-21T09:46:03.557Z",
      "role": "workflow:owner",
      "workflowId": "QkCgvroGiqPI8pLC",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T12:06:51.726Z",
  "versionId": "ce1ef62d-a583-4414-ba7b-40fc828abcf6"
}