workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T10:35:33.465Z",
  "id": "4cTlDLAyzlrSof9Z",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/retell-callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        16
      ],
      "id": "60755557-8c42-4d99-be60-ca2123ca5c16",
      "name": "Webhook",
      "webhookId": "f3ba1372-5d39-49b5-8bdc-92ffbc2bd0db"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hola, en que te puedo ayudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "bbb22f95-2892-4e64-98ca-c1f28132e1c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "b745c383-3e11-40ce-87a4-86a52d9650ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "fbfc5e7e-dbff-4e29-82bf-51164d053b01",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca siempre la información en tu base de datos llamada \"clinicarag\"",
        "pineconeIndex": {
          "__rl": true,
          "value": "clinicarag",
          "mode": "list",
          "cachedResultName": "clinicarag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        512,
        208
      ],
      "id": "62d12072-465a-4d44-aa93-3578b2a20bc9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ZjaedD1lFrbmepw0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        400
      ],
      "id": "d28e5e9d-e114-40df-af7d-cba5f5b3759c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cal.com/pabloalvarez/clinica",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cal.com API",
              "value": "Bearer TU_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"eventTypeId\": \"mi-clinica/consulta-dental\",\n  \"attendees\": [\n    {\n      \"email\": \"paciente@ejemplo.com\",\n      \"name\": \"Juan Pérez\"\n    }\n  ],\n  \"startTime\": \"2025-11-01T15:00:00Z\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        352,
        208
      ],
      "id": "8fe0d300-ceaf-4673-81c3-b2697beeeeca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"name\": \"Edit Fields\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 2,\n  \"position\": [\n    300,\n    200\n  ],\n  \"parameters\": {\n    \"keepOnlySet\": true,\n    \"values\": {\n      \"string\": [\n        {\n          \"name\": \"userMessage\",\n          \"value\": \"={{$json[\\\"message\\\"]}}\"\n        },\n        {\n          \"name\": \"userId\",\n          \"value\": \"={{$json[\\\"user_phone\\\"]}}\"\n        },\n        {\n          \"name\": \"callId\",\n          \"value\": \"={{$json[\\\"call_id\\\"]}}\"\n        },\n        {\n          \"name\": \"timestamp\",\n          \"value\": \"={{new Date().toISOString()}}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        16
      ],
      "id": "18d310ef-4dda-4fc1-991c-8eb666765ff7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json[\"response\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "bb2b499c-0331-4082-a0b7-da98511874c5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T10:35:33.476Z",
      "updatedAt": "2025-10-28T10:35:33.476Z",
      "role": "workflow:owner",
      "workflowId": "4cTlDLAyzlrSof9Z",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T10:41:28.000Z",
  "versionId": "2d01dc3b-76a2-4e4f-b50a-552c8c8cc48d"
}