workflows/Preguntas sin resolver.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T15:45:06.834Z",
    "createdAt": "2026-03-21T15:45:06.834Z",
    "versionId": "8fc74b8b-2aad-4b31-a297-34cec3fe4ca2",
    "workflowId": "N23XRp0TPEoFPfIf",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          64,
          336
        ]
      },
      {
        "parameters": {
          "additionalFields": {
            "appendAttribution": false
          },
          "chatId": "7186973879",
          "text": "=Falta Entrenamiento | {{ $('When Executed by Another Workflow').item.json.mensaje_reporte }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          288,
          336
        ],
        "id": "260b5c89-f7b8-4e6c-b580-165afd81693a",
        "name": "Notificación en Telegram",
        "webhookId": "3909781c-e39c-4185-87f1-a2e2707e6b18",
        "credentials": {
          "telegramApi": {
            "id": "GyCkN7M0nmQB9BTK",
            "name": "ChatBot Intelite"
          }
        }
      },
      {
        "parameters": {
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Pregunta",
                "id": "Pregunta",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Respuesta",
                "id": "Respuesta",
                "removed": true,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "Pregunta": "={{ $('When Executed by Another Workflow').item.json.mensaje_reporte }}"
            }
          },
          "documentId": {
            "__rl": true,
            "cachedResultName": "Preguntas sin respuesta",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE/edit?usp=drivesdk",
            "mode": "list",
            "value": "1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE"
          },
          "operation": "append",
          "options": {},
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE/edit#gid=0",
            "mode": "list",
            "value": "gid=0"
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          512,
          336
        ],
        "id": "1dc0e520-0c67-435a-a137-e413297258ea",
        "name": "Rellenar pregunta",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7QvCi5UUFUsiQIlm",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Notificación en Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notificación en Telegram": {
        "main": [
          [
            {
              "node": "Rellenar pregunta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rellenar pregunta": {
        "main": [
          []
        ]
      }
    },
    "authors": "Pablo Álvarez Vidal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "8fc74b8b-2aad-4b31-a297-34cec3fe4ca2",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Notificación en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificación en Telegram": {
      "main": [
        [
          {
            "node": "Rellenar pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rellenar pregunta": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-15T12:21:25.621Z",
  "id": "N23XRp0TPEoFPfIf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Preguntas sin resolver",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        336
      ]
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "7186973879",
        "text": "=Falta Entrenamiento | {{ $('When Executed by Another Workflow').item.json.mensaje_reporte }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        336
      ],
      "id": "260b5c89-f7b8-4e6c-b580-165afd81693a",
      "name": "Notificación en Telegram",
      "webhookId": "3909781c-e39c-4185-87f1-a2e2707e6b18",
      "credentials": {
        "telegramApi": {
          "id": "GyCkN7M0nmQB9BTK",
          "name": "ChatBot Intelite"
        }
      }
    },
    {
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Pregunta",
              "id": "Pregunta",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Respuesta",
              "id": "Respuesta",
              "removed": true,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Pregunta": "={{ $('When Executed by Another Workflow').item.json.mensaje_reporte }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Preguntas sin respuesta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE/edit?usp=drivesdk",
          "mode": "list",
          "value": "1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YqxiEloaK6JssXlTmrPChfw16m-P2k-WAOB9LxiU4zE/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        336
      ],
      "id": "1dc0e520-0c67-435a-a137-e413297258ea",
      "name": "Rellenar pregunta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T12:21:25.630Z",
      "createdAt": "2025-12-15T12:21:25.630Z",
      "role": "workflow:owner",
      "workflowId": "N23XRp0TPEoFPfIf",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T15:45:06.833Z",
  "versionId": "8fc74b8b-2aad-4b31-a297-34cec3fe4ca2"
}