workflows/primer workflow.json
{
  "active": false,
  "connections": {
    "penes": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prueba uno": {
      "main": [
        [
          {
            "node": "penes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-15T11:19:17.968Z",
  "id": "vpXlm0kI4sMbdcNg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "primer workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9d3585-06ab-4e00-b907-ac06cd516bf5",
              "name": "Nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -144
      ],
      "id": "060817c7-8649-4066-999d-0129c74a7957",
      "name": "penes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5dae39e-630e-4b9e-bd64-382befc82999",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        -144
      ],
      "id": "775344d0-f6e5-4da5-85b4-4bf3af5907a0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -144
      ],
      "id": "8457b3ab-510e-4863-87d8-b033d7a80953",
      "name": "Wait",
      "webhookId": "86ba4265-5171-4b30-a57e-3409c8991c72"
    },
    {
      "parameters": {
        "formTitle": "prueba",
        "formDescription": "esto es una prueba",
        "formFields": {
          "values": [
            {
              "fieldLabel": "nombre",
              "placeholder": "Paquito",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -208,
        -144
      ],
      "id": "40a1916e-b4c8-4926-9adc-72fb23b133ee",
      "name": "prueba uno",
      "webhookId": "9212f40b-295a-4c9f-82c5-659b3ed25b91"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-15T11:19:17.985Z",
      "updatedAt": "2025-11-15T11:19:17.985Z",
      "role": "workflow:owner",
      "workflowId": "vpXlm0kI4sMbdcNg",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-15T11:51:57.000Z",
  "versionId": "3a85e36c-0dc6-45e7-912c-4804ed880b82"
}