workflows/RAG Clinica.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-25T17:26:30.280Z",
  "id": "6SKKDtglVbfH0oeK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Clinica",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IHWuJ3a7MK9gMYKGA2uiV1lkWvx9aeH6",
          "mode": "list",
          "cachedResultName": "RAG clinica dental",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IHWuJ3a7MK9gMYKGA2uiV1lkWvx9aeH6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "55915142-1ed5-4615-8057-45719a458292",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2kFiT8a5fPNpnd7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5484c6b7-1848-4b10-b4da-0f9f4d33dfa2",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2kFiT8a5fPNpnd7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "c1ce79bf-7a2c-4a64-bff1-47e4c8ee0e6e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "lF7UohlhOobJXkZr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "63b503e0-944b-44df-a5e7-321924b3972a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "a39723d7-1d08-485a-b460-1b6408736385",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        368
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "clinicarag",
          "mode": "list",
          "cachedResultName": "clinicarag"
        },
        "options": {
          "pineconeNamespace": "clinica_rag"
        }
      },
      "id": "62a79de3-6e8f-4509-bd2e-61fb1bdc1f3b",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "ZjaedD1lFrbmepw0",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-25T17:26:30.293Z",
      "updatedAt": "2025-10-25T17:26:30.293Z",
      "role": "workflow:owner",
      "workflowId": "6SKKDtglVbfH0oeK",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-10-25T18:31:48Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-27T18:45:05.000Z",
  "versionId": "17ef2c3b-8877-47d7-a14f-43f7b45c2b73"
}