workflows/Sistema de notificación de nuevos leads.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-08T17:05:53.943Z",
  "id": "7ifWGEIaNiHYGDO3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sistema de notificación de nuevos leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuevo-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "405ea615-548e-4d57-bb40-44530010f276",
      "name": "Webhook",
      "webhookId": "c8b196fe-94b7-493f-9742-a3db2ce1d631"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac228356-bf5b-474a-8d91-afdb09138251",
              "leftValue": "={{ $json.body.nombre }}",
              "rightValue": "={{ $json.body.nombre }}{{ $json.body.email }}{{ $json.body.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "638e5f56-9a8d-4d4f-ae85-9f91da7a867c",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "={{ $json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6b933cc6-fd54-4ccf-b196-0c4117629179",
              "leftValue": "={{ $json.body.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -16
      ],
      "id": "06477124-2c7f-4fe0-b414-a01b6ce72603",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"error\": \"Faltan campos obligatorios\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        96
      ],
      "id": "fc28759f-ec79-4ed5-9d21-fcc942141c11",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BwUbP8sJnWUp9xvIZrK6gMqR7iq_Asvjnc_h8v0KRro",
          "mode": "list",
          "cachedResultName": "Prueba leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BwUbP8sJnWUp9xvIZrK6gMqR7iq_Asvjnc_h8v0KRro/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BwUbP8sJnWUp9xvIZrK6gMqR7iq_Asvjnc_h8v0KRro/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.body.nombre }}",
            "Email": "={{ $json.body.email }}",
            "Mensaje": "={{ $json.body.mensaje }}",
            "Fecha": "={{ $now.format('dd-MM-yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -112
      ],
      "id": "9bafe541-9591-4df2-9a6e-8343de8eab60",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7QvCi5UUFUsiQIlm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7186973879",
        "text": "=Nuevo lead recibido:\n👤 Nombre: {{ $('If').item.json.body.nombre }}\n✉️ Email: {{ $('If').item.json.body.email }}\n📝 Mensaje: {{ $('If').item.json.body.mensaje }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        -112
      ],
      "id": "fe6f1847-cd3f-42c3-969d-e3d8bb5ccb2f",
      "name": "Send a text message",
      "webhookId": "ba6a4849-160c-4bd8-bb6c-f0c087acff0b",
      "credentials": {
        "telegramApi": {
          "id": "GyCkN7M0nmQB9BTK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        32
      ],
      "id": "abf4d855-efcf-460a-8e1d-5668a967669b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb272a8d-a1ff-4d89-8860-8f6cb0a51fd0",
              "name": "hecho",
              "value": "hecho",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -112
      ],
      "id": "f9281e0e-1bb3-45de-9ae1-ecbc79601606",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2025-11-08T17:05:53.951Z",
      "updatedAt": "2025-11-08T17:05:53.951Z",
      "role": "workflow:owner",
      "workflowId": "7ifWGEIaNiHYGDO3",
      "projectId": "ROscBA9yKA7j3TQn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-12T08:08:28.000Z",
  "versionId": "61a9e631-bc04-44f8-8df9-fdd1e5385d19"
}